<ul class="thumbnails">
	<li ng-repeat="eachfile in newfiles" class="span3 gallery_height">
		<div class="thumbnail">
			<img ng-src={{eachfile.piclink}} alt="" ng-style="{'max-height': minheight}">
			<div class="caption">
				<h5>{{eachfile.label}}</h5>
				<h6>
					<p>{{eachfile.seasonname}}</p>
				</h6>
				<div ng-show="progressVisible">
            		<div class="percent">{{progress}}%</div>
            		<div class="progress-bar">
                		<div class="uploaded" ng-style="{'width': progress+'%'}"></div>
            		</div>
        		</div>
			</div>
		</div>
	</li>
	<li ng-repeat="eachfile in existingfiles" class="span3 gallery_height">
		<div class="thumbnail">
			<img ng-src={{eachfile.piclink}} alt="" ng-style="{'max-height': minheight}">
			<div class="caption">
				<h5>{{eachfile.label}}</h5>
				<h6>
					<p>{{eachfile.seasonname}}</p>
				</h6>
				<p>
					<a href="#" class="btn btn-primary">Remove</a>
				</p>
			</div>
		</div>
	</li>
</ul>
