<link href="css/smart_wizard.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="lib/jquery/jquery.smartWizard-2.0.js"></script>
<div class="container">
    <div class="row">
        <div class="minumum_height">
            <table align="center" border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <td>
                        <!-- Smart Wizard wizard1-->
                        <div class="swMain" smart-wizard callback-fn="finish">
                            <ul>
                                <li><a href="#step-1">
                                    <label class="stepNumber">
                                        1</label>
                                    <span class="stepDesc">Step 1<br />
                                        <small>Step 1 description</small> </span></a></li>
                                <li><a href="#step-2">
                                    <label class="stepNumber">
                                        2</label>
                                    <span class="stepDesc">Step 2<br />
                                        <small>Step 2 description</small> </span></a></li>
                                <li><a href="#step-3">
                                    <label class="stepNumber">
                                        3</label>
                                    <span class="stepDesc">Step 3<br />
                                        <small>Step 3 description</small> </span></a></li>
                                <li><a href="#step-4">
                                    <label class="stepNumber">
                                        4</label>
                                    <span class="stepDesc">Step 4<br />
                                        <small>Step 4 description</small> </span></a></li>
                            </ul>
                            <div id="step-1">
                                <h2 class="StepTitle">
                                    About Us</h2>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                    exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
                                    irure dolor in reprehenderit in
                                </p>
                                <div>
                                    <textarea id="textarea" rows="12" style="width: 920px;"></textarea></div>
                            </div>
                            <div id="step-2">
                                <h2 class="StepTitle">
                                    Product Line</h2>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                    exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
                                    irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                                    pariatur. Excepteur sint occaecat
                                </p>
                                <div style="width: 560px;" class="ProductSelection">
                                    <div class="divi2">
                                    </div>
                                    <div class="ProductCategory">
                                        <input type="checkbox" /><span class="Title">Women's RTW</span></div>
                                    <div class="ProductCategory">
                                        <input type="checkbox" /><span class="Title">Jewellery</span></div>
                                    <div class="ProductCategory">
                                        <input type="checkbox" /><span class="Title">Women sheos</span></div>
                                    <div class="ProductCategory">
                                        <input type="checkbox" /><span class="Title">Swimwear</span></div>
                                    <div class="ProductCategory">
                                        <input type="checkbox" /><span class="Title">Denim</span></div>
                                    <div class="ProductCategory">
                                        <input type="checkbox" /><span class="Title">Kids</span></div>
                                    <div class="ProductCategory">
                                        <input type="checkbox" /><span class="Title">OUTER WEAR</span></div>
                                    <div class="ProductCategory">
                                        <input type="checkbox" /><span class="Title">HOME</span></div>
                                    <div class="ProductCategory">
                                        <input type="checkbox" /><span class="Title">ACTIVE WEAR</span></div>
                                    <div class="ProductCategory">
                                        <input type="checkbox" /><span class="Title">ACCESSORIES</span></div>
                                    <div class="ProductCategory">
                                        <input type="checkbox" /><span class="Title">MENÕS RTW</span></div>
                                    <div class="ProductCategory">
                                        <input type="checkbox" /><span class="Title">WATCHES</span></div>
                                    <div class="ProductCategory">
                                        <input type="checkbox" /><span class="Title">MENS SHEOS</span></div>
                                    <div class="ProductCategory">
                                        <input type="checkbox" /><span class="Title">HATS</span></div>
                                    <div class="ProductCategory">
                                        <input type="checkbox" /><span class="Title">HAND BAG</span></div>
                                    <div class="ProductCategory">
                                        <input type="checkbox" /><span class="Title">LUGGAGE</span>
                                    </div>
                                    <div class="ProductCategory">
                                        <input type="checkbox" /><span class="Title">LINGERIE</span></div>
                                    <div class="ProductCategory">
                                        <input type="checkbox" /><span class="Title">GIFTS</span></div>
                                </div>
                            </div>
                            <div id="step-3">
                                <h2 class="StepTitle">
                                    Brands Carrried</h2>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                    exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
                                    irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                                    pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                                    deserunt mollit anim id est laborum.
                                </p>
                                <div style="clear: both;">
                                    <h4 style="text-decoration: underline; min-width: 200px;">
                                        Brands Carrried</h4>
                                </div>
                                <div class="divi2">
                                </div>
                                <div>
                                    <input type="text" id="txt_brands_carried" class="span3" placeholder="Enter Brand Name" />
                                    <button class="btn btn-primary  addbrands_btn" style="width: 75px">
                                        ADD
                                    </button>
                                </div>
                                <div class="divi2">
                                </div>
                                <div class="control-group">
                                    <div class="controls">
                                        <select multiple="multiple" id="multiSelect" class="span4">
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div id="step-4">
                                <h2 class="StepTitle">
                                    Step 4 Content</h2>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                    exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
                                    irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                                    pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                                    deserunt mollit anim id est laborum.
                                </p>
                                <ul class="thumbnails">
                                    <li>
                                        <div class="thumbnail_noborder">
                                            <a href="#">
                                                <img src="http://placehold.it/231x150" alt=""></a>
                                            <div class="collections_text">
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- End SmartWizard Content 1 -->
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>