<!--body-->
<div class="container minumum_height">
    <div class="row">
        <!-- right pannel -->
        <div class="span3">
            <h4 class="subHeading_advertisement">
                Brand</h4>
            <div class="divi2">
            </div>
            <ul class="thumbnails">
                <li class="span2">
                    <div>
                        <a href="#profile">
                            <img alt="" src="http://placehold.it/50x50" class="pull-left"></a> <a href="#profile"
                                class="boutiquename_title">Brand Name</a>
                    </div>
                </li>
            </ul>
        </div>
        <!-- right pannel -->
        <!-- left pannel -->
        <div class="span9">
            <div>
                <span class="left">
                    <h4 class="subHeading_no_underline">
                        Edit Collection</h4>
                </span>
                <div class="divi2 topborderline">
                </div>
                  <span class="left">
                    <h5 class="info">
                        <a href="#/collections">Collections</a><span style="padding-right: 3px; padding-left: 3px;"
							class="divider">/ Untitled</h5>
                </span><span id="span_btns" class="right"><a href="#"
                    class="add_edit adjust_height">Add Photos</a></span>
                <div class="divi2 topborderline">
                </div>
            </div>
            <div>
                <!-- data pannel -->
                <div>
                <ul class="thumbnails">
              <li class="span2">
                <div class="thumbnail">
                  <img src="http://placehold.it/150x175" alt="">
                  <div class="caption">
                    <h5>Thumbnail label</h5>
                    <h6><p>Season Name</p></h6>
                    <p><a href="#" class="btn btn-primary">Remove</a> </p>
                  </div>
                </div>
              </li>
              <li class="span2">
                <div class="thumbnail">
                  <img src="http://placehold.it/150X175" alt="">
                  <div class="caption">
                    <h5>Thumbnail label</h5>
 					  <h6><p>Season Name</p></h6>
                    <p><a href="#" class="btn btn-primary">Remove</a> </p>
                  </div>
                </div>
              </li>
              <li class="span2">
                <div class="thumbnail">
                  <img src="http://placehold.it/150X175" alt="">
                  <div class="caption">
                    <h5>Thumbnail label</h5>
 					  <h6><p>Season Name</p></h6>
                    <p><a href="#" class="btn btn-primary">Remove</a></p>
                  </div>
                </div>
              </li>
              <li class="span2">
                <div class="thumbnail">
                  <img src="http://placehold.it/150X175" alt="">
                  <div class="caption">
                    <h5>Thumbnail label</h5>
 					  <h6><p>Season Name</p></h6>
                    <p><a href="#" class="btn btn-primary">Remove</a></p>
                  </div>
                </div>
              </li>
              <li class="span2">
                <div class="thumbnail">
                  <img src="http://placehold.it/150X175" alt="">
                  <div class="caption">
                    <h5>Thumbnail label</h5>
 					  <h6><p>Season Name</p></h6>
                    <p><a href="#" class="btn btn-primary">Remove</a></p>
                  </div>
                </div>
              </li>
              <li class="span2">
                <div class="thumbnail">
                  <img src="http://placehold.it/150X175" alt="">
                  <div class="caption">
                    <h5>Thumbnail label</h5>
 					  <h6><p>Season Name</p></h6>
                    <p><a href="#" class="btn btn-primary">Remove</a></p>
                  </div>
                </div>
              </li>
              <li class="span2">
                <div class="thumbnail">
                  <img src="http://placehold.it/150X175" alt="">
                  <div class="caption">
                    <h5>Thumbnail label</h5>
 					  <h6><p>Season Name</p></h6>
                    <p><a href="#" class="btn btn-primary">Remove</a></p>
                  </div>
                </div>
              </li>
              <li class="span2">
                <div class="thumbnail">
                  <img src="http://placehold.it/150X175" alt="">
                  <div class="caption">
                    <h5>Thumbnail label</h5>
 					  <h6><p>Season Name</p></h6>
                    <p><a href="#" class="btn btn-primary">Remove</a></p>
                  </div>
                </div>
              </li>
            </ul>
                
                </div>
                <!-- data pannel -->
            </div>
        </div>
        <!-- left pannel -->
    </div>
</div>
<!--body-->
