<body>
    <!--body-->
    <div class="container">
        <div class="row">
            <!-- left-pannel -->
            <div class="span2">
                <h4 class="small_boutiqueprofile">
                    Boutique</h4>
                <div class="divi2">
                </div>
                <ul class="thumbnails">
                    <li class="span2">
                        <div>
                            <a href="#Profile">
                                <img alt="" src="http://placehold.it/50x50" class="pull-left"></a> <a href="#Profile"
                                    class="brandname_title">{{entityname}}</a>
                        </div>
                    </li>
                </ul>
            </div>
            <!-- left-pannel -->
            <!-- right-pannel -->
            <div class="span10">
                <div>
                    <h4 class="subHeading">
                        Help</h4>
                    <div class="divi2">
                    </div>
                    <div style="margin-left: 10px;">
                        <ol>
                            <li>
                                <h5>
                                    <a href="#One" style="text-decoration: none; color: Navy;">Lorem Ipsum is simply dummy
                                        text of the printing and typesetting industry. Lorem Ipsum has been the industry's
                                        is question One ? </a>
                                </h5>
                            </li>
                            <li>
                                <h5>
                                    <a href="#Two" style="text-decoration: none; color: Navy;">Lorem Ipsum is simply dummy
                                        text of the printing and typesetting industry. Lorem Ipsum has been the industry's
                                        is question Two ? </a>
                                </h5>
                            </li>
                            <li>
                                <h5>
                                    <a href="#Three" style="text-decoration: none; color: Navy;">Lorem Ipsum is simply
                                        dummy text of the printing and typesetting industry.the industry's is question Three
                                        ? </a>
                                </h5>
                            </li>
                            <li><a href="#Four">This is question Four</a></li>
                            <li><a href="#Five">This is question Five</a></li>
                            <li><a href="#Six">This is question Six</a></li>
                            <li><a href="#Seven">This is question Seven</a></li>
                            <li><a href="#Eight">This is question Eight</a></li>
                            <li><a href="#Nine">This is question Nine</a></li>
                            <li><a href="#Ten">This is question Ten</a></li>
                        </ol>
                    </div>
                    <div style="margin-left: 10px;">
                        <h5>
                            <a id="One" style="text-decoration: none; color: Navy;">Lorem Ipsum is simply dummy
                                text of the printing and typesetting industry. Lorem Ipsum has been the industry's
                                is question One ?</a></h5>
                        <p style="margin-left: 12px;">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                            Ipsum has been the industry's standard dummy text ever since the 1500s, when an
                            unknown printer took a galley of type and scrambled it to make a type specimen book.
                            It has survived not only five centuries, but also the leap into electronic typesetting,
                            remaining essentially unchanged. It was popularised in the 1960s with the release
                            of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop
                            publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                        </p>
                        <div class="underline">
                        </div>
                        <h5>
                            <a id="Two">This is question Two</a></h5>
                        <p style="margin-left: 12px;">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                            Ipsum has been the industry's standard dummy text ever since the 1500s, when an
                            unknown printer took a galley of type and scrambled it to make a type specimen book.
                            It has survived not only five centuries, but also the leap into electronic typesetting,
                            remaining essentially unchanged. It was popularised in the 1960s with the release
                            of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop
                            publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                        </p>
                        <div class="underline">
                        </div>
                        <h5>
                            <a id="Three">This is question Three</a></h5>
                        <p style="margin-left: 12px;">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                            Ipsum has been the industry's standard dummy text ever since the 1500s, when an
                            unknown printer took a galley of type and scrambled it to make a type specimen book.
                            It has survived not only five centuries, but also the leap into electronic typesetting,
                            remaining essentially unchanged. It was popularised in the 1960s with the release
                            of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop
                            publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                        </p>
                        <div class="underline">
                        </div>
                        <h5>
                            <a id="Four">This is question Four</a></h5>
                        <p style="margin-left: 12px;">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                            Ipsum has been the industry's standard dummy text ever since the 1500s, when an
                            unknown printer took a galley of type and scrambled it to make a type specimen book.
                            It has survived not only five centuries, but also the leap into electronic typesetting,
                            remaining essentially unchanged. It was popularised in the 1960s with the release
                            of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop
                            publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                        </p>
                        <div class="underline">
                        </div>
                        <h5>
                            <a id="Five">This is question Five</a></h5>
                        <p style="margin-left: 12px;">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                            Ipsum has been the industry's standard dummy text ever since the 1500s, when an
                            unknown printer took a galley of type and scrambled it to make a type specimen book.
                            It has survived not only five centuries, but also the leap into electronic typesetting,
                            remaining essentially unchanged. It was popularised in the 1960s with the release
                            of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop
                            publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                        </p>
                        <div class="underline">
                        </div>
                        <h5>
                            <a id="Six">This is question Six</a></h5>
                        <p style="margin-left: 12px;">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                            Ipsum has been the industry's standard dummy text ever since the 1500s, when an
                            unknown printer took a galley of type and scrambled it to make a type specimen book.
                            It has survived not only five centuries, but also the leap into electronic typesetting,
                            remaining essentially unchanged. It was popularised in the 1960s with the release
                            of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop
                            publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                        </p>
                        <div class="underline">
                        </div>
                        <h5>
                            <a id="Seven">This is question Seven</a></h5>
                        <p style="margin-left: 12px;">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                            Ipsum has been the industry's standard dummy text ever since the 1500s, when an
                            unknown printer took a galley of type and scrambled it to make a type specimen book.
                            It has survived not only five centuries, but also the leap into electronic typesetting,
                            remaining essentially unchanged. It was popularised in the 1960s with the release
                            of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop
                            publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                        </p>
                        <div class="underline">
                        </div>
                        <h5>
                            <a id="Eight">This is question Eight</a></h5>
                        <p style="margin-left: 12px;">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                            Ipsum has been the industry's standard dummy text ever since the 1500s, when an
                            unknown printer took a galley of type and scrambled it to make a type specimen book.
                            It has survived not only five centuries, but also the leap into electronic typesetting,
                            remaining essentially unchanged. It was popularised in the 1960s with the release
                            of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop
                            publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                        </p>
                        <div class="underline">
                        </div>
                        <h5>
                            <a id="Nine">This is question Nine</a></h5>
                        <p style="margin-left: 12px;">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                            Ipsum has been the industry's standard dummy text ever since the 1500s, when an
                            unknown printer took a galley of type and scrambled it to make a type specimen book.
                            It has survived not only five centuries, but also the leap into electronic typesetting,
                            remaining essentially unchanged. It was popularised in the 1960s with the release
                            of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop
                            publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                        </p>
                        <div class="underline">
                        </div>
                        <h5>
                            <a id="Ten">This is question Ten</a></h5>
                        <p style="margin-left: 12px;">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                            Ipsum has been the industry's standard dummy text ever since the 1500s, when an
                            unknown printer took a galley of type and scrambled it to make a type specimen book.
                            It has survived not only five centuries, but also the leap into electronic typesetting,
                            remaining essentially unchanged. It was popularised in the 1960s with the release
                            of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop
                            publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                        </p>
                        <a href="#Top">Back to Top</a>
                    </div>
                </div>
            </div>
            <!-- right-pannel -->
        </div>
    </div>
</body>
