<!--body-->
<div class="container minumum_height">
    <div class="row">
        <!-- left pannel -->
        <div ng-include src="'templates/boutique/LeftMain_Panel.htm'">
        </div>
        <!-- middle pannel -->
        <div class="span7">
            <h4 class="subHeading_no_underline">
                NETWORK</h4>
            <div class="divi2 topborderline">
            </div>
            <ul class="nav nav-tab nav-stacked">
                <li ng-repeat="network in mynetwork">
                    <div class="network">
                        <span class="brand_image"><a href="#/{{network.networklistitemID}}/profile">
                            <img alt="" src="{{network.profilepiclink}}" class="pull-left"></a> </span><span
                                class="network_text">
                                <h3>
                                    <span><a href="#/{{network.networklistitemID}}/profile">{{network.networklistitem}}</a></span></h3>
                            </span><span class="btn-group pull-right">
                                <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                    Action <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Block</a></li>
                                    <li><a href="#">Delete</a></li>
                                </ul>
                            </span>
                    </div>
                </li>
            </ul>
        </div>
        <!-- middle pannel -->
        <!-- right pannel -->
        <div class="span3" style="vertical-align: top">
            <div>
                <h4 class="subHeading_advertisement">
                    TRENDING</h4>
                <div class="divi2">
                </div>
                <ul class="nav nav-tab nav-stacked">
                    <li ng-repeat="trend in trending">
                        <div class="advertisementfeed">
                            <div class="brand_image">
                                <a href="#/{{trend.trendlistitemID}}">
                                    <img alt="" ng-src="{{trend.trendpiclink}}" class="pull-left"></a></div>
                            <div class="advertisement_text">
                                <h3>
                                    <a href="#/{{trend.trendlistitemID}}" title="">{{trend.trendlistitem}}</a></h3>
                                <p>
                                    {{trend.post}}</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <!-- right pannel -->
    </div>
</div>
<!-- modal -->
<div class="modal  hide" id="invite">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
        </button>
        <h4 class="subHeading_no_underline">
            Send Invite</h4>
    </div>
    <div class="modal-body">
        <input type="text" style="width: 500px;" placeholder="Enter email" />
        <textarea style="width: 500px;" rows="9" placeholder="Type a message"></textarea>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal">Close</a> <a href="#" class="btn btn-primary">
            Send Request</a>
    </div>
</div>
<!-- modal -->