<!--body-->
<div class="container minumum_height">
    <div class="row">
        <!-- left-pannel -->
        <div class="span2">
            <h4 class="small_boutiqueprofile">
                Boutique</h4>
            <div class="divi2">
            </div>
            <ul class="thumbnails">
                <li class="span2">
                    <div>
                        <a href="#profile">
                            <img alt="" src="http://9.mshcdn.com/follow/uploads/topic/image/56/95/2d/9f/81/84/thumb_fashion-d0326c6d2d.jpeg"
                                class="pull-left"></a> <a href="#profile" class="brandname_title">{{entityname}}</a>
                    </div>
                </li>
            </ul>
        </div>
        <!-- left-pannel -->
        <!-- middle pannel -->
        <div class="span10">
            <h4 class="subHeading_no_underline">
                Notification</h4>
            <div class="divi2 topborderline">
            </div>
            <ul class="nav nav-tab nav-stacked">
                <li ng-repeat="network in mynetwork">
                    <div class="network">
                        <span class="brand_image"><a href="#/{{network.networklistitemID}}/profile">
                            <img alt="" src="{{network.profilepiclink}}" class="pull-left"></a> </span><span
                                class="network_text">
                                <h3>
                                    <span><a href="#/{{network.networklistitemID}}/profile">{{network.networklistitem}}</a></span></h3>
                            </span><span class="btn-group pull-right">
                                <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                    Action <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Accept</a></li>
                                    <li><a href="#">Delete</a></li>
                                </ul>
                            </span>
                    </div>
                </li>
            </ul>
        </div>
        <!-- middle pannel -->
    </div>
</div>
