<!--body-->
<div class="container">
    <div class="row">
        <!-- left-pannel -->
        <div class="span2">
            <h4 class="small_boutiqueprofile">
                Boutique</h4>
            <div class="divi2">
            </div>
            <ul class="thumbnails">
                <li class="span2">
                    <div>
                        <a href="#profile">
                            <img alt="" src="http://placehold.it/50x50" class="pull-left"></a> <a href="#profile"
                                class="brandname_title">Boutique Name</a>
                    </div>
                </li>
            </ul>
            <div class="search_box">
                <h2>
                    FILTERS</h2>
                <div class="advanced_search">
                    <h4>
                        Brand</h4>
                    <input type="text" class="adv_sch" />
                </div>
                <div class="advanced_search">
                    <h4>
                        Season</h4>
                    <input type="text" class="adv_sch" />
                </div>
                <div class="advanced_search">
                    <h4>
                        DELIVERY DATE</h4>
                    <input type="text" class="adv_sch" />
                </div>
                <div class="clr">
                </div>
            </div>
            <div>
                <div>
                    <h3 class="treeview-heading">
                        category</h3>
                </div>
                <div checkbox-tree ng-model="searchFilter">
                </div>
            </div>
        </div>
        <!-- left-pannel -->
        <!-- right pannel -->
        <div class="span10">
            <div>
                <span class="left">
                    <h4 class="subHeading_no_underline">
                        STYLES - {{stylesseason.seasonname}}</h4>
                </span><span id="span_btns"><span class="right"><a href="#{{backButton}}" class="add_edit adjust_height">
                    Back to Line sheets</a></span></span>
                <div class="divi2 topborderline">
                </div>
                <ul class="thumbnails">
                    <li ng-repeat="style in styles">
                        <div class="view view-first">
                            <a href="#/{{style.stylelistitemid}}">
                                <img src="{{style.stylecoverpic}}" alt=""></a>
                            <div class="mask">
                            </div>
                            <div class="content">
                                <div class="mask">
                                    <ul ng-show="isMyProfile">
                                        <li><a href="#" title="Delete"><i class="icon-trash icon-white"></i></a></li>
                                        <li><a href="#/editstyles" title="Edit"><i class="icon-edit icon-white"></i></a>
                                        </li>
                                    </ul>
                                    <p>
                                        <u>{{style.stylename}}</u>
                                        <br />
                                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                        Ipsum has been the industry's standard dummy text ever since the 1500s, when an
                                        unknown printer took a galley of type i</p>
                                    <h1>
                                        <a href="#/style" class="mask_edit">view</a></h1>
                                </div>
                            </div>
                            <div class="divi2">
                            </div>
                        </div>
                        <div class="brandtitle_price">
                            <h3>
                                {{style.stylename}}</h3>
                            <h3>
                                {{style.stylebrandname}}</h3>
                            <h3>
                                {{style.styleprice}}</h3>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <!-- right pannel -->
    </div>
</div>
