<!--body-->
<div class="container minimum_height">
	<div class="row">
		<!-- Main pane -->
		<div class="span12">
		<div>
				
			<!-- header pane -->
			<div style="border-bottom: 1px solid black; position: relative; top: -2px;">
				<span class="left ywbreadcrumb header_width"> <a class="nonactive"
					href="#/collections">collection</a> <span class="ywdivider">/</span> <span>
					Rebecca Minkoff {{galleryname}}</span></span>
			</div>
			<div style="border-bottom: 1px solid black;">
				<span class="left right_pane_info"> shop this collection  </span> <span class="right"> <a
					ng-href="#/addcollections?id={{galleryid}}" class="rightpane_add_btn">Organize</a>
				</span>
			</div>
			<!-- header pane -->
			
			<div elastislide>
				<div id="lookbookS" class="lookbook-wrapper">
					<div class="lookbook">
						<ul class="collectionshowcase" style="width: 8746px; margin-left: 0px; ">
                        	<li ng-repeat="collection in photogallery" style="margin-right: 5px; height:450px; width: 306.6666666666667px;">
                       	 		<a id="single_image" style="border-width: 3px;">
                               		<img style=" height:450px; width: 306.6666666666667px;" ng-src="{{collection.thumbnail_url}}">
                               	</a>
                            </li>
						</ul>
					</div>
			
					<div class="es-nav">
						<span class="es-nav-prev" style="display: none; ">Previous</span>
						<span class="es-nav-next" style="display: none; ">Next</span>
					</div>
				</div>
			</div>
		</div>
		<!-- Main pane -->
	</div>
</div>
<!--body-->