<!--body-->
<div class="container minimum_height">
	<div class="row">
		<!-- right pannel -->
		<div class="span3">
			<div class="underline">
				<span ui-if="!iambrand" class="leftpane_entity">Boutique </span> <span
					ui-if="iambrand" class="leftpane_entity">Brand </span>
			</div>
			<div class="divi2"></div>

			<ul class="thumbnails">
				<li class="span3">
					<div>
						<span> <a href="#profile"> <img alt=""
								ng-src={{profilepic.thumbnail_url}}
								class="pull-left leftpane_profile_img"></a>
						</span> <span> <a href="#profile" class="leftpane_entity_name">{{entityname}}</a>
						</span>
					</div>
				</li>
			</ul>
			<div>
				<h4 class="leftpane_subheading">Styles In this lookbook(0)</h4>
				<ul class="nav nav-tab nav-stacked">
					<li ng-repeat="style in styles">
						<div class="leftpanefeed">
							<div class="feedimage">
								<a
									ng-href="#/stylepreview?id={{style.styleid}}&&cat={{category}}&&stylesheetid={{style.styleid}}">
									<img alt="" ng-src="{{style.profileleftpic}}" class="pull-left">
								</a>
							</div>
							<div class="leftpanefeed_text">
								<p style="margin-bottom:5px;font-size:12px;">
									<a class="vw-feed" style="text-decoration:none;color:black;">{{brandname}}</a>
								</p>
								<p style="margin-bottom:5px;font-size:12px;">
									<a class="vw-feed-sub" style="text-decoration:none;color:black;" title="">{{style.styleno}}</a>
								</p>
								<p style="margin-top: 5px;">
									<span
										style="font-weight: normal; font-size: 12px; cursor: pointer; text-transform: uppercase;">
										<span class="WebRupee"
										style="font-size: 12px; margin-right: 3px;">Rs.</span>{{style.price}}
									</span>
								</p>
								<p style="margin-top: 3px; font-weight: bold;">
									<span><a style="color:black;" ng-click="editstyle(style)">Edit</a></span> <span
										class="divider">/</span> <span><a style="color:black;"
										ng-click="deletestyle(style.styleid)">Delete</a></span>
								</p>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
		<!-- left pane -->
		<!-- right pane -->
		<div class="span9">
			<!-- header -->
			<div>
				<div
					style="border-bottom: 1px solid black;">
					<span class="left ywbreadcrumb header_width"> <a
						class="nonactive" href="#/stylesheets">Lookbooks</a> <span
						class="ywdivider">/</span> <a class="nonactive"
						ng-href="#/stylesheet?id={{stylesheetid}}&&cat={{category}}">
							{{brandname}} {{stylesheetname}}</a> <span class="ywdivider">/</span>
						<span> Organize</span></span>
				</div>

				<div class="alert alert-info" style="margin: 10px 0;">
					<button type="button" class="close" data-dismiss="alert">
						<small>x</small>
					</button>
					Drag & drop photos here or Choose photos to upload You've used 10%
					of your 300 MB upload limit Pro members get unlimited uploads.
					Upgrade?
				</div>
				<!-- header -->
				<div>
					<div class="leftcolumn">
						<div class="imageprevw">
							<ul class="thumbnails">
								<li class="spanstyle" style="display: inline;"><img
									style="max-width: 271px; max-height: 365px;" width="271" height="365" ng-src="{{mainimage}}" alt=""></li>
							</ul>
						</div>
						<div class="moreviews-styles" ui-sortable
							ng-model="newstyle.availableImages"
							ui-options="{update: stylesorderchanged}">
							<img ng-repeat="eachfile in newstyle.availableImages"
								class="thumbnailz" width="83" height="113"
								style="max-width: 80px; max-height: 113px; min-width: 80px; min-height: 113px;margin:2px;"
								ng-src="{{eachfile.thumbnail_url}}" alt="">
						</div>
					</div>
					<div class="rightcolumn">
						<div>
							<div id="stylecontainer" styleupload-plugin>
								<span class="left fileinput-button"> <span
									class="rightpane_add_btn">Choose Files</span> <input
									id="styleupload" type="file" name="files[]" multiple
									data-url="stylesheet/addstyleimages"
									onchange="angular.element(this).scope().filesadded(this)">
								</span>
							</div>
							<br>

							<div>
								<div
									style="font-weight: Bold; font-size: 12px; cursor: pointer; text-transform: uppercase;">
									<u>Style Number </u>
								</div>
								<input type="text" class="spanedt_txt"
									ng-model="newstyle.styleno" placeholder="Add style number here">
								</input>
								<div class="divi2"></div>
								<div
									style="font-weight: Bold; font-size: 12px; cursor: pointer; text-transform: uppercase;">
									<u>Fabrication </u>
								</div>
								<input type="text" class="spanedt_txt"
									ng-model="newstyle.fabrication"
									placeholder="Add fabrication here"> </input> <br>
								<div
									style="font-weight: Bold; font-size: 12px; cursor: pointer; text-transform: uppercase;">
									<u>Description </u>
								</div>
								<textarea class="spanedt_txt1" rows="5"
									ng-model="newstyle.description" placeholder="Add description"></textarea>

								<br>
								<div
									style="font-weight: Bold; font-size: 12px; cursor: pointer; text-transform: uppercase; margin-bottom: 2px;">
									Swatches</div>
								<div style="border-bottom: 1px solid black;">
									<span class="right fileinput-button"> <span
										class="rightpane_add_btn">Upload Swatch</span> <input
										id="fileupload" type="file" name="files[]" multiple
										data-url="collection/addphotos"
										onchange="angular.element(this).scope().addfiles(this)">
									</span>
								</div>
								<br>
								<div class="addswatches">
									<div>
										<a rel="tooltip" data-original-title="SALSA RED/ RED"><img
											width="25" height="25" src="img/Red.jpeg" alt=""
											style="margin-bottom: 6px;"></a> <input type="text"
											class="spanedt_txt" placeholder="Add swatch name here">
										</input> <a title="delete swatch">X</a>
									</div>
									<div>
										<a rel="tooltip" data-original-title="SALSA RED/ RED"><img
											width="25" height="25" src="img/Red.jpeg" alt=""
											style="margin-bottom: 6px;"></a> <input type="text"
											class="spanedt_txt" placeholder="Add swatch name here">
										</input> <a title="delete swatch">X</a>
									</div>
									<div>
										<a rel="tooltip" data-original-title="SALSA RED/ RED"><img
											width="25" height="25" src="img/Red.jpeg" alt=""
											style="margin-bottom: 6px;"></a> <input type="text"
											class="spanedt_txt" placeholder="Add swatch name here">
										</input> <a title="delete swatch">X</a>
									</div>
									<div>
										<a rel="tooltip" data-original-title="SALSA RED/ RED"><img
											width="25" height="25" src="img/Red.jpeg" alt=""
											style="margin-bottom: 6px;"></a> <input type="text"
											class="spanedt_txt" placeholder="Add swatch name here">
										</input> <a title="delete swatch">X</a>
									</div>
								</div>
								<br>
								<div
									style="font-weight: Bold; font-size: 12px; cursor: pointer; text-transform: uppercase;">
									<u>Size</u>
								</div>
								<div>
									<div>
										<input type="checkbox"><span class="checkbx_text"
											style="margin-left: 3px;">Small</span>
									</div>
									<div>
										<input type="checkbox"><span class="checkbx_text"
											style="margin-left: 3px;">Meduim</span>
									</div>
									<div>
										<input type="checkbox"><span class="checkbx_text"
											style="margin-left: 3px;">Large</span>
									</div>
								</div>
								<div class="divi2"></div>
								<div
									style="font-weight: Bold; font-size: 12px; cursor: pointer; text-transform: uppercase;">
									<u>Price</u>
								</div>
								<div>
									<input type="text" class="spanedt_txt"
										ng-model="newstyle.price" placeholder="Add price here" />
								</div>


							</div>

							<!-- Bags -->
							<div style="display: none;">
								<div
									style="font-weight: Bold; font-size: 12px; cursor: pointer; text-transform: uppercase;">
									<u>Style Number </u>
								</div>
								<input type="text" class="spanedt_txt"
									ng-model="newstyle.styleno" placeholder="Add style number here">
								</input>
								<div
									style="font-weight: Bold; font-size: 12px; cursor: pointer; text-transform: uppercase;">
									<u>Description </u>
								</div>
								<textarea class="spanedt_txt1" rows="5"
									ng-model="newstyle.description" placeholder="Add description"></textarea>
								<br>
								<div
									style="font-weight: Bold; font-size: 12px; cursor: pointer; text-transform: uppercase;">
									<u>Size</u>
								</div>
								<div>
									<div>
										<input type="checkbox"><span class="checkbx_text"
											style="margin-left: 3px;">one size</span>
									</div>
								</div>
								<div class="divi2"></div>
								<div
									style="font-weight: Bold; font-size: 12px; cursor: pointer; text-transform: uppercase;">
									<u>Price</u>
								</div>
								<div>
									<input type="text" class="spanedt_txt"
										ng-model="newstyle.price" placeholder="Add price here" />
								</div>
							</div>
							<!-- bags  -->


							<!-- shoes -->
							<div style="display: none;">
								<div
									style="font-weight: Bold; font-size: 12px; cursor: pointer; text-transform: uppercase;">
									<u>Style Number </u>
								</div>
								<input type="text" class="spanedt_txt"
									ng-model="newstyle.styleno" placeholder="Add style number here">
								</input>
								<div
									style="font-weight: Bold; font-size: 12px; cursor: pointer; text-transform: uppercase;">
									<u>Description </u>
								</div>
								<textarea class="spanedt_txt1" rows="5"
									ng-model="newstyle.description" placeholder="Add description"></textarea>
								<br>
								<div
									style="font-weight: Bold; font-size: 12px; cursor: pointer; text-transform: uppercase;">
									<u>Size</u>
								</div>
								<div>
									<div>
										<input type="checkbox"><span class="checkbx_text"
											style="margin-left: 3px;">Size 6</span>
									</div>
									<div>
										<input type="checkbox"><span class="checkbx_text"
											style="margin-left: 3px;">Size 7</span>
									</div>
									<div>
										<input type="checkbox"><span class="checkbx_text"
											style="margin-left: 3px;">Size 8</span>
									</div>
									<div>
										<input type="checkbox"><span class="checkbx_text"
											style="margin-left: 3px;">Size 9</span>
									</div>
									<div>
										<input type="checkbox"><span class="checkbx_text"
											style="margin-left: 3px;">Size 10</span>
									</div>
									<div>
										<input type="checkbox"><span class="checkbx_text"
											style="margin-left: 3px;">Size 11</span>
									</div>
									<div>
										<input type="checkbox"><span class="checkbx_text"
											style="margin-left: 3px;">Size 12</span>
									</div>
								</div>
								<div class="divi2"></div>
								<div
									style="font-weight: Bold; font-size: 12px; cursor: pointer; text-transform: uppercase;">
									<u>Price</u>
								</div>
								<div>
									<input type="text" class="spanedt_txt"
										ng-model="newstyle.price" placeholder="Add price here" />
								</div>
							</div>
							<!-- shoes  -->

							<!-- jewllery -->
							<div style="display: none;">
								<div
									style="font-weight: Bold; font-size: 12px; cursor: pointer; text-transform: uppercase;">
									<u>Style Number </u>
								</div>
								<input type="text" class="spanedt_txt"
									ng-model="newstyle.styleno" placeholder="Add style number here">
								</input>
								<div
									style="font-weight: Bold; font-size: 12px; cursor: pointer; text-transform: uppercase;">
									<u>Description </u>
								</div>
								<textarea class="spanedt_txt1" rows="5"
									ng-model="newstyle.description" placeholder="Add description"></textarea>
								<br>
								<div
									style="font-weight: Bold; font-size: 12px; cursor: pointer; text-transform: uppercase;">
									<u>Size</u>
								</div>
								<div>
									<div>
										<input type="checkbox"><span class="checkbx_text"
											style="margin-left: 3px;">one size</span>
									</div>
								</div>
								<div class="divi2"></div>
								<div
									style="font-weight: Bold; font-size: 12px; cursor: pointer; text-transform: uppercase;">
									<u>Price</u>
								</div>
								<div>
									<input type="text" class="spanedt_txt"
										ng-model="newstyle.price" placeholder="Add price here" />
								</div>
							</div>
							<!-- jewllery  -->

							<div class="pull-right">
								<button type="button" class="btn" ng-click="exitstylepane()">
									<i class=""></i><span>Exit</span>
								</button>
								<button type="button" class="btn btn-primary"
									ng-disabled="form.$invalid" ng-click="updatestyle()">
									<i class=""></i><span>Add to Lookbook</span>
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>



	</div>


	<!--body-->