<!--body-->
<div class="container minimum_height">
	<div class="row">
		<!-- left pane -->
		<div class="span3">
			<div class="underline">
				<span ui-if="!iambrand" class="leftpane_entity">Boutique </span> <span
					ui-if="iambrand" class="leftpane_entity">Brand </span>
			</div>
			<div class="divi2"></div>
			<ul class="thumbnails">
				<li class="span3">
					<div>
						<span> <a ui-if="isMyProfile" ng-href="#profile"> <img
								alt="" ng-src={{profilepic.thumbnail_url}}
								class="pull-left leftpane_profile_img"></a> <a
							ui-if="!isMyProfile" ng-href="#/{{profileid}}/profile"> <img
								alt="" ng-src={{profilepic.thumbnail_url}}
								class="pull-left leftpane_profile_img"></a>
						</span> <span> <a ui-if="isMyProfile" ng-href="#profile"
							class="leftpane_entity_name">{{entityname}}</a> <a
							ui-if="!isMyProfile" ng-href="#/{{profileid}}/profile"
							class="leftpane_entity_name">{{entityname}}</a>
						</span>
					</div>
				</li>
			</ul>
			<div class="leftpane_subheading">FILTERS</div>
			<div class="divi2"></div>
			<div>
				<div ng-show="isMyProfile && !iambrand">
					<span class="leftpane_filter_name">BRAND</span> 
						<input type="text" class="span3" placeholder="Brand name" 
							ng-model="searchbrandname" ng-change="searchcollections()"/>
				</div> 
				<span class="leftpane_filter_name">SEASON</span> 
					<input type="text" class="span3" placeholder="Season name" 
							ng-model="searchcollectionname" ng-change="searchcollections()"/>
			</div>
			<div>
				<span class="leftpane_filter_name">CATEGORY</span>
			</div>
			<div>
				<div checkbox-tree ng-model="searchFilter" ng-change="searchcollections()"></div>
			</div>
		</div>
		<!-- left pane -->
		<!-- right pane -->
		<div class="span9">
				
				<!-- header pane -->
				<div style="border-bottom: 1px solid black;">
					<span class="left rightpane_subHeading"> Collections </span> <span
					class="right"> <a ng-href="#{{backButton}}"
					class="rightpane_back_btn">Back</a>
				</span>
				</div>
				<div style="border-bottom: 1px solid black;margin-bottom:10px;">
				<span class="left right_pane_info"> Find Collections using
					the filters </span> <span class="right"> <a
					ui-if="isMyProfile && iambrand" data-toggle="modal"
					ng-href="#CreateCollection" class="rightpane_add_btn">create
						collection</a></span>
				</div>
				<!-- header pane -->
				 
               <div ng-show="gettingcollections">
                	<img src="img/ajax-loadersmall.gif" style="float:left;" >
					<br>
				</div>
				
				<ul class="thumbnails">
					<li ng-repeat="collection in collections">
						<div class="rgt-thumb-relative">
							<img ng-src="{{collection.gallerypic}}" class="style-images">
							<div class="masklayer">
								<h1 class="editdel" ui-if="isMyProfile && iambrand">
									<a ng-click="deletecollection(collection.galleryid)"
										title="Delete"><i class="icon-trash icon-white"></i></a>
									<a ng-click="editcollection(collection.galleryid, collection.galleryname, collection.gallerydesc, collection.category)"
										title="Edit"><i class="icon-edit icon-white"></i></a>
								</h1>
								<p>
									<a ui-if="isMyProfile"  class="view"
										ng-href="#/collection?id={{collection.galleryid}}" >View
									</a> <a ui-if="!isMyProfile"  class="view"
										ng-href="#/{{profileid}}/collection?id={{collection.galleryid}}"
										 > View </a>
								</p>
							</div>
						</div>
						<div class="linesheet-designer">
							<h1 class="designer">{{collection.brandname}}</h1>
						</div>
						<div class="linesheet-season">
							<h1 class="season">{{collection.galleryname}}</h1>
						</div>
					</li>
				</ul>
				<div get-more="getmorecollections()">
   					<div ng-show="gettingmorecollections">
   						<center><img src="img/ajax-loadersmall.gif"><br></center>
   					</div>
   					<div ng-show="nomoredataavailable1">
   						End of data
   					</div>
				</div>
		</div>
		<!-- right pane -->
	</div>
</div>
<!--body-->

<!-- modal -->
<div class="modal  hide" id="CreateCollection">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal"></button>
		<h4 class="subHeading_no_underline">Create Collection</h4>
	</div>
	<div class="modal-body">
		<div>
			<input type="text" class="span4" ng-model="collectionname"
				placeholder="Collection season name" />
			<div class="divi2"></div>
			<div>
				<select id="e1" class="populate span4" ng-model="collectioncategory"
					ng-options="cat.productlinename as cat.productlinename group by cat.category for cat in defaultcategories">
					<option value="">-- Choose Category --</option>
				</select>
			</div>
			<div class="divi2"></div>
			<!-- <textarea style="width: 500px;" rows="9" ng-model="collectiondesc"
				placeholder="Enter description"></textarea> -->
		</div>
	</div>
	<div class="modal-footer">
		<a href="#" class="btn" data-dismiss="modal">Close</a> <a
			class="btn btn-primary" data-dismiss="modal"
			ng-click="createcollection()"> Create collection</a>
	</div>
</div>
<!-- modal -->


<!-- modal -->
<div ui-modal class="modal  hide" ng-model="showEditCollection"
	id="EditCollection">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal"></button>
		<h4 class="subHeading_no_underline">Edit Collection</h4>
	</div>
	<div class="modal-body">
		<div>
			<input type="text" class="span4" ng-model="editcollectionname"
				placeholder="Collection season name" />
			<div class="divi2"></div>
			<div>
				<select id="e1" class="populate span4" ng-model="editcollectioncat"
					ng-options="cat.productlinename as cat.productlinename group by cat.category for cat in defaultcategories">
				</select>
			</div>
			<div class="divi2"></div>
			<!-- <textarea style="width: 500px;" rows="9"
				ng-model="editcollectiondesc" placeholder="Enter description"></textarea> -->
		</div>
	</div>
	<div class="modal-footer">
		<a href="#" class="btn" data-dismiss="modal">Close</a> <a
			class="btn btn-primary" ng-click="updatecollection()"> Update
			collection</a>
	</div>
</div>
<!-- modal -->