<!--body-->
<div class="container minimum_height">
	<div class="row">
		<!-- Main pane -->
		<div class="span12">
		<div>
				
					<!-- header pane -->
				<div style="border-bottom: 1px solid black; position: relative; top: -2px;">
					<span class="left ywbreadcrumb header_width"> <a class="nonactive"
						href="#/collections">collection</a> <span class="ywdivider">/</span> <span>
						Rebecca Minkoff {{galleryname}}</span></span>
				</div>
				<div style="border-bottom: 1px solid black;">
					<span class="left right_pane_info"> shop this collection  </span> <span class="right"> <a
						ng-href="#/addcollections?id={{galleryid}}" class="rightpane_add_btn">Organize</a>
					</span>
				</div>
				<!-- header pane -->
				
				<div id="lookbookS" class="lookbook-wrapper">
					<div class="lookbook">
						<ul  style="display: inline;list-style-type: none;width: 8746px; margin-left: 0px; ">
							<li style="margin-right: 5px; width: 306.6666666666667px;"
								ng-repeat="collection in photogallery"><br>
                                 <a id="single_image" ng-href="#/viewcollection?id={{collection.uniqueid}}&&galleryid={{galleryid}}" style="border-width: 3px; ">
                                	<img ng-src="{{collection.thumbnail_url}}" alt="Flookbook1">
                                </a>
							</li>
						</ul>
				</div>
			
					<div class="es-nav">
						<span class="es-nav-prev" style="display: none; ">Previous</span>
						<span class="es-nav-next" style="display: none; ">Next</span>
					</div>
			</div>
	
					<script type="text/javascript">

			jQuery('#lookbookS').elastislide({
				speed       : 750,						
				imageW 		: 320,
				margin		: 5,
				border		: 3,
				minItems    : 3,
				
			});
			
			
			jQuery(document).ready(function() {
				/* This is basic - uses default settings */
				jQuery("a#single_image").fancybox({
					overlayOpacity: 0,
					padding: 0,
					showCloseButton: true,
					autoScale: false,
					hideOnContentClick: true,
					margin: 50
				});
		
			});
			
						
		</script>
		</div>
		<!-- Main pane -->
	</div>
</div>
<div id="fancybox-tmp" style="padding: 50px; "></div>
<div id="fancybox-loading" style="display: none; "><div></div></div>
<div id="fancybox-overlay" style="background-color: rgb(119, 119, 119); opacity: 0; cursor: pointer; height: 739px; display: none; "></div>
<div id="fancybox-wrap" style="width: 1000px; height: auto; top: 30px; left: 120px; display: none; ">
	<div id="fancybox-outer">
		<div class="fancybox-bg" id="fancybox-bg-n"></div><div class="fancybox-bg" id="fancybox-bg-ne"></div>
		<div class="fancybox-bg" id="fancybox-bg-e"></div><div class="fancybox-bg" id="fancybox-bg-se"></div>
		<div class="fancybox-bg" id="fancybox-bg-s"></div><div class="fancybox-bg" id="fancybox-bg-sw"></div>
		<div class="fancybox-bg" id="fancybox-bg-w"></div><div class="fancybox-bg" id="fancybox-bg-nw"></div>
		<div id="fancybox-content" style="border-width: 0px; width: 1000px; height: 1500px; "></div>
		<a id="fancybox-close" style="display: none; "></a>
		<div id="fancybox-title" style="display: none; "></div>
		<a href="javascript:;" id="fancybox-left" style="display: none; ">
			<span class="fancy-ico" id="fancybox-left-ico"></span>
		</a>
		<a href="javascript:;" id="fancybox-right" style="display: none; ">
			<span class="fancy-ico" id="fancybox-right-ico"></span>
		</a>
	</div>
</div>
</div>

<!--body-->
