<!--body-->
<div class="container minimum_height">
	<div class="row">
		<!-- left pane -->
		<div class="span3">
			<h4 class="leftpane_entity_heading">Boutique</h4>
			<div class="divi2"></div>
			<ul class="thumbnails">
				<li class="span3">
					<div>
						<span> 
							<a ui-if="isMyProfile" ng-href="#profile"> <img alt="" ng-src={{profilepic.thumbnail_url}}
										class="pull-left leftpane_profile_img"></a>
							<a ui-if="!isMyProfile" ng-href="#/{{profileid}}/profile"> <img alt="" ng-src={{profilepic.thumbnail_url}}
										class="pull-left leftpane_profile_img"></a>
						</span> 
						<span> 
							<a ui-if="isMyProfile" ng-href="#profile" class="leftpane_entity_name">{{entityname}}</a>
							<a ui-if="!isMyProfile" ng-href="#/{{profileid}}/profile" class="leftpane_entity_name">{{entityname}}</a>
						</span>
					</div>
				</li>
			</ul>
			<div class="leftpane_subheading">FILTERS</div>
			<div class="divi2"></div>
			<div>
				<span class="leftpane_filter_name">BRAND</span> 
				<input type="text" class="span3" placeholder="Brand name" />
				<span class="leftpane_filter_name">SEASON</span> 
				 <input type="text" class="span3" placeholder="Season name" />
			</div>
			<div>
			<span class="leftpane_filter_name">CATEGORY</span> 
			</div>
			<div>
				<div checkbox-tree ng-model="searchFilter"></div>
			</div>
		</div>
		<!-- left pane -->
		<!-- right pane -->
		<div class="span9">
			<div>
				<span class="left rightpane_subHeading">
				Collections
				</span>
				<span class="right">
				<a ng-href="#{{backButton}}" class="rightpane_back_btn">Back</a>
				</span>
				<div class="divi2 right_pane_underline"></div>
				<span class="left right_pane_info">
					Find Collections using the filters
				</span>
				<span class="right" >
				<a ui-if="isMyProfile" data-toggle="modal"	ng-href="#CreateCollection" class="rightpane_add_btn">create collection</a></span>
				<div class="divi2 right_pane_underline"></div>
				<!-- <ul class="thumbnails">
					<li ng-repeat="collection in collections" style="position: relative;">
						<div class="view view-first">
							<a ng-href="#/collection?id={{collection.galleryid}}"> <img
								ng-src="{{collection.gallerypic}}" alt=""></a>
							<div class="content">
								<div class="mask">
									<ul>
										<li><a ng-click="deletecollection(collection.galleryid)" title="Delete"><i
												class="icon-trash icon-white"></i></a></li>
										<li><a ng-click="editgallery(collection.galleryid, collection.galleryname, collection.gallerydesc, collection.category)" 
										title="Edit"><i class="icon-edit icon-white"></i></a></li>
									</ul>
									<h1>
										<a ng-href="#/collection?id={{collection.galleryid}}" class="mask_edit">view</a>
									</h1>
								</div>
							</div>
							<div class="divi2"></div>
						</div>
						<div class="campaigntitle">
							 <h3>
                                    {{collection.collectionseason}}</h3>
							<h3>{{collection.brandname}}</h3>
						</div>
					</li>
				</ul> -->
				
				<ul class="thumbnails">
					<li ng-repeat="collection in collections">
						<div align="center" style="position: relative;">
							<a ui-if="isMyProfile" class="product-image" ng-href="#/collection?id={{collection.galleryid}}" title="">
								<img ng-src="{{collection.gallerypic}}"  class="fade_spot"
								width="220" height="300" alt="Dumont Coat" title="Dumont Coat">
							</a>
							<a ui-if="!isMyProfile" class="product-image" ng-href="#/{{profileid}}/collection?id={{collection.galleryid}}" title="">
								<img ng-src="{{collection.gallerypic}}"  class="fade_spot"
								width="220" height="300" alt="Dumont Coat" title="Dumont Coat">
							</a>
							<div ui-if="isMyProfile" class="stylesheet-edit-delete">
								<span class="edit-delete"><a
									ng-click="deletecollection(collection.galleryid)" 
									title="Delete"><i class="icon-trash icon-black"></i></a><a
									ng-click="editgallery(collection.galleryid, collection.galleryname, collection.gallerydesc, collection.category)"
									title="Edit"><i class="icon-edit icon-black"></i></a></span>
							</div>
							<div class="collection-designer">
								<span class="designer">{{collection.brandname}}</span>
							</div>
							<div class="collection-season">
								<span class="season">{{collection.collectionseason}}</span>
							</div>
						</div>
					</li>
				</ul>
				
				
			</div>
		</div>
		<!-- right pane -->
	</div>
</div>
	<!--body-->
	
	<!-- modal -->
<div class="modal  hide" id="CreateCollection">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal"></button>
		<h4 class="subHeading_no_underline">Create Collection</h4>
	</div>
	<div class="modal-body">
		<div>
			<input type="text" class="span4" ng-model="collectionname" placeholder="Collection season name" />
			<div class="divi2"></div>
		<div>
			<select id="e1" class="populate span4" ng-model="collectioncategory" 
					ng-options="cat.productlinename as cat.productlinename group by cat.category for cat in defaultcategories">
					<option value="">-- Choose Category --</option>
			</select>
		</div>
		<div class="divi2"></div>
			<textarea style="width: 500px;" rows="9" ng-model="collectiondesc" placeholder="Enter description"></textarea>
		</div>
		</div>
	<div class="modal-footer">
		<a href="#" class="btn" data-dismiss="modal">Close</a> <a
			class="btn btn-primary" data-dismiss="modal" ng-click="createcollection()">
			Create collection</a>
	</div>
</div>
<!-- modal -->


	<!-- modal -->
<div ui-modal class="modal  hide" ng-model="showEditCollection"  id="EditCollection">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal"></button>
		<h4 class="subHeading_no_underline">Edit Collection</h4>
	</div>
	<div class="modal-body">
		<div>
			<input type="text" class="span4" ng-model="editcollectionname" placeholder="Collection season name" />
			<div class="divi2"></div>
		<div>
			<select id="e1" class="populate span4" ng-model="editcollectioncat" 
					ng-options="cat.productlinename as cat.productlinename group by cat.category for cat in defaultcategories">
			</select>
		</div>
		<div class="divi2"></div>
			<textarea style="width: 500px;" rows="9" ng-model="editcollectiondesc" placeholder="Enter description"></textarea>
		</div>
		</div>
	<div class="modal-footer">
		<a href="#" class="btn" data-dismiss="modal">Close</a> <a
			class="btn btn-primary" ng-click="updatecollection()">
			Update collection</a>
	</div>
</div>
<!-- modal -->