<!--body-->
<div class="container minimum_height">
	<div class="row">
		<!-- left-pane -->
		<div class="span3">
			<h4 class="leftpane_entity_heading">Boutique</h4>
			<div class="divi2"></div>
			<ul class="thumbnails">
				<li class="span3">
					<div>
						<span> <a href="#profile"> <img alt=""
								ng-src={{profilepic.thumbnail_url}}
								class="pull-left leftpane_profile_img"></a>
						</span> <span> <a href="#profile" class="leftpane_entity_name">{{entityname}}</a>
						</span>
					</div>
				</li>
			</ul>
			<div class="leftpane_subheading">FILTERS</div>
			<div class="divi2"></div>
			<div>
				<span class="leftpane_filter_name">BRAND</span> <input type="text"
					class="span3" placeholder="Brand name" /> <span
					class="leftpane_filter_name">SEASON</span> <input type="text"
					class="span3" placeholder="Season name" />
			</div>
			<div>
				<!-- <div class="leftpane_subheading">DELIVERY DATE</div> -->
				<span class="leftpane_filter_name">DELIVERY DATE</span>
				<!-- <div class="divi2"></div> -->
				<div>
					<div>
						<input type="radio" name="Date" checked value="true"
							ng-model="deliverydate"> All Available
					</div>
					<div>
						<input type="radio" name="Date" checked value="true"
							ng-model="deliverydate"> Immediates
					</div>
					<div>

						<input type="radio" name="Date" value="false"
							ng-model="deliverydate"> Select Date Range
					</div>
				</div>
				<div class="divi2"></div>
				<div ng-hide="deliverydate == 'true'">
					<span class="leftpane_filter_name">From</span> <input type="text"
						class="span3" placeholder="Enter from date" ng-model="fromdate"
						ui-date /> <span class="leftpane_filter_name">To</span> <input
						type="text" class="span3" placeholder="Enter to date"
						ng-model="todate" ui-date />
				</div>
				<div class="divi2"></div>
				<span class="leftpane_filter_name">CATEGORY</span>
			</div>
			<div>
				<div checkbox-tree ng-model="searchFilter"></div>
			</div>
		</div>
		<!-- left-pane -->
		<!-- right pane -->
		<div class="span9">
			<div>
				<span class="left rightpane_subHeading"> Line Sheets </span> <span
					class="right"> <a ng-href="#{{backButton}}"
					class="rightpane_back_btn">Back</a></span>
				<div class="divi2 right_pane_underline"></div>
				<span class="left right_pane_info"> Find linesheets using the
					filters </span> <span class="right"> <a data-toggle="modal"
					href="#Createlinesheet" class="rightpane_add_btn">Create line
						sheet</a>
				</span>
				<div class="divi2 right_pane_underline"></div>
			</div>
			<div>
				<ul class="thumbnails">
					<li ng-repeat="linesheet in linesheets">
						<div align="center" style="position: relative;">
						   	<div class="view-linesheet">
						   	<div class="mask"></div>
							<a class="product-image"
								ng-href="#/styles?id={{linesheet.galleryid}}&&cat={{linesheet.category}}"
								title="Dumont Coat"> <img ng-src="{{linesheet.gallerypic}}" class="fade_spot"
								width="220" height="300" alt="Dumont Coat" title="Dumont Coat"></a>
							</div>
							<div class="linesheet-edit-delete">
								<span class="edit-delete"><a ng-click="deletelinesheet(linesheet.galleryid)" title="Delete"><i
												class="icon-trash icon-black"></i></a><a ng-click="editlinesheet(linesheet.galleryid, linesheet.galleryname, linesheet.category, linesheet.deliverydate)" 
										title="Edit"><i class="icon-edit icon-black"></i></a></span>
							</div>
							<div class="linesheet-designer">
								<span class="designer">Rebecca Minkoff</span>
							</div>
							<div class="linesheet-season">
								<span class="season">{{linesheet.galleryname}} </span>
							</div>
							<div class="linesheet-deliverydate">
								<span class="deliverydate"> DELIVERY DATE:
									{{linesheet.deliverydate}}</span>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<!--body-->
	<!-- modal -->
	<div class="modal  hide" id="Createlinesheet">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal"></button>
			<h4 class="subHeading_no_underline">Create Line sheet</h4>
		</div>
		<div class="modal-body">
			<div>
				<input type="text" ng-model="linesheetname" class="span4"
					placeholder="Enter linesheet season" />
			</div>
			<div class="divi2"></div>
			<div>
				<select id="e1" class="populate span4" ng-model="linesheetcat"
					ng-options="cat.productlinename as cat.productlinename group by cat.category for cat in defaultcategories">
					<option value="">-- Choose Category --</option>
				</select>
			</div>
			<div class="divi2"></div>
			<div>
				<ul class="nav nav-horizontal left">
					<li><span class="left" ng-show="isMyProfile"> <input
							type="radio" name="Date" checked value="true"
							ng-model="immediate"> Immediates <input type="radio"
							name="Date" value="false" ng-model="immediate"> Delivery
							date
					</span></li>
				</ul>
			</div>
			<div class="divi2"></div>
			<div>
				<input type="text" class="span4" placeholder="Enter delivery date"
					ng-model="deliverydate" ui-date ng-hide="immediate == 'true'" />
			</div>
		</div>
		<div class="modal-footer">
			<a href="#" class="btn" data-dismiss="modal">Close</a> <a
				class="btn btn-primary" data-dismiss="modal"
				ng-click="createlinesheet()"> Create linesheet</a>
		</div>
	</div>
	<!-- modal -->
	<div ui-modal class="modal  hide" ng-model="showEditLinesheet"
		id="Editlinesheet">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal"></button>
			<h4 class="subHeading_no_underline">Edit Line sheet</h4>
		</div>
		<div class="modal-body">
			<div>
				<input type="text" ng-model="editlinesheetname" class="span4"
					placeholder="Enter linesheet season" />
			</div>
			<div class="divi2"></div>
			<div>
				<select id="e1" class="populate span4" ng-model="editlinesheetcat"
					ng-disabled=true
					ng-options="cat.productlinename as cat.productlinename group by cat.category for cat in defaultcategories">
				</select>
			</div>
			<div class="divi2"></div>
			<div>
				<ul class="nav nav-horizontal left">
					<li><span class="left" ng-show="isMyProfile"> <input
							type="radio" name="Date" checked value="true"
							ng-model="editimmediate"> Immediates <input type="radio"
							name="Date" value="false" ng-model="editimmediate">
							Delivery date
					</span></li>
				</ul>
			</div>
			<div class="divi2"></div>
			<div>
				<input type="text" class="span4" placeholder="Enter delivery date"
					ng-model="editdeliverydate" ui-date
					ng-hide="editimmediate == 'true'" />
			</div>
		</div>
		<div class="modal-footer">
			<a href="#" class="btn" data-dismiss="modal">Close</a> <a
				class="btn btn-primary" ng-click="updatelinesheet()"> Edit
				linesheet</a>
		</div>
	</div>
	<!-- modal -->