<!--body-->
<div class="container minimum_height">
	<div class="row">
		<!-- left pane -->
		<div class="span3">
			<h4 class="leftpane_entity_heading">Brand</h4>
			<div class="divi2"></div>
			<ul class="thumbnails">
				<li class="span3">
					<div>
						<span> 
							<a ui-if="isMyProfile" ng-href="#profile"> <img alt="" ng-src={{profilepic.thumbnail_url}}
										class="pull-left leftpane_profile_img"></a>
							<a ui-if="!isMyProfile" ng-href="#/{{profileid}}/profile"> <img alt="" ng-src={{profilepic.thumbnail_url}}
										class="pull-left leftpane_profile_img"></a>
						</span> 
						<span> 
							<a ui-if="isMyProfile" ng-href="#profile" class="leftpane_entity_name">{{entityname}}</a>
							<a ui-if="!isMyProfile" ng-href="#/{{profileid}}/profile" class="leftpane_entity_name">{{entityname}}</a>
						</span>
					</div>
				</li>
			</ul>
			<div></div>
			<div>
				<h4 class="leftpane_subheading">Styles in this linesheet</h4>
				<div class="divi2"></div>
				<ul class="nav nav-tab nav-stacked">
					<li ng-repeat="style in styles">
						<div class="leftpanefeed fade_spot">
							<div class="feedimage">
								<a ng-click="setmainstyle(style)"> <img alt=""
									ng-src="{{style.profileleftpic}}" class="pull-left"></a>
							</div>
							<div class="leftpanefeed_text">
								<h3>
									<a ng-click="setmainstyle(style)" title="">Rebecca Minkoff</a>
								</h3>
								<h2>
									<a ng-click="setmainstyle(style)" title="">{{style.stylename}}</a>
								</h2>
								<h2 style="margin-top: 5px;">
									<span
										style="font-weight: normal; font-size: 12px; cursor: pointer; text-transform: uppercase;">
										<span class="WebRupee" style="font-size: 12px;margin-right:3px;">Rs.</span>{{style.price}}
									</span>
								</h2>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
		<!-- left pane -->
		<!-- right pane -->
		<div class="span9">
			<!--    header -->
			<div
				style="border-bottom: 1px solid black; position: relative; top: -2px; margin-bottom: 10px;">
				<span class="left ywbreadcrumb header_width"> 
					<a class="nonactive" ui-if="isMyProfile"
						ng-href="#/styles?id={{linesheetid}}&&cat={{category}}">
						Rebecca minkoff {{linesheetname}}</a>
					<a class="nonactive" ui-if="!isMyProfile"
						ng-href="#/{{profileid}}/styles?id={{linesheetid}}&&cat={{category}}">
						Rebecca minkoff {{linesheetname}}</a>	
				</span> <span class="right"> <a ng-href="#{{backButton}}"
					class="rightpane_back_btn">Back</a>
				</span>
			</div>
			<!--    header -->

			<div id="stylecontainer">
				<div class="imageprevw">
					<ul class="thumbnails">
						<li class="spanstyle" style="display: inline;"><img
							width="257" height="365" ng-src="{{mainstyle.profilethumbpic}}"
							alt=""></li>
					</ul>
				</div>
				<div class="styles-specs">
					<span style="width: 400px; margin-left: 10px;">
						<div>
							<span
								style="font-weight: Bold; font-size: 14px; cursor: pointer; text-transform: uppercase;">
								{{mainstyle.stylename}}</span> <span class="btn-group pull-right">
								<button class="btn btn-inverse dropdown-toggle"
									data-toggle="dropdown">
									Action <span class="caret"></span>
								</button>
								<ul class="dropdown-menu">
									<li><a>Delete</a></li>
									<li class="divider"></li>
									<li><a href="#">Set as cover</a></li>
									<li class="divider"></li>
									<li><a href="#">Public</a></li>
									<li><a href="#">Private</a></li>
									<li><a href="#">Network</a></li>
								</ul>
							</span> <br> <br>
							<div
								style="font-weight: Bold; font-size: 12px; cursor: pointer; text-transform: uppercase;">
								<u>Style Number </u>
							</div>
							<span
								style="font-weight: normal; font-size: 10px; cursor: pointer; text-transform: uppercase;">
								{{mainstyle.styleno}}</span>
							<div class="divi2"></div>
							<div
								style="font-weight: Bold; font-size: 12px; cursor: pointer; text-transform: uppercase;">
								<u>Fabrication </u>
							</div>
							<span
								style="font-weight: normal; font-size: 10px; cursor: pointer; text-transform: uppercase;">
								Fabrication {{mainstyle.fabricarion}} </span> <br> <br>

							<div
								style="font-weight: Bold; font-size: 12px; cursor: pointer; text-transform: uppercase;">
								<u>Description </u>
							</div>
							<p style="font: normal 11px Helvetica, Arial, sans-serif;">
								{{mainstyle.description}}</p>

							<div
								style="font-weight: Bold; font-size: 12px; cursor: pointer; text-transform: uppercase; margin-bottom: 2px;">
								<u>Swatches</u>
							</div>
							<div class="swatches">
								<a rel="tooltip" data-original-title="SALSA RED/ RED"><img
									width="20" height="20" src="img/Red.jpeg" alt=""
									style="margin-bottom: 3px;"></a> <a rel="tooltip"
									data-original-title="SALSA BLACK/ BLACK"><img width="20"
									height="20" src="img/Black.jpeg" alt=""
									style="margin-bottom: 3px;"></a> <a rel="tooltip"
									data-original-title="SALSA RED/ RED"><img width="20"
									height="20" src="img/Red.jpeg" alt=""
									style="margin-bottom: 3px;"></a> <a rel="tooltip"
									data-original-title="SALSA Gray/ Gray"><img width="20"
									height="20" src="img/Gray.jpeg" alt=""
									style="margin-bottom: 3px;"></a> <a rel="tooltip"
									data-original-title="SALSA RED/ Maroon"><img width="20"
									height="20" src="img/Maroon.jpeg" alt=""
									style="margin-bottom: 3px;"></a> <a rel="tooltip"
									data-original-title="SALSA BLACK/ BLACK"><img width="20"
									height="20" src="img/Black.jpeg" alt=""
									style="margin-bottom: 3px;"></a> <a rel="tooltip"
									data-original-title="SALSA RED/ RED"><img width="20"
									height="20" src="img/Red.jpeg" alt=""
									style="margin-bottom: 3px;"></a> <a rel="tooltip"
									data-original-title="SALSA BLACK/ BLACK"><img width="20"
									height="20" src="img/Black.jpeg" alt=""
									style="margin-bottom: 3px;"></a>
							</div>
							<div class="divi2"></div>
							<div
								style="font-weight: Bold; font-size: 12px; cursor: pointer; text-transform: uppercase;">
								<u>Size</u>
							</div>
							<span
								style="font-weight: normal; font-size: 10px; cursor: pointer; text-transform: uppercase;">
								S L Xl</span>
							<div class="divi2"></div>
							<div
								style="font-weight: Bold; font-size: 12px; cursor: pointer; text-transform: uppercase;">
								<u>Price</u>
							</div>
							<span
								style="font-weight: normal; font-size: 12px; cursor: pointer; text-transform: uppercase;">
								<span class="WebRupee" style="font-size: 12px;">Rs.</span>{{mainstyle.price}}
							</span>
							<!-- <div class="divi2"></div>
								<div class="controls pull-right">
									<button type="button" class="btn" ng-click="exitstylepane()">
										<i class=""></i><span>Exit</span>
									</button>
									<button type="button" class="btn btn-primary"
										ng-disabled="form.$invalid" ng-click="updatestyle()">
										<i class=""></i><span>Add to Stylesheet</span>
									</button>

								</div> -->
						</div>
					</span>
				</div>
			</div>
			<div class="divi2"></div>
			<div class="moreviews-styles">
				<a ng-repeat="image in mainstyle.availableImages"
					ng-click="mainstyle.profilethumbpic = image.thumbnail_url"><img
					class="thumbnailz" width="85" style="max-height: 113px;"
					ng-src="{{image.thumbnail_url}}" alt=""></a>
			</div>

		</div>
		<!-- right pane data -->
	</div>
</div>
<!-- body -->
<script type="text/javascript">
	jQuery(document).ready(function() {
		jQuery("[rel=tooltip]").tooltip();
	});
</script>
<!-- body -->