<ul class="thumbnails" ui-sortable ng-model="existingfiles">
	<li class="span2" ng-repeat="style in existingfiles| limitTo:4">
		<div class="thumbnail">
			<img ng-src={{style}} alt="">
			<div class="caption">
				<p>
					<span class="fileinput-button addimg"><a style="font-weight:bold;text-decoration:none;">Remove</a>
					</span> 
				</p>
			</div>
		</div>
	</li>
	<li class="span2" ng-repeat="style in newfiles| limitTo:4">
		<div class="thumbnail">
			<img ng-src={{style}} alt="">
			<div class="caption">
				<p>
					<span class="fileinput-button addimg"><a style="font-weight:bold;text-decoration:none;">Add Style</a>
						<input id="styleupload" type="file" name="files[]" multiple
						onchange="angular.element(this).scope().filesadded(this)">
					</span> 
				</p>
			</div>
		</div>
	</li>
</ul>