<ul class="thumbnails" ui-sortable ng-model="existingfiles">
	<li class="span2" ng-repeat="style in existingfiles| limitTo:4">
		<div class="thumbnail">
			<img ng-src={{style.thumbnail_url}} alt="">
			<div class="caption">
				<p>
					<span class="fileinput-button ">
					<a style="font-weight:bold;text-decoration:none;" ng-click="deletephoto($index)">Remove</a>
					</span> 
				</p>
			</div>
		</div>
	</li>
	<li class="span2" ng-repeat="style in newfiles| limitTo:4">
		<div class="thumbnail">
			<img ng-src={{style}} alt="">
		</div>
	</li>
	<div class="caption">
		<p>
			<span class="fileinput-button addimg"><a style="font-weight:bold;text-decoration:none;">Add Style</a>
				<input id="styleupload" type="file" name="files[]" multiple data-url="stylesheet/addstyleimages"
				onchange="angular.element(this).scope().filesadded(this)">
			</span> 
		</p>
	</div>
</ul>