<!--body-->
<div class="container minimum_height">
	<div class="row">
		<!-- left-pane -->
		<div class="span3">
			<div class="underline">
				<span ui-if="!iambrand" class="leftpane_entity">Boutique </span> <span
					ui-if="iambrand" class="leftpane_entity">Brand </span>
			</div>
			<div class="divi2"></div>
			<ul class="thumbnails">
				<li class="span3">
					<div>
						<span> <a ng-href="#profile"> <img alt=""
								ng-src={{profilepic.thumbnail_url}}
								class="pull-left leftpane_profile_img"></a>
						</span> <span> <a ng-href="#profile" class="leftpane_entity_name">{{entityname}}</a>
						</span>
					</div>
				</li>
			</ul>
			<div class="leftpane_subheading">FILTERS</div>
			<div class="divi2"></div>
			<div>
				<span class="leftpane_filter_name">Lookbook</span> 
					<input type="text" placeholder="Search lookbooks by name" class="span3"
						ng-model="searchstylesheetname" ng-change="searchstylesheets()"  />
			</div>
			<div>
				<span class="leftpane_filter_name">CATEGORY</span>
			</div>
			<div>
				<div checkbox-tree ng-model="searchFilter" ng-change="searchstylesheets()"></div>
			</div>
		</div>
		<!-- left-pane -->


		<!-- right pane -->
		<div class="span9">
			
				<!-- header pane -->
				<div style="border-bottom: 1px solid black;">
					<span class="left rightpane_subHeading">Lookbooks</span> <span
					class="right"> <a ng-href="#{{backButton}}"
					class="rightpane_back_btn">Back</a></span>
				</div>
				<div style="border-bottom: 1px solid black;margin-bottom:10px;">
					<span class="left right_pane_info"> Find lookbooks using
					the filters </span> <span class="right"> <a data-toggle="modal"
					href="#Createstylesheet" class="rightpane_add_btn">create lookbook
						</a>
				</span>
				</div>
				<!-- header pane -->
			
			 	<div ng-show="gettingstylesheets">
                	<img src="img/ajax-loadersmall.gif" style="float:left;" >
					<br>
				</div>
			
				<ul class="thumbnails">
					<li ng-repeat="stylesheet in stylesheets">
						<div style="position: relative;">
							<img ng-src="{{stylesheet.gallerypic}}" width="220" height="300">
							<div class="masklayer">
								<h1 class="editdel" ui-if="isMyProfile">
									<a
									ng-click="deletestylesheet(stylesheet.galleryid)"
									title="Delete"><i class="icon-trash icon-white"></i></a><a
									ng-click="editstylesheet(stylesheet.galleryid, stylesheet.galleryname, stylesheet.category)"
									title="Edit"><i class="icon-edit icon-white"></i></a>
								</h1>
								<p>
									<a style="color: white; text-decoration: none;"
										ng-href="#/stylesheet?id={{stylesheet.galleryid}}&&cat={{stylesheet.category}}">
										View </a>
								</p>

							</div>
						</div>
						<div class="linesheet-designer">
							<h1 class="designer">{{stylesheet.category}}</h1>
						</div>
						<div class="linesheet-season">
							<h1 class="season">{{stylesheet.galleryname}}</h1>
						</div>
					</li>
				</ul>
				<div get-more="getmorestylesheets()">
   					<div ng-show="gettingmorestylesheets">
   						<center><img src="img/ajax-loadersmall.gif"><br></center>
   					</div>
   					<div ng-show="nomoredataavailable1">
   						End of data
   					</div>
				</div>
		</div>
		<!-- right pane -->


	</div>
</div>
<!--body-->
<!-- modal -->
<div class="modal  hide" id="Createstylesheet">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal"></button>
		<h4 class="subHeading_no_underline">Create Lookbook</h4>
	</div>
	<div class="modal-body">
		<div>
			<input type="text" class="span4" ng-model="stylesheetname"
				placeholder="Enter stylesheet season" />
		</div>
		<div class="divi2"></div>
		<div>
			<select id="e1" class="populate span4" ng-model="stylesheetcat"
				ng-options="cat.productlinename as cat.productlinename group by cat.category for cat in defaultcategories">
				<option value="">-- Choose Category --</option>
			</select>
		</div>
	</div>
	<div class="modal-footer">
		<a href="#" class="btn" data-dismiss="modal">Close</a> <a
			class="btn btn-primary" data-dismiss="modal"
			ng-click="createstylesheet()"> Create Lookbook</a>
	</div>
</div>
<!-- modal -->


<!-- modal -->
<div ui-modal class="modal  hide" ng-model="showEditStylesheet"
	id="Editstylesheet">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal"></button>
		<h4 class="subHeading_no_underline">Edit Lookbook</h4>
	</div>
	<div class="modal-body">
		<div>
			<input type="text" class="span4" ng-model="editstylesheetname"
				placeholder="Enter stylesheet season" />
		</div>
		<div class="divi2"></div>
		<div>
			<select id="e1" class="populate span4" ng-model="editstylesheetcat"
				ng-disabled=true
				ng-options="cat.productlinename as cat.productlinename group by cat.category for cat in defaultcategories">
				<option value="">-- Choose Category --</option>
			</select>
		</div>
	</div>
	<div class="modal-footer">
		<a href="#" class="btn" data-dismiss="modal">Close</a> <a
			class="btn btn-primary" ng-click="updatestylesheet()"> Update
			Lookbook</a>
	</div>
</div>
<!-- modal -->