<!--body-->
<div class="container minimum_height">
	<div class="row">
		<!-- left pane -->
		<div class="span3">
			<h4 class="leftpane_entity_heading">Brand</h4>
			<div class="divi2"></div>
			<ul class="thumbnails">
				<li class="span3">
					<div>
						<span> <a href="#profile"> <img alt=""
								ng-src={{profilepic.thumbnail_url}}
								class="pull-left leftpane_profile_img"></a>
						</span> <span> <a href="#profile" class="leftpane_entity_name">{{entityname}}</a>
						</span>
					</div>
				</li>
			</ul>
			<div></div>
			<div>
				<h4 class="leftpane_subheading">Styles in this linesheet</h4>
				<div class="divi2"></div>
				<ul class="nav nav-tab nav-stacked">
					<li ng-repeat="style in styles">
						<div class="leftpanefeed">
							<div class="feedimage">
								<a ng-click="setmainstyle(style)"> <img alt=""
									ng-src="{{style.profileleftpic}}" class="pull-left"></a>
							</div>
							<div class="leftpanefeed_text">
								<h3>
									<a ng-click="setmainstyle(style)" title="">{{style.stylename}}</a>
								</h3>
								<p>{{style.stylename}}</p>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
		<!-- left pane -->
		<!-- right pane -->
		<div class="span9">
			<!-- <div>
				<span class="left heading_btn header_width"> <a href="#/linesheets">Line
						sheets</a> <span class="divider">/</span> <span> <a
						ng-href="#/styles?id={{linesheetid}}&&cat={{category}}">{{linesheetname}}</a></span>
				</span> <span class="right"> <a ng-href="#{{backButton}}"
					class="rightpane_back_btn">Back</a></span>
				<div class="divi2 right_pane_underline"></div>
			</div> -->

			<!--    header -->
			<div
				style="border-bottom: 1px solid black; position: relative; top: -2px; margin-bottom: 10px;">
				<span class="left ywbreadcrumb header_width"> <a
					class="nonactive"
					ng-href="#/styles?id={{linesheetid}}&&cat={{category}}">
						Rebecca minkoff {{linesheetname}}</a>
				</span> <span class="right"> <a ng-href="#{{backButton}}"
					class="rightpane_back_btn">Back</a>
				</span>
			</div>
			<!--    header -->
		</div>


		<!-- </div> -->
		<!-- right pane data -->
		<div>
			<div class="span4">
				<ul class="thumbnails">
					<li class="spanstyle" style="display: inline;"><img
						width="257" height="365" src="{{mainstyle.profilethumbpic}}"
						alt=""></li>
				</ul>
				<div class="moreviews">
					<a ng-repeat="image in mainstyle.availableImages"
						ng-click="mainstyle.profilethumbpic = image.thumbnail_url"><img
						class="thumbnailz" width="85" style="max-height: 113px;"
						src="{{image.thumbnail_url}}" alt=""></a>
				</div>
			</div>

			<div class="spanpreview_details" style="height: 400px;">
				<div>
					<p class="subHeading">{{mainstyle.stylename}}</p>
					<p style="font: normal 10px Verdana;">{{mainstyle.description}}</p>
				</div>
				<div class="underline"></div>
				<div class="style_description">

					<div class="style_dimentions">
						<div class="styl_number">
							<p>Style No:</p>
							<h4>{{mainstyle.styleno}}</h4>
						</div>
						<div class="styl_number">
							<p>Sizes</p>
							<h4>{{styletdetails.stylesize}}</h4>
						</div>
						<div class="clr"></div>
						<div>
							<p>Colors</p>
							<div class="swatches">
								<a rel="tooltip" data-original-title="SALSA RED/ RED" ><img width="20" height="20" src="img/Red.jpeg" alt="" style="margin-bottom:3px;"></a>
								<a rel="tooltip" data-original-title="SALSA BLACK/ BLACK" ><img width="20" height="20" src="img/Black.jpeg" alt="" style="margin-bottom:3px;"></a>
								<a rel="tooltip" data-original-title="SALSA RED/ RED" ><img width="20" height="20" src="img/Red.jpeg" alt="" style="margin-bottom:3px;"></a>
								<a rel="tooltip" data-original-title="SALSA BLACK/ BLACK" ><img width="20" height="20" src="img/Black.jpeg" alt="" style="margin-bottom:3px;"></a>
								<a rel="tooltip" data-original-title="SALSA RED/ RED" ><img width="20" height="20" src="img/Red.jpeg" alt="" style="margin-bottom:3px;" ></a>
								<a rel="tooltip" data-original-title="SALSA BLACK/ BLACK" ><img width="20" height="20" src="img/Black.jpeg" alt="" style="margin-bottom:3px;"></a>
								<a rel="tooltip" data-original-title="SALSA RED/ RED" ><img width="20" height="20" src="img/Red.jpeg" alt="" style="margin-bottom:3px;"></a>
								<a rel="tooltip" data-original-title="SALSA BLACK/ BLACK" ><img width="20" height="20" src="img/Black.jpeg" alt="" style="margin-bottom:3px;"></a>
							
							</div>

							<!-- <div class="colors">
								<a href="/products/372205402/?fts=SALSA RED/ BLACK"  rel="tooltip" data-original-title="SALSA RED/ RED"><img
									src="img/Red.jpg"
									class="tooltip"></a> 
									<a
									href="/products/372205402/?fts=CROWN JEWEL/BLACK" rel="tooltip" data-original-title="CROWN JEWEL/BLACK"><img
									src="img/Black.jpg"
									class="tooltip" ></a>
							</div> -->

						</div>
					</div>
					<div class="style_type_cost">
						<div class="style_cloth">
							<p>Fabrication:</p>
							<h4>{{mainstyle.fabricarion}}</h4>
						</div>
						<div class="delevry_date">
							<p>Delivery Date:</p>
							<h4>{{styletdetails.stylederliverydate}}</h4>
						</div>
						<div class="price">
							<p>Price</p>
							<h4><span class="WebRupee" style="font-size: 18px;">Rs.</span>{{mainstyle.price}}</h4>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- right pane data -->
	</div>
</div>

<script type="text/javascript">
	jQuery(document).ready(function() {
		jQuery("[rel=tooltip]").tooltip();
	});
</script>
<!-- body -->