<!--body-->
<div class="container minimum_height">
	<div class="row">
		<!-- left pane -->
		<div class="span3">
			<h4 class="leftpane_entity_heading">Brand</h4>
			<div class="divi2"></div>
			<ul class="thumbnails">
				<li class="span3">
					<div>
						<span> <a href="#profile"> <img alt=""
								ng-src={{profilepic.thumbnail_url}}
								class="pull-left leftpane_profile_img"></a>
						</span> <span> <a href="#profile" class="leftpane_entity_name">{{entityname}}</a>
						</span>
					</div>
				</li>
			</ul>
			<div class="leftpane_subheading">FILTERS</div>
			<div class="divi2"></div>
			<div class="leftpane_filter_name">
				<span class="leftpane_filter_name">Style number</span> <input
					type="text" placeholder="Style number" class="span3" 
					ng-model="searchstyleno" ng-change="searchstyles()"/> <span
					class="leftpane_filter_name">Fabrication</span> <input type="text"
					placeholder="Fabrication" class="span3" ng-model="searchfabrication" ng-change="searchstyles()"/> <span
					class="leftpane_filter_name">Price range</span> <br> <input
					type="text" class="spanpricerange-leftpane" ng-model="searchfromprice" ng-change="searchstyles()" 
					placeholder="From price" required />
				- <input type="text" class="spanpricerange-leftpane" ng-model="searchtoprice" ng-change="searchstyles()"
					placeholder="To price" required />
			</div>
			<div>
				<div class="leftpane_subheading">Lookbooks</div>
				<div class="divi2"></div>
				<input type="text" placeholder="Search lookbooks" class="span3" 
					ng-model="searchstylesheetname" ng-change="getstylesheets()"/>
				<ul class="nav nav-tab nav-stacked">
					<li ng-repeat="stylesheet in stylesheets">
						<div class="leftpanefeed fade_spot">
							<div class="feedimage">
								<a ng-click="setstylesheet(stylesheet.galleryid)"> <img alt=""
									ng-src="{{stylesheet.leftpic}}" class="pull-left"></a>
							</div>
							<div class="leftpanefeed_text">
								 <h3>
									<a ng-click="setstylesheet(stylesheet.galleryid)" title="">{{brandname}}</a>
								</h3>
								<h2>
									<a ng-click="setstylesheet(stylesheet.galleryid)" title="">{{stylesheet.galleryname}}</a>
								</h2>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
		<!-- left pane -->

		<!-- right pane -->
		<div class="span9">

			<!-- header pane -->
			<div
				style="border-bottom: 1px solid black; position: relative; top: -2px;">
				<span class="left ywbreadcrumb header_width"> <a
					class="nonactive" ng-href="#/stylesheets">Lookbooks</a> <span
					class="ywdivider">/</span> <span> {{brandname}}
						{{stylesheetname}}</span></span>
			</div>
			<div style="border-bottom: 1px solid black;">
				<span class="left right_pane_info"> Find styles using the
					filters </span> <span class="right"> <a
					ng-href="#/addstyle?id={{stylesheetid}}&&cat={{category}}"
					class="rightpane_add_btn">Organize</a>
				</span>
			</div>
			<!-- header pane -->

			<div class="divi2"></div>
			<div>
				<div ng-show="gettingstyles">
                	<img src="img/ajax-loadersmall.gif" style="float:left;" >
					<br>
				</div>
				
				<ul class="thumbnails">
					<li ng-repeat="style in styles">
						<div style="position: relative;">
							<img ng-src="{{style.profilethumbpic}}" width="220" height="300"
								alt="" title="">
							<div class="masklayer">
								<h1 class="editdel" ui-if="isMyProfile">
									<a ng-click="deletestyle(style.styleid)" title="Delete"><i
										class="icon-trash icon-white"></i></a><a
										href="#/addstyle?id={{stylesheetid}}&&cat={{category}}&&styleid={{style.styleid}}"
										title="Edit"><i class="icon-edit icon-white"></i></a>
								</h1>
								<h1 class="style-brandname" style="text-align: center;">
									{{brandname}}</h1>
								<h1 class="style-seasonname">
									<i>{{stylesheetname}}</i>
								</h1>
								<h1 class="style-name">
									<u>Style:</u>
								</h1>
								<h1 class="name">
									<i>{{style.styleno}}</i>
								</h1>
								<h1 class="pricez">
									<span class="WebRupee"
										style="font-size: 15px; margin-left: 3px;">Rs.</span> <span
										class="regular-price" id="product-price-11072"> <span
										class="price">{{style.price}}</span>
									</span>
								</h1>
								<p>
									<a style="color: white; text-decoration: none;"
										ng-href="#/stylepreview?id={{stylesheetid}}&&cat={{category}}&&styleid={{style.styleid}}">
										View </a>
								</p>
							</div>
						</div>
						<div class="linesheet-designer">
							<h1 class="designer">{{brandname}}</h1>
						</div>
						<div class="linesheet-style">
							<h1 class="name">{{style.styleno}}</h1>
						</div>
					</li>
				</ul>
				<div get-more="getmorestyles()">
   					<div ng-show="gettingmorestyles">
   						<center><img src="img/ajax-loadersmall.gif"><br></center>
   					</div>
   					<div ng-show="nomoredataavailable">
   						End of data
   					</div>
				</div>
			</div>
		</div>
		<!-- right pane -->
	</div>
</div>
<!--body-->