<!--body-->
<div class="container minimum_height">
	<div class="row">
		<!-- left-pane -->
		<div class="span3">
			<h4 class="leftpane_entity_heading">Boutique</h4>
			<div class="divi2"></div>
			<ul class="thumbnails">
				<li class="span3">
					<div>
						<span> 
							<a ui-if="isMyProfile" ng-href="#profile"> <img alt="" ng-src={{profilepic.thumbnail_url}}
										class="pull-left leftpane_profile_img"></a>
							<a ui-if="!isMyProfile" ng-href="#/{{profileid}}/profile"> <img alt="" ng-src={{profilepic.thumbnail_url}}
										class="pull-left leftpane_profile_img"></a>
						</span> 
						<span> 
							<a ui-if="isMyProfile" ng-href="#profile" class="leftpane_entity_name">{{entityname}}</a>
							<a ui-if="!isMyProfile" ng-href="#/{{profileid}}/profile" class="leftpane_entity_name">{{entityname}}</a>
						</span>
					</div>
				</li>
			</ul>

			<div class="leftpane_subheading">FILTERS</div>
			<div class="divi2"></div>
			<div class="leftpane_filter_name">
				<span class="leftpane_filter_name">Style name</span> <input
					type="text" placeholder="Style name" class="span3" /> <span
					class="leftpane_filter_name">Style number</span> <input type="text"
					placeholder="Style number" class="span3" /> <span
					class="leftpane_filter_name">Fabrication</span> <input type="text"
					placeholder="Fabrication" class="span3" /> <span
					class="leftpane_filter_name">Price</span> <input type="text"
					class="span3" />
			</div>
			<div>
				<!-- <h4 class="leftpane_subheading">Line sheets in this brand</h4> -->
				<span class="leftpane_filter_name">Line sheets in this brand</span> 
				<input
					type="text" placeholder="linesheets in this brand" class="span3"/>
				<ul class="nav nav-tab nav-stacked">
					<li ng-repeat="linesheet in linesheets">
						<div class="leftpanefeed fade_spot">
							<div class="feedimage">
								<a ng-click="setlinesheet(linesheet.galleryid)"> <img alt=""
									ng-src="{{linesheet.leftpic}}" class="pull-left"></a>
							</div>
							<div class="leftpanefeed_text">
								 <h3>
									<a ng-click="setlinesheet(linesheet.galleryid)" title="">{{brandname}}</a>
								</h3>
								<h2>
									<a ng-click="setlinesheet(linesheet.galleryid)" title="">{{linesheet.galleryname}}</a>
								</h2>
								<h3 style="margin-top:3px;">
									<span ng-click="setlinesheet(linesheet.galleryid)" title="">Delivery Date</span>
								</h3>
								<h2>
									<span ng-click="setlinesheet(linesheet.galleryid)" title="">26-Aug-2012</span>
								</h2>
								<p>{{style.stylename}}</p>
							</div>
						</div>
					</li> 
				</ul>
			</div>
		</div>
		<!-- left-pane -->
		<!-- right pane -->
		<div class="span9">
			<div>
				<!-- <div>
					<span class="left heading_btn header_width"> <a href="#/linesheets">Line
							sheets</a> <span class="divider">/</span> <span>
							<a ng-href="#/styles?id={{linesheetid}}&&cat={{category}}">Rebecca Minkoff {{linesheetname}}</a></span>
					</span> <span class="right"> <a ng-href="#{{backButton}}"
						class="rightpane_back_btn">Back</a></span>
					<div class="divi2 right_pane_underline"></div>
					<span class="left right_pane_info"> Find styles using the
						filters </span> <span class="right"> <a href="#/addlinesheets?id={{linesheetid}}&&cat={{category}}"
						class="rightpane_add_btn">Organize</a>
					</span>
					<div class="divi2 right_pane_underline"></div>
				</div> -->
				
				<!-- header pane -->
				<div style="border-bottom: 1px solid black; position: relative; top: -2px;">
					<span class="left ywbreadcrumb header_width"> 
						<a ui-if="isMyProfile" class="nonactive" ng-href="#/linesheets" >Linesheets</a>
						<a ui-if="!isMyProfile" class="nonactive" ng-href="#/{{profileid}}/linesheets" >Linesheets</a> 
						<span class="ywdivider">/</span> <span>
						{{brandname}} {{linesheetname}}</span></span>
				</div>
				<div style="border-bottom: 1px solid black;margin-bottom:10px;">
					<span class="left right_pane_info"> Find styles using the
						filters </span> 
					<span class="right" ui-if="isMyProfile && iambrand"> <a
						href="#/addlinesheets?id={{linesheetid}}&&cat={{category}}" class="rightpane_add_btn">Organize</a>
					</span>
				</div>
				<!-- header pane -->

				<div>
				<ul class="thumbnails">
					<li ng-repeat="style in styles">
						<div align="center" style="position: relative;">
							<a class="product-image" ui-if="isMyProfile" 
								ng-href="#/style?id={{linesheetid}}&&cat={{category}}&&styleid={{style.styleid}}"
								title=""> <img ng-src="{{style.profilethumbpic}}" class="fade_spot"
								width="220" height="300" alt="" title=""></a>
							<a class="product-image" ui-if="!isMyProfile" 
								ng-href="#/{{profileid}}/style?id={{linesheetid}}&&cat={{category}}&&styleid={{style.styleid}}"
								title=""> <img ng-src="{{style.profilethumbpic}}" class="fade_spot"
								width="220" height="300" alt="" title=""></a>
							<div class="linesheet-designer">
								<span class="designer">{{brandname}}</span>
							</div>
							<div class="linesheet-season">
								<span class="season">{{style.stylename}}</span>
							</div>
							<div class="price-box">
							<span class="WebRupee" style="font-size: 15px;">Rs.</span>
								<span class="regular-price" id="product-price-11072"> <span
									class="price">{{style.price}}</span>
								</span>
								
							</div>
						</div>
					</li>
				</ul>
				</div>
			</div>
			<!-- right pane -->
		</div>
	</div>
</div>
<!--body-->