<!--body-->
<div class="container minimum_height">
	<div class="row">
		<!-- left-pane -->
		<div class="span3">
			<div class="underline">
				<span ui-if="!iambrand" class="leftpane_entity">Boutique </span> <span
					ui-if="iambrand" class="leftpane_entity">Brand </span>
			</div>
			<div class="divi2"></div>
			<ul class="thumbnails">
				<li class="span3">
					<div>
						<span> <a ng-href="#profile"> <img alt=""
								ng-src={{profilepic.thumbnail_url}}
								class="pull-left leftpane_profile_img"></a>
						</span> <span> <a ng-href="#profile" class="leftpane_entity_name">{{entityname}}</a>
						</span>
					</div>
				</li>
			</ul>
			<div class="leftpane_subheading-noborder">Settings</div>
			<ul class="nav nav-tabs nav-stacked">
				<li><a ng-href="#">User Name</a></li>
				<li><a ng-href="#">Password</a></li>
				<li><a ng-href="#">Email</a></li>
				<li><a ng-href="#">Email Notification</a></li>
				<li><a ng-href="#">Billing Address</a></li>
				<li><a ng-href="#">Shipping Address</a></li>
				<li><a ng-href="#">Deactivate Account</a></li>
			</ul>
		</div>
		<!-- left-pane -->
		<!-- right-pane -->
		<div class="span9">
			<div>
				<span class="left rightpane_subHeading"> Account Settings</span>
				<div class="divi2 right_pane_underline"></div>
				<div>
					<h4 class="subHeadingAccountset_no_underline">Change User Name</h4>
					<div class="divi2 topborderline"></div>
					<div class="span9">
						<form class="form-horizontal css-form" name="userform">
							<label class="control-label"> User Name</label>
							<div class="controls">
								<input type="text" ng-model="newname" class="span3"
									placeholder="User name" name="uUserName" ng-maxlength="25"
									required/>
							</div>
							<!-- <div class="divi2"></div>
							<label class="control-label"> Email id</label>
							<div class="controls">
								<input type="text" ng-model="newname" class="span3"
									placeholder="Email id" name="uUserName" ng-maxlength="15"
									required maxlength="26" />
							</div> -->
							<div class="divi2"></div>
							<label class="control-label"> Password</label>
							<div class="controls">
								<input type="password" class="span3" ng-model="password"
									placeholder="Enter current password">
							</div>
							<div class="divi2"></div>
							<div class="alert alert-info  pull-left">
								<button type="button" class="close" data-dismiss="alert">
									<small>x</small>
								</button>
								You have successfully Changed your User Name
							</div>
							<div class="divi2"></div>
							<button type="submit" style="margin-left: 550px;"
								class="btn btn-inverse" ng-click="updatename(newname)">Save
								changes</button>
						</form>
					</div>
				</div>

				<div>
					<h4 class="subHeadingAccountset_no_underline">Change Password</h4>
					<div class="divi2 topborderline"></div>
					<div class="span9">
						<form class="form-horizontal css-form" name="form">
							<label class="control-label"> New Password</label>
							<div class="controls">
								<input type="password" class="span3" ng-model="newPassword" placeholder="New password">
							</div>
							<div class="divi2"></div>
							<label class="control-label"> Confirm Password</label>
							<div class="controls">
								<input type="password" class="span3"
									ng-model="confirmPassword" placeholder="Confirm password">
							</div>
							<div class="divi2"></div>
							<label class="control-label">Current Password</label>
							<div class="controls">
								<input type="password" class="span3" ng-model="password"
									placeholder="Enter current password">
							</div>
							<div class="divi2"></div>
							<div class="alert alert-info pull-left">
								<button type="button" class="close" data-dismiss="alert">
									<small>x</small>
								</button>
								You have successfully Changed Your password
							</div>
							<div class="divi2"></div>
							<button type="submit" style="margin-left: 550px;" data-loading-text="Saving..."
								class="btn btn-inverse" ng-click="updatepassword($event)">Save
								changes</button>
						</form>
					</div>
				</div>


				<div>
					<h4 class="subHeadingAccountset_no_underline">Change Email-Id</h4>
					<div class="divi2 topborderline"></div>
					<div class="span9">
						<form class="form-horizontal css-form" name="emailform">
							<label class="control-label"> Email id</label>
							<div class="controls">
								<input type="text" ng-model="email" class="span3"
									placeholder="Email id" ng-maxlength="50" required />
							</div>
							<div class="divi2"></div>
							<label class="control-label"> Password</label>
							<div class="controls">
								<input type="password" class="span3" ng-model="password"
									placeholder="Enter current password">
							</div>
							<div class="divi2"></div>
							<div class="alert alert-info pull-left">
								<button type="button" class="close" data-dismiss="alert">
									<small>x</small>
								</button>
								You have successfully Changed Your Email-id
							</div>
							<div class="divi2"></div>
							<button type="submit" style="margin-left: 550px;"
								data-loading-text="Saving..."
								class="btn btn-inverse" ng-click="updateemail($event)">Save
								changes</button>
						</form>
					</div>
				</div>

				<div>
					<h4 class="subHeadingAccountset_no_underline">Email
						Notification</h4>
					<div class="divi2 topborderline"></div>
					<span style="border-bottom:1px solid #000;">Control when and how often Veawe sends emails to you.</span>
					<div class="divi2"></div>
					<div class="span9">
						<form class="form-horizontal css-form" name="form">
							<div>
								<label
									style="font-family: 'Lato', sans-serif; font-weight: 400;"
									class="checkbox"> <input type="checkbox" ng-model="emailnotifications.networkrequest"> 
									Email Me when i Get a Network Request
								</label>
							</div>
							<div class="divi2"></div>
							<div>
								<label
									style="font-family: 'Lato', sans-serif; font-weight: 400;"
									class="checkbox"> <input type="checkbox"> 
									Email Me when i Get an Order Request
								</label>
							</div>
							<div class="divi2"></div>
							<button type="submit" style="margin-left: 550px;" data-loading-text="Saving..."
								class="btn btn-inverse" ng-click="updateemailnotifications($event)">Save
								changes</button>
						</form>
					</div>
				</div>

				<div>
					<h4 class="subHeadingAccountset_no_underline">Billing Address</h4>
					<div class="divi2 topborderline"></div>
					<div class="span9">
						<form class="form-horizontal css-form" name="form">
							<label class="control-label"> Email id</label>
							<div class="controls">
								<input type="text" ng-model="newname" class="span3"
									placeholder="Email id" name="uUserName" ng-maxlength="25"
									required />
							</div>
							<div class="divi2"></div>
							<label class="control-label"> Password</label>
							<div class="controls">
								<input type="password" class="span3" ng-model="$scope.password"
									placeholder="Enter current password">
							</div>
							<div class="divi2"></div>
							<div class="alert alert-info pull-left">
								<button type="button" class="close" data-dismiss="alert">
									<small>x</small>
								</button>
								You have successfully Changed Your Email-id
							</div>
							<div class="divi2"></div>
							<button type="submit" style="margin-left: 550px;"
								class="btn btn-inverse" ng-click="updateemail(newemail)">Save
								changes</button>
						</form>
					</div>
				</div>


				<div>
					<h4 class="subHeadingAccountset_no_underline">Shipping Address</h4>
					<div class="divi2 topborderline"></div>
					<div class="span9">
						<form class="form-horizontal css-form" name="form">
							<label class="control-label"> Email id</label>
							<div class="controls">
								<input type="text" ng-model="newname" class="span3"
									placeholder="Email id" name="uUserName" ng-maxlength="15"
									required maxlength="26" />
							</div>
							<div class="divi2"></div>
							<label class="control-label"> Password</label>
							<div class="controls">
								<input type="password" class="span3" ng-model="$scope.password"
									placeholder="Enter current password">
							</div>
							<div class="divi2"></div>
							<div class="alert alert-info pull-left">
								<button type="button" class="close" data-dismiss="alert">
									<small>x</small>
								</button>
								You have successfully Changed Your Email-id
							</div>
							<div class="divi2"></div>
							<button type="submit" style="margin-left: 550px;"
								class="btn btn-inverse" ng-click="updateemail(newemail)">Save
								changes</button>
						</form>
					</div>
				</div>

				<div>
					<h4 class="subHeadingAccountset_no_underline">De-activate
						Account</h4>
					<div class="divi2 topborderline"></div>
					<div class="span9">
						<form class="form-horizontal css-form" name="form">
							<label class="control-label"> User Name</label>
							<div class="controls">
								<input type="text" ng-model="newname" class="span3"
									placeholder="User name" name="uUserName" ng-maxlength="15"
									required maxlength="26" />
							</div>
							<div class="divi2"></div>
							<label class="control-label"> Password</label>
							<div class="controls">
								<input type="password" class="span3" ng-model="$scope.password"
									placeholder="Enter current password">
							</div>
							<div class="divi2"></div>
							<!-- <label class="control-label" style="color:transparent;">De-active</label>
							<div class="controls">
								<input type="checkbox"><span class="checkbx_text"
									style="margin-left: 3px;">De-Activate</span>
							</div>
							<div class="divi2"></div> -->
							<button type="submit" style="margin-left: 550px;"
								class="btn btn-inverse">De-activte account</button>
						</form>
					</div>
				</div>

			</div>
		</div>
		<!-- right-pane -->
	</div>
</div>
