<div id="category">
    <div style="border-color: White; width: 150px;">
        <ul class="nav">
            <li class="collapsed" ng-repeat="mainfilter in searchfilter.filters">
                <div>
                    <i class="icon-plus-sign icon-black position-plus-treeview" ng-click="toggle($event)"></i>
                    <input type="checkbox" ng-model="mainfilter.checked" ng-checked="mainfilter.checked"
                        ng-change="selectChildFilters(mainfilter)" />
                    <span class="checkbox_font_main">{{mainfilter.name}}</span>
                    <div class="togglecontainer">
                        <ul ng-repeat="filter in mainfilter.children" class="hide-bullets">
                            <li class="collapsed">
                                <input type="checkbox" ng-model="filter.checked" ng-checked="filter.checked" ng-change="selectParentFilters(mainfilter)" />
                                <span class="checkbox_font">{{filter.name}}</span> </li>
                        </ul>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
