<!--body-->
<div class="container minimum_height">
	<div class="row">
		<!-- left-pane -->
		<div class="span3">
			<h4 class="leftpane_entity_heading">Boutique</h4>
			<div class="divi2"></div>
			<ul class="thumbnails">
				<li class="span3">
					<div>
						<span> <a href="#profile"> <img alt=""
								ng-src={{profilepic.thumbnail_url}}
								class="pull-left leftpane_profile_img"></a>
						</span> <span> <a href="#profile" class="leftpane_entity_name">{{entityname}}</a>
						</span>
					</div>
				</li>
			</ul>
			<div class="leftpane_subheading">FILTERS</div>
			<div class="divi2"></div>
			<div class="leftpane_filter_name">
				<span class="leftpane_filter_name">TITLE</span> <input type="text"
					class="span3" ng-model="searchphotoname" ng-change="getphotos()"/> <span class="leftpane_filter_name">DESCRIPTION</span>
				<input type="text" class="span3" />
			</div>

		</div>
		<!-- left-pane -->
		<!-- right-pane -->
		<div class="span9">
			<div>
				 <span class="left heading_btn header_width">
                        <a href="#/newsletter">Editorials</a>
                        <span class="divider">/</span>
                        <span><a
						href="#/editorial?id={{galleryid}}">{{galleryname}}</a></span>
                </span> 
				<div class="divi2 right_pane_underline"></div>
				<span class="left right_pane_info"> Find Editorials using the
					filters </span> <span class="right" ng-show="isMyProfile"> <a
					 href="#/addnewsletter?id={{galleryid}}" class="rightpane_add_btn">organise</a>
				</span>
				<div class="divi2 right_pane_underline"></div>
			</div>
		<div masonry photo-gallery="photogallery" gallery-name="galleryname">
			</div>
		<!-- 	<div>
				<ul class="thumbnails">
					<li ng-repeat="photo in photogallery" style="position: relative;margin-top:20px;">
						<div class="view view-first">
							<a ng-href="#/viewnewsletter?id={{photo.uniqueid}}&&galleryid={{galleryid}}" > <img
									ng-src="{{photo.thumbnail_url}}" alt="" class="fade_spot" ></a>
							<div class="divi2"></div>
						</div>
						<div class="campaigntitle">
							<h3>{{photo.label}}</h3>
						</div>
					</li>
				</ul>
			</div> -->

		</div>
		<!-- right-pane -->
	</div>
</div>
<!--body-->

