<ul class="thumbnails">
	<li ng-repeat="eachfile in newfiles" class="span3">
		<div class="thumbnail">
			<img ng-src={{eachfile.thumbnail_url}} alt="" ng-style="{'max-height': maxheight, 'min-height': minheight}">
			<div style="min-height:84px; max-height:84px;">
			<!-- <h5>{{eachfile.label}}</h5>
				<h6>
					<p>{{eachfile.seasonname}}</p>
				</h6> -->
				<span ng-show="progressVisible" style="position:relative;top:30px;" >
            		<div class="percent">{{progress}}%</div>
            		<div class="progress-bar">
                		<div class="uploaded" ng-style="{'width': progress+'%'}"></div>
            		</div>
        		</span>
			</div>
		</div>
	</li>
	<li ng-repeat="eachfile in existingfiles" class="span3">
		<div class="thumbnail">
			<img ng-src={{eachfile.thumbnail_url}} alt="" ng-style="{'max-height': maxheight, 'min-height': minheight}">
			<div style="min-height:75px; max-height:75px;">
				<div edit-text title="eachfile.label" season="eachfile.seasonname" 
					 edit-mode="isEditMode" update-data="updateData()"></div>
				<p style="text-align:right;">
			     <a ng-hide="isEditMode"style="text-decoration:none;">Remove</a>
				</p>
			</div>
		</div>
	</li>
</ul>
