<!-- header -->
<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"><span
                class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
            </a><a class="brand span2" href="#/corner.htm">NETVOGUE
            </a>
            <div class="nav-collapse" style="position:relative;right:10px;">
                <ul class="nav">
                    <li style="visibility: hidden" ><a href="#"><i class="icon-envelope icon-Black"></i><span class="bubble">1</span></a></li>
                    <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><i
                        class="icon-globe icon-Black"></i>
                        <span class="bubble" ng-show="unreadnotifications > 0">{{unreadnotifications}}</span>
                        <b class="caret"></b></a>
                        <ul id="notification-comments" class="notification-menu span5 notify-info">
                            <li ng-repeat="notification in notifications"><a class="auto" ng-href="#/notification">
                                <div class="clearfix">
                                    <div class="MercuryThreadImage _8o _8s lfloat">
                                        <img class="_s0 _rw img" ng-src="{{notification.top_url}}" alt=""></div>
                                    <div class="_8m ">
                                        <div class="content fsm fwn fcg">
                                            <div class="author">
                                                <strong>{{item.name}}</strong></div>
                                            <div class="preview fsm fwn fcg">
                                                <span>{{notification.text}}</span></div>
                                            <div class="time">
                                                <abbr class="timestamp">
                                                    23 August</abbr></div>
                                        </div>
                                    </div>
                                </div>
                            </a></li>
                            <div class="jewelFooter">
                                <a class="seeMore" href="#/notification" accesskey="5"><span>Show All Notifications</span></a></div>
                        </ul>
            </div>
            <div class="navbar-search dropdown" style="position:relative;left:-14px;" ng-class="{open: focused && searchText.length > 0}">
	            <input type="text" ng-model="searchText" style="width:310px;" class="search-query data-toggle" 
	            			placeholder="Search" focused="focused" ng-change="getsearchResults(searchText)">
	            <ul id="Ul1" class="notification-menu span5 notify-info">
	                <li ng-repeat="item in searchResults | filter:searchText">
	                <a class="auto" ng-href="#/{{item.username}}/profile">
	                    <div class="clearfix">
	                        <div class="MercuryThreadImage _8o _8s lfloat">
	                            <img class="_s0 _rw img" ng-src="{{item.thumbpic}}"  alt=""></div>
	                        <div class="_8m ">
	                            <div class="content fsm fwn fcg">
	                                <div class="author">
	                                    <strong>{{item.name}}</strong></div>
	                                <div class="preview fsm fwn fcg">
	                                    <span>{{item.country}} - {{item.city}}</span></div>
	                                <div class="time">
	                                    <abbr class="timestamp">
	                                        Estd August-2000</abbr></div>
	                            </div>
	                        </div>
	                    </div>
	                </a></li>
	                <div class="jewelFooter">
	                    <a class="seeMore" href="#/advancesearch" accesskey="5"><span>Show More Results</span></a></div>
	            </ul>
            </div>
            <ul class="nav">
            </ul>
            <ul class="nav pull-right">
                <li class="fade_spot_header">
                <a href="#/profile">
                <img style="max-width:25px;max-height:20px;" ng-src="{{profilepic.left_url}}"
					alt="" />
                {{entityname}}</a></li>
                <!-- 22 chars is fine -->
                <!--  <li><a href="#">My shop</a></li>
                        <li><a href="#">My Cart</a></li>-->
                <li class="fade_spot_header"><a href="#/advancesearch">Directory</a></li>
              <!--   <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Settings
                    <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#/accountsettings">Account settings</a></li>
                        <li><a href="#/profilesettings">Profile settings</a></li>
                        <li><a href="#/privacysettings">Privacy settings</a></li>
                    </ul>
                </li> -->
                <li class="dropdown"><a href="#" class="dropdown-toggle fade_spot_header" data-toggle="dropdown">Account
                    <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                    <li><a href="#/accountsettings">Account settings</a></li>
                      <!--   <li><a href="#/profilesettings">Profile settings</a></li> -->
                        <li><a href="#/privacysettings">Privacy settings</a></li>
                        <li><a href="userLogout">Sign out</a></li>
                        <li class="divider"></li>
                        <!--   <li><a href="#invite" data-toggle="modal">Send Invite</a></li>-->
                        <li><a href="#help">Help</a></li>
                        
                    </ul>
                </li>
                <!--    <li><a href="userLogout">Sign out</a></li>-->
            </ul>
        </div>
        <!-- /.nav-collapse -->
    </div>
    <!-- /.container -->
</div>
<!-- /.navbar-inner -->
<!-- /.navbar -->
<!-- header -->
<script type="text/javascript">

    /*var counterValue = parseInt($('.bubble').html());

    $('#decrement').on('click',function(){
    counterValue--;
    $('.bubble').html(counterValue);
    })
 
    $('#increment').on('click',function(){
    counterValue++;
    $('.bubble').html(counterValue);
    var newLi = $("<li class='notification-list-item'></li>");
		  
    var newarch = $("<a></a>").attr('href', '#').appendTo(newLi);  
    $("<div class='unread-ntf'></div>").text('comment testing testing testing testing testing testing testing').appendTo(newarch);
    newLi.prependTo('#notification-comments');   
    })	
	
    $('#notification-comments li').live('click', function ()
    {
    if($(this).find('div').hasClass('unread-ntf')){
    $(this).find('div').removeClass('unread-ntf').addClass('read-ntf');
    counterValue--;
    $('.bubble').html(counterValue);
    }
    });*/

</script>
