<div class="span2">
	<ul class="thumbnails">
		<li class="span2">
			<div style="position: relative;">
				<a href="#"> <img ng-src={{profilepic.thumbnail_url}}
					width="140" height="100" alt="" /></a>
				<div ng-class={masklayer:isMyProfile}>
					<h1 class="fileup" ng-show="isMyProfile">
						<span class="fileinput-button"> <span><i
								class="icon-edit icon-white"></i>change Image</span> <input
							id="profileupload" type="file" name="files[]"
							data-url="profile/profilepic" profileupload-plugin>
						</span>
					</h1>
				</div>
			</div>
			<div class="underline">
				<div class="profile-address">
					<h5 ng-bind="entityname"></h5>
					<p>Estd {{contactinfo.yearest}}</p>
					<address ng-bind="getcontactinfo"></address>
				</div>
				<div class="profile-pricerange" ng-hide="0 == contactinfo.fromprice && 0 == contactinfo.toprice">
					<p>Price range</p>
					<p>
						<span class="WebRupee" style="font-size: 15px; margin-left: 3px;">Rs.</span>
					 	<span>{{contactinfo.fromprice}}</span> 
					 	- 
					 	<!-- <span class="WebRupee" style="font-size: 15px; margin-left: 3px;">Rs.</span> -->
					 	<span>{{contactinfo.toprice}}</span>
					</p>
				</div>

			</div>
			<ul class="nav nav-list" id="leftmenu">
				<li class="nav-header">Favourites</li>
				<li class="ng-scope leftmenu_tabs" ng-class="navClass('Corner')"><a
					ng-href="{{links.corner}}">Window <img ng-show="gettingupdates"
						src="img/ajax-loadersmall.gif" style="float: right;"></a></li>
				<li class="ng-scope leftmenu_tabs" ng-class="navClass('Profile')"><a
					ng-href="{{links.profile}}">Profile <img ng-show="gettingprofile"
						src="img/ajax-loadersmall.gif" style="float: right;"></a></li>
				<li class="ng-scope leftmenu_tabs" ng-class="navClass('Network')"><a
					ng-href="{{links.network}}">Network <img ng-show="gettingnetwork"
						src="img/ajax-loadersmall.gif" style="float: right;"></a></li>
				<li class="ng-scope leftmenu_tabs" ng-class="navClass('Gallery')"><a
					ng-href="{{links.gallery}}">Gallery</a></li>
				<li class="nav-header">Press</li>
				<li class="leftmenu_tabs"><a ng-href="{{links.printcampaign}}">Print
						Campaign</a></li>
				<!--    <li class="leftmenu_tabs"><a ng-href="{{links.videocampaign}}">Video Campaign</a> </li> -->
				<li class="leftmenu_tabs"><a ng-href="{{links.newsletter}}">Editorials</a>
				</li>
				<li class="nav-header" ng-show="!iambrand && isMyProfile">My
					Shop</li>
				<li class="nav-header" ng-show="iambrand">My Works</li>
				<li ng-show="iambrand || (!iambrand && isMyProfile)"
					class="leftmenu_tabs"><a ng-href="{{links.linesheets}}">Linesheets</a></li>
				<li ng-show="iambrand && (isMyProfile)" class="leftmenu_tabs"><a
					ng-href="{{links.stylesheets}}">Lookbooks</a></li>
				<li ng-show="iambrand || (!iambrand && isMyProfile)"
					class="leftmenu_tabs"><a ng-href="{{links.collections}}">Collections</a>
				</li>
				<li ng-show="isMyProfile" class="nav-header">Invite</li>
				<li ng-show="isMyProfile" class="leftmenu_tabs"><a
					href="#invite" data-toggle="modal">Send Invite</a></li>
				<!--     <li class="nav-header">Inspire </li>
    <li><a ng-href="{{links.printcampaign}}">Blog</a> </li>-->
			</ul>
		</li>
	</ul>
</div>
<!-- left pannel -->