<!--body-->
<div class="container minimum_height">
	<div class="row">
		<!-- left pane -->
		<div class="span3">
			<div class="underline">
				<span ui-if="!iambrand" class="leftpane_entity">Boutique </span> <span
					ui-if="iambrand" class="leftpane_entity">Brand </span>
			</div>
			<div class="divi2"></div>
			<ul class="thumbnails">
				<li class="span3">
					<div>
						<span> <a href="#profile"> <img alt=""
								ng-src={{profilepic.thumbnail_url}}
								class="pull-left leftpane_profile_img"></a>
						</span> <span> <a href="#profile" class="leftpane_entity_name">{{entityname}}</a>
						</span>
					</div>
				</li>
			</ul>
			<div class="leftpane_subheading">Cart</div>
			<ul class="nav nav-tab nav-stacked">
				<li>
					<div class="leftpanefeed">
						<div class="feedimage">
							<a> <img ng-src="img/donna_karan_adriana_lima_3.jpg"
								class="pull-left"></a>
						</div>
						<div class="leftpanefeed_text">
							<p>
								<a>Donna Karan</a>
							</p>
							<p>
								<span>Qty: 24</span>
							</p>
							<p class="rupee pull-right">
								<span> <span class="WebRupee rs">Rs.</span>8,00,000
								</span>
							</p>
						</div>
					</div>
				</li>
				<li>
					<div class="leftpanefeed">
						<div class="feedimage">
							<a> <img ng-src="img/donna_karan_adriana_lima_2.jpg"
								class="pull-left"></a>
						</div>
						<div class="leftpanefeed_text">
							<p>
								<a>Rebecca Minkoff</a>
							</p>
							<p>
								<span>Qty: 24</span>
							</p>
							<p class="rupee pull-right">
								<span> <span class="WebRupee rs">Rs.</span>8,00,000
								</span>
							</p>
						</div>
					</div>
				</li>
			</ul>
			<ul class="nav nav-tab nav-stacked">
				<li>
					<div class="leftpane-total">
						<p class="rupee pull-right">
							<span> <span style="margin-right: 3px;">Total:</span> <span
								class="WebRupee rs">Rs.</span>16,00,000
							</span>
						</p>
					</div>
				</li>
			</ul>
		</div>
		<!-- left pane -->


		<!-- right pane -->
		<div class="span9">


			<div style="border-bottom: 1px solid black;">
				<span class="left rightpane_subHeading">cart </span>
			</div>
			<div style="border-bottom: 1px solid black;">
				<span class="left right_pane_info"> Use the filters below to
					discover Brands and boutiques you know based on Name,location and
					more. </span>
			</div>


		<div>
			<ul class="nav nav-tabs nav-stacked" style="margin-bottom: 0px;">
				<li>
					<div class="network">
						<span class="brand_image"><a> <img alt=""
								ng-src="img/donna_karan_adriana_lima_2.jpg" class="pull-left"></a>
						</span> <span class="network_text">
							<p>
								<span>Donna Karan</span>
							</p>
							<p class="networkdetails">
								<span>Qty: 24</span>
							</p>
							<p class="networkdetails rupee">
								<span> <span style="margin-right: 3px;">Total:</span> <span
									class="WebRupee rs">Rs.</span>8,00,000
								</span>
							</p>
							<p>
								<span><a ng-href="#">Show Details</a></span>
							</p>
					</div>
				</li>
			</ul>
			<div>
				<div class="collapsible" id="nav-section1"
					style="margin-top: 3px; margin-bottom: 3px; background-color: #000; color: #fff;">
					<span style="min-width:150px;margin-right:20px;" >Spring Summer 2012</span>
					<span style="min-width:150px;margin-right:20px;" >Qty: 10</span>
					<span style="min-width:150px;margin-right:20px;" >Total: 50000</span>
					<span class="pull-right"> <a
						style="color: #fff; margin-right: 3px;">Checkout</a>
					</span>
				</div>
				<div>
					<ul class="nav nav-tabs" style="margin-bottom: 0px;">
						<li>
							<div class="mycartstyles">
								<span class="style_image rgt-thumb-relative"> <a> <img
										alt="" ng-src=images/paste4.jpg class="pull-left"></a>
									<div class="masklayer">
										<a ng-href="#/mycart" title="Remove from cart"><i
											class="icon-remove-sign icon-white"></i></a>
									</div>
								</span> <span class="style_text">
									<p>
										<span>Style #</span>
									</p>
									<p class="styledetails">
										<span>RTY2654</span>
									</p>
									<p class="styledetails">
										<span>Qty: 3</span>
									</p>
									<p class="styledetails rupee">
										<span> <span class="WebRupee rs">Rs.</span>1,00,000
										</span>
									</p>
									<p class="styledetails">
										<a data-toggle="modal" ng-href="#Createlinesheet">Edit</a>
									</p>
									<p class="styledetails">
										<label style="font-family: 'Lato', sans-serif;"
											class="checkbox"> <input type="checkbox" checked>
											Active
										</label>
									</p>
								</span>
							</div>
						</li>
						<li>
							<div class="mycartstyles">
								<span class="style_image rgt-thumb-relative"><a> <img
										alt="" ng-src=images/paste.jpg class="pull-left"></a>
									<div class="masklayer">
										<a ng-href="#/mycart" title="delete"><i
											class="icon-remove-sign icon-white"></i></a>
									</div> </span> <span class="style_text">
									<p>
										<span>Style #</span>
									</p>
									<p class="styledetails">
										<span>RTY2657</span>
									</p>
									<p class="styledetails">
										<span>Qty: 3</span>
									</p>
									<p class="styledetails rupee">
										<span> <span class="WebRupee rs">Rs.</span>1,00,000
										</span>
									</p>
									<p class="styledetails">
										<a data-toggle="modal" ng-href="#Createlinesheet">Edit</a>
									</p>
									<p class="styledetails">
										<label style="font-family: 'Lato', sans-serif;"
											class="checkbox"> <input type="checkbox" checked>
											Active
										</label>
									</p>
								</span>
							</div>
						</li>
						<li>
							<div class="mycartstyles">
								<span class="style_image rgt-thumb-relative"><a> <img
										alt="" ng-src=images/paste6.jpg class="pull-left"></a>
									<div class="masklayer">
										<a ng-href="#/mycart" title="delete"><i
											class="icon-remove-sign icon-white"></i></a>
									</div> </span> <span class="style_text">
									<p>
										<span>Style #</span>
									</p>
									<p class="styledetails">
										<span>RTY2659</span>
									</p>
									<p class="styledetails">
										<span>Qty: 3</span>
									</p>
									<p class="styledetails rupee">
										<span> <span class="WebRupee rs">Rs.</span>1,00,000
										</span>
									</p>
									<p class="styledetails">
										<a data-toggle="modal" ng-href="#Createlinesheet">Edit</a>
									</p>
									<p class="styledetails">
										<label style="font-family: 'Lato', sans-serif;"
											class="checkbox"> <input type="checkbox" checked>
											Active
										</label>
									</p>
								</span>
							</div>
						</li>
						<li>
							<div class="mycartstyles">
								<span class="style_image rgt-thumb-relative"><a> <img
										alt="" ng-src=images/paste2.jpg class="pull-left"></a>
									<div class="masklayer">
										<a ng-href="#/mycart" title="delete"><i
											class="icon-remove-sign icon-white"></i></a>
									</div></span> <span class="style_text">
									<p>
										<span>Style #</span>
									</p>
									<p class="styledetails">
										<span>RTY2654</span>
									</p>
									<p class="styledetails">
										<span>Qty: 3</span>
									</p>
									<p class="styledetails rupee">
										<span> <span class="WebRupee rs">Rs.</span>1,00,000
										</span>
									</p>
									<p class="styledetails">
										<a data-toggle="modal" ng-href="#Createlinesheet">Edit</a>
									</p>
									<p class="styledetails">
										<label class="checkbox"> <input type="checkbox"
											checked> Active
										</label>
									</p>
								</span>
							</div>
						</li>
					</ul>
				</div>
				<div class="collapsible" id="nav-section2"
					style="margin-top: 3px; margin-bottom: 3px; background-color: #000; color: #fff;">
					<span style="min-width:150px;margin-right:20px;" >FALL WINTER 2012</span>
					<span style="min-width:150px;margin-right:20px;" >Qty: 10</span>
					<span style="min-width:150px;margin-right:20px;" >Total: 50000</span>
					<span class="pull-right"> <a
						style="color: #fff; margin-right: 3px;">Checkout</a>
					</span>
				</div>
				<div>
					<ul class="nav nav-tabs" style="margin-bottom: 0px;">
						<li>
							<div class="mycartstyles">
								<span class="style_image rgt-thumb-relative"> <a> <img
										alt="" ng-src=images/paste4.jpg class="pull-left"></a>
									<div class="masklayer">
										<a ng-href="#/mycart" title="Remove from cart"><i
											class="icon-remove-sign icon-white"></i></a>
									</div>
								</span> <span class="style_text">
									<p>
										<span>Style #</span>
									</p>
									<p class="styledetails">
										<span>RTY2654</span>
									</p>
									<p class="styledetails">
										<span>Qty: 3</span>
									</p>
									<p class="styledetails rupee">
										<span> <span class="WebRupee rs">Rs.</span>1,00,000
										</span>
									</p>
									<p class="styledetails">
										<a data-toggle="modal" ng-href="#Createlinesheet">Edit</a>
									</p>
									<p class="styledetails">
										<label style="font-family: 'Lato', sans-serif;"
											class="checkbox"> <input type="checkbox" checked>
											Active
										</label>
									</p>
								</span>
							</div>
						</li>
						<li>
							<div class="mycartstyles">
								<span class="style_image rgt-thumb-relative"><a> <img
										alt="" ng-src=images/paste.jpg class="pull-left"></a>
									<div class="masklayer">
										<a ng-href="#/mycart" title="delete"><i
											class="icon-remove-sign icon-white"></i></a>
									</div> </span> <span class="style_text">
									<p>
										<span>Style #</span>
									</p>
									<p class="styledetails">
										<span>RTY2657</span>
									</p>
									<p class="styledetails">
										<span>Qty: 3</span>
									</p>
									<p class="styledetails rupee">
										<span> <span class="WebRupee rs">Rs.</span>1,00,000
										</span>
									</p>
									<p class="styledetails">
										<a data-toggle="modal" ng-href="#Createlinesheet">Edit</a>
									</p>
									<p class="styledetails">
										<label style="font-family: 'Lato', sans-serif;"
											class="checkbox"> <input type="checkbox" checked>
											Active
										</label>
									</p>
								</span>
							</div>
						</li>
						<li>
							<div class="mycartstyles">
								<span class="style_image rgt-thumb-relative"><a> <img
										alt="" ng-src=images/paste6.jpg class="pull-left"></a>
									<div class="masklayer">
										<a ng-href="#/mycart" title="delete"><i
											class="icon-remove-sign icon-white"></i></a>
									</div> </span> <span class="style_text">
									<p>
										<span>Style #</span>
									</p>
									<p class="styledetails">
										<span>RTY2659</span>
									</p>
									<p class="styledetails">
										<span>Qty: 3</span>
									</p>
									<p class="styledetails rupee">
										<span> <span class="WebRupee rs">Rs.</span>1,00,000
										</span>
									</p>
									<p class="styledetails">
										<a data-toggle="modal" ng-href="#Createlinesheet">Edit</a>
									</p>
									<p class="styledetails">
										<label style="font-family: 'Lato', sans-serif;"
											class="checkbox"> <input type="checkbox" checked>
											Active
										</label>
									</p>
								</span>
							</div>
						</li>
						<li>
							<div class="mycartstyles">
								<span class="style_image rgt-thumb-relative"><a> <img
										alt="" ng-src=images/paste2.jpg class="pull-left"></a>
									<div class="masklayer">
										<a ng-href="#/mycart" title="delete"><i
											class="icon-remove-sign icon-white"></i></a>
									</div></span> <span class="style_text">
									<p>
										<span>Style #</span>
									</p>
									<p class="styledetails">
										<span>RTY2654</span>
									</p>
									<p class="styledetails">
										<span>Qty: 3</span>
									</p>
									<p class="styledetails rupee">
										<span> <span class="WebRupee rs">Rs.</span>1,00,000
										</span>
									</p>
									<p class="styledetails">
										<a data-toggle="modal" ng-href="#Createlinesheet">Edit</a>
									</p>
									<p class="styledetails">
										<label class="checkbox"> <input type="checkbox"
											checked> Active
										</label>
									</p>
								</span>
							</div>
						</li>
					</ul>
				</div>
				<div class="collapsible" id="nav-section3"
					style="margin-top: 3px; margin-bottom: 3px; background-color: #000; color: #fff;">
					<span style="min-width:150px;margin-right:20px;" >Spring Summer 2012</span>
					<span style="min-width:150px;margin-right:20px;" >Qty: 10</span>
					<span style="min-width:150px;margin-right:20px;" >Total: 50000</span>
					<span class="pull-right"> <a
						style="color: #fff; margin-right: 3px;">Checkout</a>
					</span>
				</div>
				<div>
					<ul class="nav nav-tabs" style="margin-bottom: 0px;">
						<li>
							<div class="mycartstyles">
								<span class="style_image rgt-thumb-relative"> <a> <img
										alt="" ng-src=images/paste4.jpg class="pull-left"></a>
									<div class="masklayer">
										<a ng-href="#/mycart" title="Remove from cart"><i
											class="icon-remove-sign icon-white"></i></a>
									</div>
								</span> <span class="style_text">
									<p>
										<span>Style #</span>
									</p>
									<p class="styledetails">
										<span>RTY2654</span>
									</p>
									<p class="styledetails">
										<span>Qty: 3</span>
									</p>
									<p class="styledetails rupee">
										<span> <span class="WebRupee rs">Rs.</span>1,00,000
										</span>
									</p>
									<p class="styledetails">
										<a data-toggle="modal" ng-href="#Createlinesheet">Edit</a>
									</p>
									<p class="styledetails">
										<label style="font-family: 'Lato', sans-serif;"
											class="checkbox"> <input type="checkbox" checked>
											Active
										</label>
									</p>
								</span>
							</div>
						</li>
						<li>
							<div class="mycartstyles">
								<span class="style_image rgt-thumb-relative"><a> <img
										alt="" ng-src=images/paste.jpg class="pull-left"></a>
									<div class="masklayer">
										<a ng-href="#/mycart" title="delete"><i
											class="icon-remove-sign icon-white"></i></a>
									</div> </span> <span class="style_text">
									<p>
										<span>Style #</span>
									</p>
									<p class="styledetails">
										<span>RTY2657</span>
									</p>
									<p class="styledetails">
										<span>Qty: 3</span>
									</p>
									<p class="styledetails rupee">
										<span> <span class="WebRupee rs">Rs.</span>1,00,000
										</span>
									</p>
									<p class="styledetails">
										<a data-toggle="modal" ng-href="#Createlinesheet">Edit</a>
									</p>
									<p class="styledetails">
										<label style="font-family: 'Lato', sans-serif;"
											class="checkbox"> <input type="checkbox" checked>
											Active
										</label>
									</p>
								</span>
							</div>
						</li>
						<li>
							<div class="mycartstyles">
								<span class="style_image rgt-thumb-relative"><a> <img
										alt="" ng-src=images/paste6.jpg class="pull-left"></a>
									<div class="masklayer">
										<a ng-href="#/mycart" title="delete"><i
											class="icon-remove-sign icon-white"></i></a>
									</div> </span> <span class="style_text">
									<p>
										<span>Style #</span>
									</p>
									<p class="styledetails">
										<span>RTY2659</span>
									</p>
									<p class="styledetails">
										<span>Qty: 3</span>
									</p>
									<p class="styledetails rupee">
										<span> <span class="WebRupee rs">Rs.</span>1,00,000
										</span>
									</p>
									<p class="styledetails">
										<a data-toggle="modal" ng-href="#Createlinesheet">Edit</a>
									</p>
									<p class="styledetails">
										<label style="font-family: 'Lato', sans-serif;"
											class="checkbox"> <input type="checkbox" checked>
											Active
										</label>
									</p>
								</span>
							</div>
						</li>
					</ul>
				</div>
			</div>
			</div>
			
			<div class="divi2 underline" ></div>
			
			<div>
			<ul class="nav nav-tabs nav-stacked" style="margin-bottom: 0px;">
				<li>
					<div class="network">
						<span class="brand_image"><a> <img alt=""
								ng-src="img/donna_karan_adriana_lima_2.jpg" class="pull-left"></a>
						</span> <span class="network_text">
							<p>
								<span>Rebecca Minkoff</span>
							</p>
							<p class="networkdetails">
								<span>Qty: 24</span>
							</p>
							<p class="networkdetails rupee">
								<span> <span style="margin-right: 3px;">Total:</span> <span
									class="WebRupee rs">Rs.</span>8,00,000
								</span>
							</p>
							<p>
								<span><a ng-href="#">Show Details</a></span>
							</p>
					</div>
				</li>
			</ul>
			<div>
				<div class="collapsible" id="nav-section1"
					style="margin-top: 3px; margin-bottom: 3px; background-color: #000; color: #fff;">
					<span style="margin-right:20px;" >Spring Summer 2012</span>
					<span style="margin-right:20px;" >Qty: 10</span>
					<span style="margin-right:20px;" >Total: 50000</span>
					<span class="pull-right"> <a
						style="color: #fff; margin-right: 3px;">Checkout</a>
					</span>
				</div>
				<div>
					<ul class="nav nav-tabs" style="margin-bottom: 0px;">
						<li>
							<div class="mycartstyles">
								<span class="style_image rgt-thumb-relative"> <a> <img
										alt="" ng-src=images/paste4.jpg class="pull-left"></a>
									<div class="masklayer">
										<a ng-href="#/mycart" title="Remove from cart"><i
											class="icon-remove-sign icon-white"></i></a>
									</div>
								</span> <span class="style_text">
									<p>
										<span>Style #</span>
									</p>
									<p class="styledetails">
										<span>RTY2654</span>
									</p>
									<p class="styledetails">
										<span>Qty: 3</span>
									</p>
									<p class="styledetails rupee">
										<span> <span class="WebRupee rs">Rs.</span>1,00,000
										</span>
									</p>
									<p class="styledetails">
										<a data-toggle="modal" ng-href="#Createlinesheet">Edit</a>
									</p>
									<p class="styledetails">
										<label style="font-family: 'Lato', sans-serif;"
											class="checkbox"> <input type="checkbox" checked>
											Active
										</label>
									</p>
								</span>
							</div>
						</li>
						<li>
							<div class="mycartstyles">
								<span class="style_image rgt-thumb-relative"><a> <img
										alt="" ng-src=images/paste.jpg class="pull-left"></a>
									<div class="masklayer">
										<a ng-href="#/mycart" title="delete"><i
											class="icon-remove-sign icon-white"></i></a>
									</div> </span> <span class="style_text">
									<p>
										<span>Style #</span>
									</p>
									<p class="styledetails">
										<span>RTY2657</span>
									</p>
									<p class="styledetails">
										<span>Qty: 3</span>
									</p>
									<p class="styledetails rupee">
										<span> <span class="WebRupee rs">Rs.</span>1,00,000
										</span>
									</p>
									<p class="styledetails">
										<a data-toggle="modal" ng-href="#Createlinesheet">Edit</a>
									</p>
									<p class="styledetails">
										<label style="font-family: 'Lato', sans-serif;"
											class="checkbox"> <input type="checkbox" checked>
											Active
										</label>
									</p>
								</span>
							</div>
						</li>
						<li>
							<div class="mycartstyles">
								<span class="style_image rgt-thumb-relative"><a> <img
										alt="" ng-src=images/paste6.jpg class="pull-left"></a>
									<div class="masklayer">
										<a ng-href="#/mycart" title="delete"><i
											class="icon-remove-sign icon-white"></i></a>
									</div> </span> <span class="style_text">
									<p>
										<span>Style #</span>
									</p>
									<p class="styledetails">
										<span>RTY2659</span>
									</p>
									<p class="styledetails">
										<span>Qty: 3</span>
									</p>
									<p class="styledetails rupee">
										<span> <span class="WebRupee rs">Rs.</span>1,00,000
										</span>
									</p>
									<p class="styledetails">
										<a data-toggle="modal" ng-href="#Createlinesheet">Edit</a>
									</p>
									<p class="styledetails">
										<label style="font-family: 'Lato', sans-serif;"
											class="checkbox"> <input type="checkbox" checked>
											Active
										</label>
									</p>
								</span>
							</div>
						</li>
						<li>
							<div class="mycartstyles">
								<span class="style_image rgt-thumb-relative"><a> <img
										alt="" ng-src=images/paste2.jpg class="pull-left"></a>
									<div class="masklayer">
										<a ng-href="#/mycart" title="delete"><i
											class="icon-remove-sign icon-white"></i></a>
									</div></span> <span class="style_text">
									<p>
										<span>Style #</span>
									</p>
									<p class="styledetails">
										<span>RTY2654</span>
									</p>
									<p class="styledetails">
										<span>Qty: 3</span>
									</p>
									<p class="styledetails rupee">
										<span> <span class="WebRupee rs">Rs.</span>1,00,000
										</span>
									</p>
									<p class="styledetails">
										<a data-toggle="modal" ng-href="#Createlinesheet">Edit</a>
									</p>
									<p class="styledetails">
										<label class="checkbox"> <input type="checkbox"
											checked> Active
										</label>
									</p>
								</span>
							</div>
						</li>
					</ul>
				</div>
				<div class="collapsible" id="nav-section2"
					style="margin-top: 3px; margin-bottom: 3px; background-color: #000; color: #fff;">
					<span style="margin-right:20px;" >FALL WINTER 2012</span>
					<span style="margin-right:20px;" >Qty: 10</span>
					<span style="margin-right:20px;" >Total: 50000</span>
					<span class="pull-right"> <a
						style="color: #fff; margin-right: 3px;">Checkout</a>
					</span>
				</div>
				<div>
					<ul class="nav nav-tabs" style="margin-bottom: 0px;">
						<li>
							<div class="mycartstyles">
								<span class="style_image rgt-thumb-relative"> <a> <img
										alt="" ng-src=images/paste4.jpg class="pull-left"></a>
									<div class="masklayer">
										<a ng-href="#/mycart" title="Remove from cart"><i
											class="icon-remove-sign icon-white"></i></a>
									</div>
								</span> <span class="style_text">
									<p>
										<span>Style #</span>
									</p>
									<p class="styledetails">
										<span>RTY2654</span>
									</p>
									<p class="styledetails">
										<span>Qty: 3</span>
									</p>
									<p class="styledetails rupee">
										<span> <span class="WebRupee rs">Rs.</span>1,00,000
										</span>
									</p>
									<p class="styledetails">
										<a data-toggle="modal" ng-href="#Createlinesheet">Edit</a>
									</p>
									<p class="styledetails">
										<label style="font-family: 'Lato', sans-serif;"
											class="checkbox"> <input type="checkbox" checked>
											Active
										</label>
									</p>
								</span>
							</div>
						</li>
						<li>
							<div class="mycartstyles">
								<span class="style_image rgt-thumb-relative"><a> <img
										alt="" ng-src=images/paste.jpg class="pull-left"></a>
									<div class="masklayer">
										<a ng-href="#/mycart" title="delete"><i
											class="icon-remove-sign icon-white"></i></a>
									</div> </span> <span class="style_text">
									<p>
										<span>Style #</span>
									</p>
									<p class="styledetails">
										<span>RTY2657</span>
									</p>
									<p class="styledetails">
										<span>Qty: 3</span>
									</p>
									<p class="styledetails rupee">
										<span> <span class="WebRupee rs">Rs.</span>1,00,000
										</span>
									</p>
									<p class="styledetails">
										<a data-toggle="modal" ng-href="#Createlinesheet">Edit</a>
									</p>
									<p class="styledetails">
										<label style="font-family: 'Lato', sans-serif;"
											class="checkbox"> <input type="checkbox" checked>
											Active
										</label>
									</p>
								</span>
							</div>
						</li>
						<li>
							<div class="mycartstyles">
								<span class="style_image rgt-thumb-relative"><a> <img
										alt="" ng-src=images/paste6.jpg class="pull-left"></a>
									<div class="masklayer">
										<a ng-href="#/mycart" title="delete"><i
											class="icon-remove-sign icon-white"></i></a>
									</div> </span> <span class="style_text">
									<p>
										<span>Style #</span>
									</p>
									<p class="styledetails">
										<span>RTY2659</span>
									</p>
									<p class="styledetails">
										<span>Qty: 3</span>
									</p>
									<p class="styledetails rupee">
										<span> <span class="WebRupee rs">Rs.</span>1,00,000
										</span>
									</p>
									<p class="styledetails">
										<a data-toggle="modal" ng-href="#Createlinesheet">Edit</a>
									</p>
									<p class="styledetails">
										<label style="font-family: 'Lato', sans-serif;"
											class="checkbox"> <input type="checkbox" checked>
											Active
										</label>
									</p>
								</span>
							</div>
						</li>
						<li>
							<div class="mycartstyles">
								<span class="style_image rgt-thumb-relative"><a> <img
										alt="" ng-src=images/paste2.jpg class="pull-left"></a>
									<div class="masklayer">
										<a ng-href="#/mycart" title="delete"><i
											class="icon-remove-sign icon-white"></i></a>
									</div></span> <span class="style_text">
									<p>
										<span>Style #</span>
									</p>
									<p class="styledetails">
										<span>RTY2654</span>
									</p>
									<p class="styledetails">
										<span>Qty: 3</span>
									</p>
									<p class="styledetails rupee">
										<span> <span class="WebRupee rs">Rs.</span>1,00,000
										</span>
									</p>
									<p class="styledetails">
										<a data-toggle="modal" ng-href="#Createlinesheet">Edit</a>
									</p>
									<p class="styledetails">
										<label class="checkbox"> <input type="checkbox"
											checked> Active
										</label>
									</p>
								</span>
							</div>
						</li>
					</ul>
				</div>
				<div class="collapsible" id="nav-section3"
					style="margin-top: 3px; margin-bottom: 3px; background-color: #000; color: #fff;">
					<span style="margin-right:20px;" >Spring Summer 2013</span>
					<span style="margin-right:20px;" >Qty: 10</span>
					<span style="margin-right:20px;" >Total: 50000</span>
					<span class="pull-right"> <a
						style="color: #fff; margin-right: 3px;">Checkout</a>
					</span>
				</div>
				<div>
					<ul class="nav nav-tabs" style="margin-bottom: 0px;">
						<li>
							<div class="mycartstyles">
								<span class="style_image rgt-thumb-relative"> <a> <img
										alt="" ng-src=images/paste4.jpg class="pull-left"></a>
									<div class="masklayer">
										<a ng-href="#/mycart" title="Remove from cart"><i
											class="icon-remove-sign icon-white"></i></a>
									</div>
								</span> <span class="style_text">
									<p>
										<span>Style #</span>
									</p>
									<p class="styledetails">
										<span>RTY2654</span>
									</p>
									<p class="styledetails">
										<span>Qty: 3</span>
									</p>
									<p class="styledetails rupee">
										<span> <span class="WebRupee rs">Rs.</span>1,00,000
										</span>
									</p>
									<p class="styledetails">
										<a data-toggle="modal" ng-href="#Createlinesheet">Edit</a>
									</p>
									<p class="styledetails">
										<label style="font-family: 'Lato', sans-serif;"
											class="checkbox"> <input type="checkbox" checked>
											Active
										</label>
									</p>
								</span>
							</div>
						</li>
						<li>
							<div class="mycartstyles">
								<span class="style_image rgt-thumb-relative"><a> <img
										alt="" ng-src=images/paste.jpg class="pull-left"></a>
									<div class="masklayer">
										<a ng-href="#/mycart" title="delete"><i
											class="icon-remove-sign icon-white"></i></a>
									</div> </span> <span class="style_text">
									<p>
										<span>Style #</span>
									</p>
									<p class="styledetails">
										<span>RTY2657</span>
									</p>
									<p class="styledetails">
										<span>Qty: 3</span>
									</p>
									<p class="styledetails rupee">
										<span> <span class="WebRupee rs">Rs.</span>1,00,000
										</span>
									</p>
									<p class="styledetails">
										<a data-toggle="modal" ng-href="#Createlinesheet">Edit</a>
									</p>
									<p class="styledetails">
										<label style="font-family: 'Lato', sans-serif;"
											class="checkbox"> <input type="checkbox" checked>
											Active
										</label>
									</p>
								</span>
							</div>
						</li>
						<li>
							<div class="mycartstyles">
								<span class="style_image rgt-thumb-relative"><a> <img
										alt="" ng-src=images/paste6.jpg class="pull-left"></a>
									<div class="masklayer">
										<a ng-href="#/mycart" title="delete"><i
											class="icon-remove-sign icon-white"></i></a>
									</div> </span> <span class="style_text">
									<p>
										<span>Style #</span>
									</p>
									<p class="styledetails">
										<span>RTY2659</span>
									</p>
									<p class="styledetails">
										<span>Qty: 3</span>
									</p>
									<p class="styledetails rupee">
										<span> <span class="WebRupee rs">Rs.</span>1,00,000
										</span>
									</p>
									<p class="styledetails">
										<a data-toggle="modal" ng-href="#Createlinesheet">Edit</a>
									</p>
									<p class="styledetails">
										<label style="font-family: 'Lato', sans-serif;"
											class="checkbox"> <input type="checkbox" checked>
											Active
										</label>
									</p>
								</span>
							</div>
						</li>
					</ul>
				</div>
			</div>
			</div>
			
		</div>
		<div></div>
	</div>
	<!-- right pane -->
</div>


<!--body-->

<div class="modal  hide" style="width: 900px;" id="Createlinesheet">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal">Close</button>
		<h4 class="subHeading_no_underline">Rebecca Minkoff Spring summer
			2012</h4>
	</div>
	<div class="modal-body">
	<div>
					<div class="span1">
						<a> <img alt="" style="max-height: 80px; max-width: 50;"
							ng-src=images/paste4.jpg class="pull-left"></a>
					</div>
					<div class="span9">
						<table class="table condensed-table">
							<thead>
								<tr>
									<th class="Colour">Color</th>
									<th class="ordercol" style="text-align: center;"></th>
									<th class="ordercol" style="text-align: center;">S</th>
									<th class="ordercol" style="text-align: center;">M</th>
									<th class="ordercol" style="text-align: center;">L</th>
									<th class="ordercol" style="text-align: center;">Qty</th>
									<th class="ordercol" style="text-align: center;">Amt</th>
									<th class="ordercol" style="text-align: center;">Total</th>
									<th class="ordercol" style="text-align: center;"></th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td class="Colour"><span> <select id="e10"
											style="width: 180px; margin-right: 2px;" class="pull-left"
											ng-model="linesheetname">
												<option value="">Black Gread Qwerty</option>
												<option value="">Spring White</option>
												<option value="">Rigrt Meadc</option>
										</select>
									</span></td>
									<td class="ordercol" style="text-align: center;"><img
										style="margin-top: 5px; width: 20px; height: 20px;"
										src="img/Red.jpeg"></td>
									<td class="ordercol" style="text-align: center;">1</td>
									<td class="ordercol" style="text-align: center;">2</td>
									<td class="ordercol" style="text-align: center;">3</td>
									<td class="ordercol" style="text-align: center;">6</td>
									<td class="ordercol" style="text-align: center;">45646</td>
									<td class="ordercol" style="text-align: center;">45646</td>
									<td>X</td>
								</tr>
								<tr>
									<td class="Colour"><span> <select id="e10"
											style="width: 180px; margin-right: 2px;" class="pull-left"
											ng-model="linesheetname">
												<option value="">Black Gread Qwerty</option>
												<option value="">Spring White</option>
												<option value="">Rigrt Meadc</option>
										</select>
									</span></td>
									<td class="ordercol" style="text-align: center;"><img
										style="margin-top: 5px; width: 20px; height: 20px;"
										src="img/Red.jpeg"></td>
									<td class="ordercol" style="text-align: center;"><input
										type="text" style="width: 40px; margin-right: 2px;" /></td>
									<td class="ordercol" style="text-align: center;"><input
										type="text" style="width: 40px; margin-right: 2px;" /></td>
									<td class="ordercol" style="text-align: center;"><input
										type="text" style="width: 40px; margin-right: 2px;" /></td>
									<td class="ordercol" style="text-align: center;">6</td>
									<td class="ordercol" style="text-align: center;">45646</td>
									<td class="ordercol" style="text-align: center;">45646</td>
									<td>X</td>
								</tr>

							</tbody>
							<tfoot>
								<tr>
									<th class="Colour" style="text-align: center;">
									<a style="padding-top:0px;background-color:transparent;border: 0px solid transparent;" >+Add More Colors</a>
									</th>
									<th class="ordercol" style="text-align: center;"></th>
									<th class="ordercol" style="text-align: center;">1</th>
									<th class="ordercol" style="text-align: center;">2</th>
									<th class="ordercol" style="text-align: center;">3</th>
									<th class="ordercol" style="text-align: center;">6</th>
									<th class="ordercol" style="text-align: center;">421652</th>
									<th class="ordercol" style="text-align: center;">72381523</th>
									<th class="ordercol" style="text-align: center;"></th>
								</tr>
							</tfoot>
						</table>
					</div>
				</div>
	</div>
	<div class="modal-footer">
		<a href="#" class="btn" data-dismiss="modal">Add & Keep Shopping</a> <a
			class="btn btn-inverse" data-dismiss="modal"
			ng-click="createlinesheet()">Add & Finish</a>
	</div>
</div>



<script type="text/javascript">
	jQuery(document).ready(function() {
		//collapsible management
		jQuery('.collapsible').collapsible({
		// defaultOpen: 'nav-section1,nav-section3'
		});
	});
</script>