<!--body-->
<div class="container minimum_height">
	<div class="row">
		<!-- left pane -->
		<div class="span3">
			<div class="underline">
				<span ui-if="!iambrand" class="leftpane_entity">Boutique </span> <span
					ui-if="iambrand" class="leftpane_entity">Brand </span>
			</div>
			<div class="divi2"></div>
			<ul class="thumbnails">
				<li class="span3">
					<div>
						<span> <a href="#profile"> <img alt=""
								ng-src={{profilepic.thumbnail_url}}
								class="pull-left leftpane_profile_img"></a>
						</span> <span> <a href="#profile" class="leftpane_entity_name">{{entityname}}</a>
						</span>
					</div>
				</li>
			</ul>
			<div class="leftpane_subheading">Cart</div>
			<ul class="nav nav-tab nav-stacked">
				<li>
					<div class="leftpanefeed">
						<div class="feedimage">
							<a> <img ng-src="img/donna_karan_adriana_lima_3.jpg"
								class="pull-left"></a>
						</div>
						<div class="leftpanefeed_text">
							<p>
								<a>Donna Karan</a>
							</p>
							<p>
								<span>Qty: 10</span>
							</p>
							<p class="rupee pull-right">
								<span> <span class="WebRupee rs">Rs.</span>57,798
								</span>
							</p>
						</div>
					</div>
				</li>
				<li>
					<div class="leftpanefeed">
						<div class="feedimage">
							<a> <img ng-src="img/donna_karan_adriana_lima_2.jpg"
								class="pull-left"></a>
						</div>
						<div class="leftpanefeed_text">
							<p>
								<a>Rebecca Minkoff</a>
							</p>
							<p>
								<span>Qty: 5</span>
							</p>
							<p class="rupee pull-right">
								<span> <span class="WebRupee rs">Rs.</span>1,37,798
								</span>
							</p>
						</div>
					</div>
				</li>
				<li>
					<div class="leftpanefeed">
						<div class="feedimage">
							<a> <img ng-src="img/donna_karan_adriana_lima_2.jpg"
								class="pull-left"></a>
						</div>
						<div class="leftpanefeed_text">
							<p>
								<a>Rebecca Minkoff</a>
							</p>
							<p>
								<span>Qty: 5</span>
							</p>
							<p class="rupee pull-right">
								<span> <span class="WebRupee rs">Rs.</span>900
								</span>
							</p>
						</div>
					</div>
				</li>
				<li>
					<div class="leftpanefeed">
						<div class="feedimage">
							<a> <img ng-src="img/donna_karan_adriana_lima_2.jpg"
								class="pull-left"></a>
						</div>
						<div class="leftpanefeed_text">
							<p>
								<a>Rebecca Minkoff</a>
							</p>
							<p>
								<span>Qty: 5</span>
							</p>
							<p class="rupee pull-right">
								<span> <span class="WebRupee rs">Rs.</span>7,798
								</span>
							</p>
						</div>
					</div>
				</li>
				<li>
					<div class="leftpanefeed">
						<div class="feedimage">
							<a> <img ng-src="img/donna_karan_adriana_lima_2.jpg"
								class="pull-left"></a>
						</div>
						<div class="leftpanefeed_text">
							<p>
								<a>Rebecca Minkoff</a>
							</p>
							<p>
								<span>Qty: 5</span>
							</p>
							<p class="rupee pull-right">
								<span> <span class="WebRupee rs">Rs.</span>1,000
								</span>
							</p>
						</div>
					</div>
				</li>
			</ul>
			<ul class="nav nav-tab nav-stacked">
				<li>
					<div class="leftpane-total">
						<p class="rupee pull-right">
							<span> <span style="margin-right: 3px;">Total:</span> <span
								class="WebRupee rs">Rs.</span>3,87,798
							</span>
						</p>
					</div>
				</li>
			</ul>
		</div>
		<!-- left pane -->


		<!-- right pane -->
		<div class="span9">


			<div style="border-bottom: 1px solid black;">
				<span class="left rightpane_subHeading"> My cart </span>
			</div>
			<div style="border-bottom: 1px solid black;">
				<span class="left right_pane_info"> Use the filters below to
					discover Brands and boutiques you know based on Name,location and
					more. </span>
			</div>
			<ul class="nav nav-tab nav-stacked">
				<li>
					<div class="network">
						<span class="brand_image"><a> <img alt=""
								ng-src="img/donna_karan_adriana_lima_2.jpg" class="pull-left"></a>
						</span> <span class="network_text">
							<p>
								<span>Donna Karan</span>
							</p>
							<p class="networkdetails">
								<span>Qty: 15</span>
							</p>
							<p class="networkdetails rupee">
								<span> <span style="margin-right: 3px;">Total:</span> <span
									class="WebRupee rs">Rs.</span>3,87,798
								</span>
							</p>
							<p>
								<span><a ng-href="#">Show Details</a></span>
							</p>
						</span> <span class="btn-group pull-right">
							<button class="btn btn-inverse">Checkout</button>
						</span>
					</div>
					<div class="network1">
						<div>
						<span>+ Donna Karan Fall Winter 2012</span>
						<span>Qty:14</span>
						<span class="leftpane-total">
						<p class="rupee pull-right">
							<span> <span style="margin-right: 3px;">Total:</span> <span
								class="WebRupee rs">Rs.</span>3,87,798
							</span>
						</p>
					</span>
						</div>
						<ul class="nav nav-tabs">
							<li>
								<div class="network1">
									<span class="brand_image"><a> <img alt=""
											ng-src=images/paste4.jpg class="pull-left"></a> </span> <span
										class="network_text">
										<p>
											<span>Style #</span>
										</p>
										<p class="networkdetails">
											<span>RTY2654</span>
										</p>
										<p class="networkdetails">
											<span>Qty: 15</span>
										</p>
										<p class="networkdetails">
											<a data-toggle="modal"
									ng-href="#Createlinesheet">Edit</a>
										</p>
									</span>
								</div>
							</li>

							<li>
								<div class="network1">
									<span class="brand_image"><a> <img alt=""
											ng-src=images/paste4.jpg class="pull-left"></a> </span> <span
										class="network_text">
										<p>
											<span>Style #</span>
										</p>
										<p class="networkdetails">
											<span>RTY2654</span>
										</p>
										<p class="networkdetails">
											<span>Qty: 15</span>
										</p>
										<p class="networkdetails">
											<a data-toggle="modal"
									ng-href="#Createlinesheet">Edit</a>
										</p>
									</span>
								</div>
							</li>
							
							<li>
								<div class="network1">
									<span class="brand_image"><a> <img alt=""
											ng-src=images/paste4.jpg class="pull-left"></a> </span> <span
										class="network_text">
										<p>
											<span>Style #</span>
										</p>
										<p class="networkdetails">
											<span>RTY2654</span>
										</p>
										<p class="networkdetails">
											<span>Qty: 15</span>
										</p>
										<p class="networkdetails">
											<a data-toggle="modal"
									ng-href="#Createlinesheet" >Edit</a>
										</p>
									</span>
								</div>
							</li>

							<li>
								<div class="network1">
									<span class="brand_image"><a> <img alt=""
											ng-src=images/paste5.jpg class="pull-left"></a> </span> <span
										class="network_text">
										<p>
											<span>Style #</span>
										</p>
										<p class="networkdetails">
											<span>RTY2654</span>
										</p>
										<p class="networkdetails">
											<span>Qty: 15</span>
										</p>
										<p class="networkdetails">
											<a data-toggle="modal"
									ng-href="#Createlinesheet" >Edit</a>
										</p>
									</span>
								</div>
							</li>

						</ul>
					</div>
					<div class="network1">
							<div>
						<span>+ Donna Karan Fall Winter 2012</span>
						<span>Qty:14</span>
						<span class="leftpane-total">
						<p class="rupee pull-right">
							<span> <span style="margin-right: 3px;">Total:</span> <span
								class="WebRupee rs">Rs.</span>3,87,798
							</span>
						</p>
					</span>
						</div>
							<ul class="nav nav-tabs">
							<li>
								<div class="network1">
									<span class="brand_image"><a> <img alt=""
											ng-src=images/paste4.jpg class="pull-left"></a> </span> <span
										class="network_text">
										<p>
											<span>Style #</span>
										</p>
										<p class="networkdetails">
											<span>RTY2654</span>
										</p>
										<p class="networkdetails">
											<span>Qty: 15</span>
										</p>
										<p class="networkdetails">
											<a data-toggle="modal"
									ng-href="#Createlinesheet" >Edit</a>
										</p>
									</span>
								</div>
							</li>

							<li>
								<div class="network1">
									<span class="brand_image"><a> <img alt=""
											ng-src=images/paste4.jpg class="pull-left"></a> </span> <span
										class="network_text">
										<p>
											<span>Style #</span>
										</p>
										<p class="networkdetails">
											<span>RTY2654</span>
										</p>
										<p class="networkdetails">
											<span>Qty: 15</span>
										</p>
										<p class="networkdetails">
											<a data-toggle="modal"
									ng-href="#Createlinesheet">Edit</a>
										</p>
									</span>
								</div>
							</li>
							
							<li>
								<div class="network1">
									<span class="brand_image"><a> <img alt=""
											ng-src=images/paste4.jpg class="pull-left"></a> </span> <span
										class="network_text">
										<p>
											<span>Style #</span>
										</p>
										<p class="networkdetails">
											<span>RTY2654</span>
										</p>
										<p class="networkdetails">
											<span>Qty: 15</span>
										</p>
										<p class="networkdetails">
											<a data-toggle="modal"
									ng-href="#Createlinesheet" >Edit</a>
										</p>
									</span>
								</div>
							</li>

							<li>
								<div class="network1">
									<span class="brand_image"><a> <img alt=""
											ng-src=images/paste5.jpg class="pull-left"></a> </span> <span
										class="network_text">
										<p>
											<span>Style #</span>
										</p>
										<p class="networkdetails">
											<span>RTY2654</span>
										</p>
										<p class="networkdetails">
											<span>Qty: 15</span>
										</p>
										<p class="networkdetails">
											<a data-toggle="modal"
									ng-href="#Createlinesheet" >Edit</a>
										</p>
									</span>
								</div>
							</li>

						</ul>
					</div>
			</ul>
			<div></div>
		</div>
		<!-- right pane -->
	</div>

</div>
<div class="modal  hide" style="width: 900px;" id="Createlinesheet">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal">Close</button>
		<h4 class="subHeading_no_underline">Rebecca Minkoff Spring summer
			2012</h4>
	</div>
	<div class="modal-body">
		<div class="span11">
			<!-- <div class="span8">
					<ul class="nav nav-tab nav-stacked">
						<li>Rebecca Minkoff Spring summer 2012</li>
					</ul>
				</div> -->
			<div class="span2">
				<ul class="nav nav-tab nav-stacked">
					<li><img ng-src="images/paste5.jpg"
						style="margin-top: 2px; max-width: 80px; max-height: 113px; min-width: 80px; min-height: 113px; margin: 2px;"
						class="pull-left"></li>
				</ul>
			</div>
			<div class="span2">
				<ul class="nav nav-tab nav-stacked">
					<li>Style#</li>
					<li>Rgb1234</li>
				</ul>
			</div>
			<div class="span2">
				<ul class="nav nav-tab nav-stacked">
					<li>Delivery Date</li>
					<li>23-Dec-2012</li>
				</ul>
			</div>
			<div class="span10">
				<table class="table table-condensed">
					<thead align="center">
						<tr>
							<th>Color</th>
							<th class="span1" style="text-align:center;">S</th>
							<th class="span1" style="text-align:center;">M</th>
							<th class="span1" style="text-align:center;">L</th>
							<th class="span1" style="text-align:center;">Amt</th>
							<th class="span1" style="text-align:center;">Total</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td class="span4">
							<span><img style="padding-bottom:9px;"  width="20" height="20" src="img/Red.jpeg"></span>
							<span>	<select id="e10" class="populate span3 pull-left"
								ng-model="linesheetname">
									<option value="">Black Gread</option>
									<option value="">Spring White</option>
									<option value="">Rigrt Meadc</option>
							</select></span>
						
							</td>
							
							<td><input type="text" class="span1"></td>
							<td><input type="text" class="span1"></td>
							<td><input type="text" class="span1"></td>
							<td style="text-align:center;" class="span1" >8,000</td>
							<td style="text-align:center;" class="span1" >1,60,000</td>
							<td style="text-align:center;" class="span1" >x</td>
						</tr>
						<tr>
							<td class="span2"><a>+Add More Colors</a></td>
							<td style="text-align:center;" >4</td>
							<td style="text-align:center;" >6</td>
							<td style="text-align:center;" >8</td>
							<td style="text-align:center;">Total</td>
							<td style="text-align:center;">1,60,000</td>
							<td></td>
						</tr>
					</tbody>
				</table>

			</div>
		</div>
	</div>
	<div class="modal-footer">
		<a href="#" class="btn" data-dismiss="modal">Cancel</a> <a
			class="btn btn-inverse" data-dismiss="modal"
			ng-click="createlinesheet()">Save</a>
	</div>
</div>
<!--body-->