<!--body-->
<div class="container minimum_height">
	<div class="row">
		<!-- left-pane -->
		<div class="span3">
			<div class="underline">
					<span ui-if="!iambrand" class="leftpane_entity">Boutique
					</span>
					<span ui-if="iambrand" class="leftpane_entity">Brand
					</span>
			</div>
			<div class="divi2"></div>
			<ul class="thumbnails">
				<li class="span3">
					<div>
						<span> <a ui-if="isMyProfile" ng-href="#profile"> <img
								alt="" ng-src={{profilepic.thumbnail_url}}
								class="pull-left leftpane_profile_img"></a> <a
							ui-if="!isMyProfile" ng-href="#/{{profileid}}/profile"> <img
								alt="" ng-src={{profilepic.thumbnail_url}}
								class="pull-left leftpane_profile_img"></a>
						</span> <span> <a ui-if="isMyProfile" ng-href="#profile"
							class="leftpane_entity_name">{{entityname}}</a> <a
							ui-if="!isMyProfile" ng-href="#/{{profileid}}/profile"
							class="leftpane_entity_name">{{entityname}}</a>
						</span>
					</div>
				</li>
			</ul>
			<div class="leftpane_subheading">FILTERS</div>
			<div class="divi2"></div>
			<div class="leftpane_filter_name">
				<span class="leftpane_filter_name">Editorial</span> <input type="text"
					class="span3" ng-model="searchgalleryname"
					ng-change="searchgalleries()" placeholder="Search by editorial" /> <!-- <span class="leftpane_filter_name">DESCRIPTION</span>
				<input type="text" class="span3" ng-model="searchgallerydesc"
					ng-change="searchgalleries()" /> -->
			</div>

		</div>
		<!-- left-pane -->
		<!-- right-pane -->
		<div class="span9">
			<div style="border-bottom:1px solid black;">
				<span class="left rightpane_subHeading"> Editorials </span> <span
					class="right"> <a ng-href="#{{backButton}}"
					class="rightpane_back_btn"> Back</a></span>
			</div>
			<div style="border-bottom:1px solid black;">
				<span class="left right_pane_info"> Find Editorials using the
					filters </span> <span class="right" ng-show="isMyProfile"> <a
					data-toggle="modal" ng-href="#CreateEditorial"
					class="rightpane_add_btn">Create Editorial</a>
				</span>
			</div>
	 		<div ng-show="gettinggallery">
				<img src="img/ajax-loadersmall.gif" style="float: left;"><br>
			</div>
			<div>

				<ul class="thumbnails">
					<li ng-repeat="gallery in galleries"
						class="rgt-thumb-relative-mar">
						<div class="press">
							<a ui-if="isMyProfile"
								ng-href="#/editorial?id={{gallery.galleryid}}"> <img
								ng-src="{{gallery.gallerypic}}" alt=""></a> <a
								ui-if="!isMyProfile"
								ng-href="#/{{profileid}}/editorial?id={{gallery.galleryid}}">
								<img ng-src="{{gallery.gallerypic}}" alt="">
							</a>
							<div class="masklayer">


								<h1 class="editdel" ui-if="isMyProfile">
									<a ng-click="deletegallery(gallery.galleryid)" title="Delete"><i
										class="icon-trash icon-white"></i></a> <a
										ng-click="editgallery(gallery.galleryid, gallery.galleryname, gallery.gallerydesc)"
										title="Edit"><i class="icon-edit icon-white"></i></a>
								</h1>

								<p class="viewdetails">
									<a style="color: white; text-decoration: none;"
										ui-if="isMyProfile"
										ng-href="#/editorial?id={{gallery.galleryid}}"> View </a> <a
										style="color: white; text-decoration: none;"
										ui-if="!isMyProfile"
										ng-href="#/{{profileid}}/editorial?id={{gallery.galleryid}}">
										View </a>
								</p>

							</div>
							<div class="divi2"></div>
						</div>
						<div class="presstitle">
							<h3>{{gallery.galleryname}}</h3>
						</div>
					</li>
				</ul>
				<div get-more="getmoregalleries()">
   					<div ng-show="gettingmoregalleries">
   						<center><img src="img/ajax-loadersmall.gif"><br></center>
   					</div>
   					<div ng-show="nomoredataavailable1">
   						End of data
   					</div>
				</div>
			</div>

		</div>
		<!-- right-pane -->
	</div>
</div>
<!--body-->

<!-- modal -->
<div class="modal  hide" id="CreateEditorial">
	<form name="addform">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal"></button>
			<h4 class="subHeading_no_underline">Create Editorial</h4>
		</div>
		<div class="modal-body">
			<div>
				<input type="text" class="span4" ng-model="galleryname" required
					ng-minlength="3" ng-maxlength="20" 
					placeholder="Editorial name" />
				<!-- <textarea style="width: 500px;" rows="9" ng-model="gallerydesc"
					placeholder="Enter description"></textarea> -->
			</div>
		</div>
		<div class="modal-footer">
			<a href="#" class="btn" data-dismiss="modal">Close</a> 
			<button class="btn btn-inverse" data-dismiss="modal" ng-disabled="addform.$invalid"
				ng-click="creategallery()"> Create editorial</button>
		</div>
	</form>
</div>
<!-- modal -->


<!-- modal -->
<div ui-modal class="modal  hide" ng-model="showEditGallery" id="EditEditorial">
	<form name="editform">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal"></button>
			<h4 class="subHeading_no_underline">Edit Editorial</h4>
		</div>
		<div class="modal-body">
			<div>
				<input type="text" class="span4" ng-model="editgalleryname" required
					ng-minlength="3" ng-maxlength="20" 
					placeholder="Editorial name" />
			<!-- 	<textarea style="width: 500px;" rows="9" ng-model="editgallerydesc"
					placeholder="Enter description"></textarea> -->
			</div>
		</div>
		<div class="modal-footer">
			<a href="#" class="btn" data-dismiss="modal">Close</a> 
			<button class="btn btn-inverse" ng-disabled="editform.$invalid"
				ng-click="updategallery()"> Update editorial</button>
		</div>
	</form>
</div>
<!-- modal -->