<!--body-->
<div class="container minimum_height">
	<div class="row">
		<!-- left pane -->
		<div class="span3">
			<h4 ui-if="!iambrand" class="leftpane_entity_heading">Boutique</h4>
			<h4 ui-if="iambrand" class="leftpane_entity_heading">Brand</h4>
			<div class="divi2"></div>
			<ul class="thumbnails">
				<li class="span3">
					<div>
						<span> 
							<a ui-if="isMyProfile" ng-href="#profile"> <img alt="" ng-src={{profilepic.thumbnail_url}}
										class="pull-left leftpane_profile_img"></a>
							<a ui-if="!isMyProfile" ng-href="#/{{profileid}}/profile"> <img alt="" ng-src={{profilepic.thumbnail_url}}
										class="pull-left leftpane_profile_img"></a>
						</span> 
						<span> 
							<a ui-if="isMyProfile" ng-href="#profile" class="leftpane_entity_name">{{entityname}}</a>
							<a ui-if="!isMyProfile" ng-href="#/{{profileid}}/profile" class="leftpane_entity_name">{{entityname}}</a>
						</span>
					</div>
				</li>
			</ul>
			<div class="leftpane_subheading">FILTERS</div>
			<div class="divi2"></div>
			<div class="leftpane_filter_name">
				<span class="leftpane_filter_name">Campaign Name</span> <input
					type="text" ng-model="searchgalleryname" class="span3"
					placeholder="Campaign name" ng-change="getgalleries()" />
			</div>
		</div>
		<!-- left pane -->


		<!-- right pane -->
		<div class="span9">


			<div style="border-bottom:1px solid black;position:relative;top:-2px;">
				<span class="left rightpane_subHeading"> Print Campaign</span> <span
					class="right"> <a ng-href="#{{backButton}}"
					class="rightpane_back_btn"> Back</a>
				</span>
			</div>
			<div style="border-bottom:1px solid black;">
				<span class="left right_pane_info"> Find print campaigns
					using the filters </span> 
				<span class="right" ui-if="isMyProfile"> 
					<a data-toggle="modal" ng-href="#CreatePrintcampaign"
						class="rightpane_add_btn">create print campaign</a>
				</span>
			</div>


			<div>
				 <div>
                         <img src="img/ajax-loadersmall.gif" style="float:left;" >
                         </div>
			
					<ul class="thumbnails">
						<li ng-repeat="gallery in galleries" style="position: relative;margin-top:20px;" >
							<!--  ng-repeat="user in advancedsearch | startFrom:pagenumber*pageSize | limitTo:pageSize" -->
							<div class="press">
							
								<a ui-if="isMyProfile" ng-href="#/campaign?id={{gallery.galleryid}}" > <img
									ng-src="{{gallery.gallerypic}}" alt=""></a>
								<a ui-if="!isMyProfile" ng-href="#/{{profileid}}/campaign?id={{gallery.galleryid}}" > <img
									ng-src="{{gallery.gallerypic}}" alt=""></a>	
									
								<div class="masklayer">
								
							    	<h1 class="editdel" ui-if="isMyProfile" >
									<a ng-click="deletegallery(gallery.galleryid)" title="Delete"><i class="icon-trash icon-white"></i></a>
									<a ng-click="editgallery(gallery.galleryid, gallery.galleryname, gallery.gallerydesc)"
										title="Edit"><i class="icon-edit icon-white"></i></a>
									</h1>
							    	
							    	<p class="viewdetails">
									 <a  style="color:white;text-decoration:none;"
									ui-if="isMyProfile" ng-href="#/campaign?id={{gallery.galleryid}}" >
									View </a>
									 <a  style="color:white;text-decoration:none;"
									ui-if="!isMyProfile" ng-href="#/{{profileid}}/campaign?id={{gallery.galleryid}}"  >
									View </a>
									</p>
									
								</div> 
								<div class="divi2"></div>
							</div>
							<div class="presstitle">
								<h3>{{gallery.galleryname}}</h3>
							</div>
						</li>
					</ul>
			</div>


		</div>
		<!-- right pane -->


	</div>
</div>
<!--body-->

<!-- modal -->
<div class="modal  hide" id="CreatePrintcampaign">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal"></button>
		<h4 class="subHeading_no_underline">Create Print Campaign</h4>
	</div>
	<div class="modal-body">
		<div>
			<input type="text" class="span4" ng-model="galleryname"
				placeholder="Print campaign name" />
			<textarea style="width: 500px;" rows="9" ng-model="gallerydesc"
				placeholder="Enter description"></textarea>
		</div>
	</div>
	<div class="modal-footer">
		<a href="#" class="btn" data-dismiss="modal">Close</a> <a
			class="btn btn-primary" data-dismiss="modal"
			ng-click="creategallery()"> Create print campaign</a>
	</div>
</div>
<!-- modal -->

<!-- modal -->
<div ui-modal class="modal  hide" ng-model="showEditGallery"
	id="EditPrintcampaign">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal"></button>
		<h4 class="subHeading_no_underline">Edit Print Campaign</h4>
	</div>
	<div class="modal-body">
		<div>
			<input type="text" class="span4" ng-model="editgalleryname"
				placeholder="Print campaign name" />
			<textarea style="width: 500px;" rows="9" ng-model="editgallerydesc"
				placeholder="Enter description"></textarea>
		</div>
	</div>
	<div class="modal-footer">
		<a href="#" class="btn" data-dismiss="modal">Close</a> <a
			class="btn btn-primary" ng-click="updategallery()"> Update print
			campaign</a>
	</div>
</div>
<!-- modal -->
