<!--body-->
<div class="container minimum_height">
	<div class="row">
		<!-- left pane -->
		<div ng-include src="'templates/LeftMain_Panel.htm'"></div>
		<!-- left pane -->
		<!-- middle pane -->
		<div class="span7">
			<div>
				<div class="underline">
					<span class="subHeading_no_underline">{{entityname}}<span
						class="right" ng-show="isMyProfile"><a
							href="#profilesettings?t=0" class="add_edit">EDIT</a></span>
					</span>
				</div>
				<div ui-if="null == aboutus || '' == aboutus">
					<p class="noInfo">No Info Available</p>
				</div>
				<br />
				<ul class="thumbnails" ui-if="null != aboutus && '' != aboutus">
					<li>
						<div class="aboutus" >
							<pre style="background-color:white;color:black;border-color:white;" >{{aboutus}}</pre>
						</div>
					</li>
				</ul>
			</div>
			<div>
				<div class="underline">
					<span class="subHeading_no_underline">Product Line<span
						class="right" ng-show="isMyProfile"><a
							href="#profilesettings?t=1" class="add_edit">EDIT</a></span>
					</span>
				</div>
				<div ui-if="0 == productline.length">
					<p class="noInfo">No Info Available</p>
				</div>
				<div class="ProductLine" ui-if="0 != productline.length">
					<ul>
						<li
							ng-repeat="product in productline | orderBy:product.productlinename"
							ng-show="product.selected">
							<div>
								<input type="checkbox" class="productline_text"
									checked="checked" disabled="disabled" />
								{{product.productlinename}}
							</div>
						</li>
					</ul>
				</div>
				<div class="divi2"></div>
			</div>
			<div>
				<div class="underline">
					<span class="subHeading_no_underline" ui-if="!iambrand">Brands
						Carried <span class="right" ng-show="isMyProfile"> <a
							href="#profilesettings?t=2" class="add_edit">EDIT</a></span>
					</span> <span class="subHeading_no_underline" ui-if="iambrand">Stockists
						<span class="right" ng-show="isMyProfile"> <a
							href="#profilesettings?t=2" class="add_edit">EDIT</a></span>
					</span>
				</div>
				<div ui-if="0 == brandscarried.length">
					<p class="noInfo">No Info Available</p>
				</div>
				<div class="BrandsCarried" ui-if="0 != brandscarried.length">
					<ul>
						<li ng-repeat="brand in brandscarried">
							<div class="thumbnail_noborder">
								<img ng-src="{{brand.brandprofilepic}}" alt="">
								<h5 class="brandscarried_text">{{brand.brandname}}</h5>
							</div>
						</li>
					</ul>
				</div>
				<div class="divi2"></div>
			</div>
			<div>
				<div class="underline">
					<span class="subHeading_no_underline">Contact Info<span
						class="right" ng-show="isMyProfile"><a
							href="#profilesettings?t=4" class="add_edit">EDIT</a></span>
					</span>
				</div>
				<br />
				<div ui-if="null == contactinfo">
					<p class="noInfo">No Info Available</p>
				</div>
				<div ui-if="null != contactinfo">
					<ul style="list-style-type: none;">
						<li>
							<div>

								<table>
									<tr>
										<td valign="top" style="width: 55px;"><span
											class="contatus_profile">Email:</span></td>
										<td><span class="contatus_profile">{{contactinfo.email}}</span>
										</td>
									</tr>
								</table>

							</div>
						</li>
						<li>
							<div>
								<table>
									<tr>
										<td valign="top" style="width: 55px;"><span
											class="contatus_profile">Mobile:</span></td>
										<td><span class="contatus_profile">{{contactinfo.mobile}}</span>
										</td>
									</tr>
								</table>

							</div>
						</li>
						<li>
							<div>
								<table>
									<tr>
										<td valign="top" style="width: 55px;"><span
											class="contatus_profile">Landline:</span></td>
										<td><span class="contatus_profile">{{contactinfo.landline1}}</span>
										</td>
									</tr>
								</table>
							</div>
						</li>
						<li>

							<div>
								<table>
									<tr>
										<td valign="top" style="width: 55px;"><span
											class="contatus_profile">Address:</span></td>
										<td><span class="contatus_profile">{{contactinfo.address}}</span>
										</td>
									</tr>
								</table>
							</div> <!-- <div>
                                <p>
                                    <span class="contatus_profile"> Address: {{contactinfo.address}}</span></p>
                            </div> -->
						</li>
						<li>
							<div>

								<table>
									<tr>
										<td valign="top" style="width: 55px;"><span
											class="contatus_profile">City:</span></td>
										<td><span class="contatus_profile">{{contactinfo.city}}</span>
										</td>
									</tr>
								</table>


							</div>
						</li>
						<li>
							<div>
								<table>
									<tr>
										<td valign="top" style="width: 55px;"><span
											class="contatus_profile">Zip:</span></td>
										<td><span class="contatus_profile">{{contactinfo.zip}}</span>
										</td>
									</tr>
								</table>


							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<!-- middle pane -->
		<!-- right pane -->
		<div class="span3">
			<div ui-if="!isMyProfile">
				<ul class="thumbnails">
					<li class="span2">
						<div class="add_to_network" ng-show="networkstatus == 'NONE'">
							<a style="text-decoration: none;">
								<button class="btn btn-primary" ng-click="shownetwork()">
									Add to my network</button>
							</a>
						</div>
						<div class="add_to_network" ng-show="networkstatus == 'PENDING'">
							<a style="text-decoration: none;"> Request is pending </a>
						</div>
					</li>
				</ul>
			</div>
			<div>
				<div>
					<h4 class="reference_head">References</h4>
					<ul class="nav nav-tab nav-stacked">
						<li ng-repeat="reference in references|limitTo:2">
							<div class="referencefeed fade_spot">
								<div class="img">
									<a ng-href="#/{{reference.profileid}}/profile"> <img alt=""
										ng-src="{{reference.thumbnail_url}}" class="pull-left"></a>
								</div>
								<div class="referencefeed_text">
									<h3>
										<a ng-href="#/{{reference.profileid}}/profile" title="">{{reference.name}}</a>
									</h3>
									<h2>
									{{reference.mutualfriends}} Mutual Contact
									</h2>
								</div>
							</div>
						</li>
					</ul>
				</div>
				<div class="divi2"></div>
				<h4 class="trending_head">TRENDING</h4>
				<ul class="nav nav-tab nav-stacked">
					<li ng-repeat="trend in trending">
						<div class="trendfeed fade_spot">
							<div class="img">
								<a href="#/{{trend.trendlistitemID}}"> <img alt=""
									ng-src="{{trend.trendpiclink}}" class="pull-left"></a>
							</div>
							<div class="trendfeed_text">
								<h3>
									<a href="#/{{trend.trendlistitemID}}" title="">{{trend.trendlistitem}}</a>
								</h3>
								<p>{{trend.post}}</p>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
		<!-- right pane -->
	</div>
</div>
<!-- modal -->
<div ui-modal class="modal  hide" ng-model="showCreateNetwork"
	id="myModal">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal"></button>
		<h4 class="subHeading_no_underline">Add To Network</h4>
	</div>
	<!--<div class="modal-body">
        <textarea style="width: 500px;" rows="9" placeholder="Type a message"></textarea>
    </div>-->
	<div class="modal-footer">
		<a href="#" class="btn" data-dismiss="modal">Close</a> <a
			ng-click="createnetwork()" class="btn btn-primary"> Send request</a>
	</div>
</div>
<!-- modal -->
<!-- modal -->
<div class="modal  hide" id="invite">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal"></button>
		<h4 class="subHeading_no_underline">Send Invite</h4>
	</div>
	<div class="modal-body">
		<input type="text" style="width: 500px;" placeholder="Enter email" />
		<textarea style="width: 500px;" rows="9" placeholder="Type a message"></textarea>
	</div>
	<div class="modal-footer">
		<a href="#" class="btn" data-dismiss="modal">Close</a> <a href="#"
			class="btn btn-primary"> Send request</a>
	</div>
</div>
<!-- modal -->