<!--body-->
<div class="container minimum_height">
	<div class="row">



		<!-- right pane -->

		<div class="span9">
			<div class="underline">
				<span class="leftpane_entity">Purchase Order</span>
			</div>

			<div>
				<div class="divi2"></div>
				<div ng-show="searching">
					<img src="img/ajax-loadersmall.gif" style="float: left;"><br>
				</div>
			</div>

			<div>
				<ul class="nav nav-tabs nav-stacked">
					<li>
						<div class="contactinfo">
							<span class="brand_image"><a> <img alt=""
									ng-src="img/donna_karan_adriana_lima_3.jpg" class="pull-left"></a>
							</span> <span class="revieworder_text">
								<p>
									<span>Donna karan</span>
								</p>
								<p class="contactinfodetails">Lorem Ipsum is simply duof
									type and scrambled it to make a</p>
								<p class="contactinfodetails rupee">
									<span> <span style="margin-right: 3px;">India</span>
									</span>
								</p>
								<p class="contactinfodetails rupee">
									<span> <span style="margin-right: 3px;">Bangalore</span>
										<span></span> 5000038
									</span>
								</p>
								<p>
									<span><a ng-href="#">Mobile: 9945788034</a></span>
								</p>
							</span>
						</div>
					</li>
				</ul>
			</div>
			<div>
				<ul class="nav nav-tabs">
					<li>
						<div class="revieworder">
							<div class="underline">Shipping Address</div>
							<br> <span class="brand_image"><a> <img alt=""
									ng-src="img/donna_karan_adriana_lima_3.jpg" class="pull-left"></a>
							</span> <span class="revieworder_text">
								<p>
									<span>Still Waters</span>
								</p>
								<p class="revieworderdetails">Lorem Ipsum is simply duof
									type and scrambled it to make a</p>
								<p class="networkdetails rupee">
									<span> <span style="margin-right: 3px;">India</span>
									</span>
								</p>
								<p class="networkdetails rupee">
									<span> <span style="margin-right: 3px;">Bangalore</span>
										<span></span> 5000038
									</span>
								</p>
								<p>
									<span><a ng-href="#">Mobile: 9945788034</a></span>
								</p>
							</span>
						</div>
					</li>
					<li>
						<div class="revieworder">
							<div class="underline">Billing Address</div>
							<br> <span class="brand_image"><a> <img alt=""
									ng-src="img/donna_karan_adriana_lima_3.jpg" class="pull-left"></a>
							</span> <span class="revieworder_text">
								<p>
									<span>Still Waters</span>
								</p>
								<p class="revieworderdetails">Lorem Ipsum is simply duof
									type and scrambled it to make a</p>
								<p class="revieworderdetails">Lorem Ipsum is simply duof
									type and scrambled it to make a</p>
								<p class="networkdetails rupee">
									<span> <span style="margin-right: 3px;">India</span>
									</span>
								</p>
								<p class="networkdetails rupee">
									<span> <span style="margin-right: 3px;">Bangalore</span>
										<span></span> 5000038
									</span>
								</p>
								<p>
									<span><a ng-href="#">Mobile: 9945788034</a></span>
								</p>
							</span>
						</div>
					</li>
				</ul>
				<div class="underline">
					<span class="leftpane_entity">Order Information</span>
				</div>
				<div>
					<ul class="nav nav-tabs nav-stacked">
						<li>
							<div class="network">
								<span class="brand_image"><a> <img alt=""
										ng-src="img/donna_karan_adriana_lima_2.jpg" class="pull-left"></a>
								</span> <span class="network_text">
									<p>
										<span>Donna Karan</span>
									</p>
									<p class="networkdetails">
										<span>Qty: 24</span>
									</p>
									<p class="networkdetails rupee">
										<span> <span style="margin-right: 3px;">Total:</span> <span
											class="WebRupee rs">Rs.</span>8,00,000
										</span>
									</p>
									<p>
										<span><a ng-href="#">Show Details</a></span>
									</p>
								</span> <span class="pull-right"> Order Status: In Progress </span>
							</div>
						</li>
					</ul>
				</div>
				<div class="underline">
					<span class="leftpane_entity">Donna Karan Spring Summer 2012</span>
				</div>
				<div class="collapsible" id="nav-section1"
					style="margin-top: 3px; margin-bottom: 3px;border:1px solid #000;">
					<span style="margin-right: 20px;">Style#: Rgb1234</span> <span
						style="margin-right: 20px;">Delivery Date 23-Dec-2012</span> <span
						style="margin-right: 20px;">Qty: 12</span> <span
						class="pull-right" style="margin-right: 20px;">Total:
						50000</span>
				</div>
				<div>
					<div>
						<span style="width: 10%">
							<div>
								<a> <img alt="" style="max-height: 80px; max-width: 50;"
									ng-src=images/paste4.jpg class="pull-left"></a>
							</div>
						</span> <span style="width: 90%">
							<div class="span8">
								<table class="table condensed-table">
									<thead>
										<tr>
											<th class="Colour">Color</th>
											<th class="ordercol" style="text-align: center;"></th>
											<th class="ordercol" style="text-align: center;">S</th>
											<th class="ordercol" style="text-align: center;">M</th>
											<th class="ordercol" style="text-align: center;">L</th>
											<th class="ordercol" style="text-align: center;">Qty</th>
											<th class="ordercol" style="text-align: center;">Amt</th>
											<th class="ordercol" style="text-align: center;">Total</th>
											<th class="ordercol" style="text-align: center;"></th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td class="Colour">Greeen Sawoebr wiehq</td>
											<td class="ordercol" style="text-align: center;"><img
												style="margin-top: 5px; width: 20px; height: 20px;"
												src="img/Red.jpeg"></td>
											<td class="ordercol" style="text-align: center;">1</td>
											<td class="ordercol" style="text-align: center;">2</td>
											<td class="ordercol" style="text-align: center;">3</td>
											<td class="ordercol" style="text-align: center;">6</td>
											<td class="ordercol" style="text-align: center;">45646</td>
											<td class="ordercol" style="text-align: center;">45646</td>
											<!-- <td>X</td> -->
										</tr>
										<tr>
											<td class="Colour">Greeen Sawoebr wiehq</td>
											<td class="ordercol" style="text-align: center;"><img
												style="margin-top: 5px; width: 20px; height: 20px;"
												src="img/Red.jpeg"></td>
											<td class="ordercol" style="text-align: center;">1</td>
											<td class="ordercol" style="text-align: center;">2</td>
											<td class="ordercol" style="text-align: center;">3</td>
											<td class="ordercol" style="text-align: center;">6</td>
											<td class="ordercol" style="text-align: center;">45646</td>
											<td class="ordercol" style="text-align: center;">45646</td>
											<!-- <td>X</td> -->
										</tr>

									</tbody>
									<tfoot>
										<tr>
											<th class="Colour" style="text-align: center;">
												<!-- 	<a
											style="padding-top: 0px; background-color: transparent; border: 0px solid transparent;">+Add
												More</a> -->

											</th>
											<th class="ordercol" style="text-align: center;"></th>
											<th class="ordercol" style="text-align: center;">2</th>
											<th class="ordercol" style="text-align: center;">4</th>
											<th class="ordercol" style="text-align: center;">6</th>
											<th class="ordercol" style="text-align: center;">12</th>
											<th class="ordercol" style="text-align: right;">Total</th>
											<th class="ordercol" style="text-align: center;">72381523</th>
											<th class="ordercol" style="text-align: center;"></th>
										</tr>
									</tfoot>
								</table>
							</div>
						</span>

					</div>
				</div>


				<div class="collapsible" id="nav-section1"
					style="margin-top: 3px; margin-bottom: 3px;border:1px solid #000;">
					<span style="margin-right: 20px;">Style#: Rgb1234</span> <span
						style="margin-right: 20px;">Delivery Date 23-Dec-2012</span> <span
						style="margin-right: 20px;">Qty: 12</span> <span
						class="pull-right" style="margin-right: 20px;">Total:
						50000</span>
				</div>
				<div>
					<div>
						<span style="width: 10%">
							<div>
								<a> <img alt="" style="max-height: 80px; max-width: 50;"
									ng-src=images/paste4.jpg class="pull-left"></a>
							</div>
						</span> <span style="width: 90%">
							<div class="span8">
								<table class="table condensed-table">
									<thead>
										<tr>
											<th class="Colour">Color</th>
											<th class="ordercol" style="text-align: center;"></th>
											<th class="ordercol" style="text-align: center;">S</th>
											<th class="ordercol" style="text-align: center;">M</th>
											<th class="ordercol" style="text-align: center;">L</th>
											<th class="ordercol" style="text-align: center;">Qty</th>
											<th class="ordercol" style="text-align: center;">Amt</th>
											<th class="ordercol" style="text-align: center;">Total</th>
											<th class="ordercol" style="text-align: center;"></th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td class="Colour">Greeen Sawoebr wiehq</td>
											<td class="ordercol" style="text-align: center;"><img
												style="margin-top: 5px; width: 20px; height: 20px;"
												src="img/Red.jpeg"></td>
											<td class="ordercol" style="text-align: center;">1</td>
											<td class="ordercol" style="text-align: center;">2</td>
											<td class="ordercol" style="text-align: center;">3</td>
											<td class="ordercol" style="text-align: center;">6</td>
											<td class="ordercol" style="text-align: center;">45646</td>
											<td class="ordercol" style="text-align: center;">45646</td>
											<!-- <td>X</td> -->
										</tr>
										<tr>
											<td class="Colour">Greeen Sawoebr wiehq</td>
											<td class="ordercol" style="text-align: center;"><img
												style="margin-top: 5px; width: 20px; height: 20px;"
												src="img/Red.jpeg"></td>
											<td class="ordercol" style="text-align: center;">1</td>
											<td class="ordercol" style="text-align: center;">2</td>
											<td class="ordercol" style="text-align: center;">3</td>
											<td class="ordercol" style="text-align: center;">6</td>
											<td class="ordercol" style="text-align: center;">45646</td>
											<td class="ordercol" style="text-align: center;">45646</td>
											<!-- <td>X</td> -->
										</tr>

									</tbody>
									<tfoot>
										<tr>
											<th class="Colour" style="text-align: center;">
												<!-- 	<a
											style="padding-top: 0px; background-color: transparent; border: 0px solid transparent;">+Add
												More</a> -->

											</th>
											<th class="ordercol" style="text-align: center;"></th>
											<th class="ordercol" style="text-align: center;">2</th>
											<th class="ordercol" style="text-align: center;">4</th>
											<th class="ordercol" style="text-align: center;">6</th>
											<th class="ordercol" style="text-align: center;">12</th>
											<th class="ordercol" style="text-align: right;">Total</th>
											<th class="ordercol" style="text-align: center;">72381523</th>
											<th class="ordercol" style="text-align: center;"></th>
										</tr>
									</tfoot>
								</table>
							</div>
						</span>

					</div>
				</div>


				<div>
					<ul class="nav nav-tabs nav-stacked pull-right">
						<li
							style="font: normal 12px Lato, Arial, sans-serif; text-transform: uppercase;">Qty:24</li>
						<li
							style="font: normal 12px Lato, Arial, sans-serif; text-transform: uppercase; margin-right: 20px;">Grand
							Total:10,00,000</li>
					</ul>
				</div>
				<div class="divi2"></div>


				<div class="underline">
					<span class="leftpane_entity">Remarks</span>
				</div>
				<div>
					<div class="divi2"></div>
					<textarea class="span9" id="textarea" rows="3"
						placeholder="Add your remarks here?" ng-model="newupdate">
            </textarea>
					<img ng-show="addingupdate" src="img/ajax-loadersmall.gif"
						style="float: left; margin-left: 5px;">
					<div class="divi2"></div>
					<ul class="nav nav-tab nav-stacked">
						<li>
							<div class="newsfeed">
								<div>
									<a ng-click="deleteupdate(news.statusid)" title="Delete post"
										class="pull-right" style="margin-left: 3px;"> <i
										class="icon-remove icon-Black"></i>
									</a>
								</div>
								<div class="brand_image">
									<a ng-href="#/{{news.profileid}}/profile"> <img alt=""
										ng-src="img/donna_karan_adriana_lima_3.jpg" class="pull-left"></a>
								</div>
								<div class="newsfeed_text">
									<p>
										<a ng-href="#/{{news.profileid}}/profile" title="">Still
											Waters</a>
									</p>
									<p>Lorem Ipsum is simply dummy text of the printing and
										typesetting industry. Lorem Ipsum has been the industry's
										standard dummy text ever since the 1500s, when an unknown
										printer took a galley of type and scrambled it to make a type
										specimen book. It has survived not only five centuries, but
										als</p>
								</div>
								<div>
									<img ng-show="deletingupdate" src="img/ajax-loadersmall.gif"
										style="float: right; margin-right: 5px;">
								</div>
							</div>
						</li>
					</ul>
				</div>
				<div class="divi2"></div>
				<div>
					<label style="font-family: 'Lato', sans-serif; font-weight: 400;"
						class="checkbox"> <input type="checkbox"> I Agree
						to Terms & Conditions
					</label>
					<button type="submit" data-loading-text="Please wait..."
						class="btn btn-inverse pull-right">Submit</button>

				</div>


			</div>

		</div>
		<!-- right pane -->

		<!-- left pane -->
		<div class="span3">
			<div class="underline">
				<span ui-if="!iambrand" class="leftpane_entity">Contact
					INFORMATION </span> <span ui-if="iambrand" class="leftpane_entity">Contact
					INFORMATION </span>
			</div>
			<div class="divi2"></div>
			<div class="revieworder">
				<!-- <span class="brand_image"><a> <img alt=""
									ng-src="img/donna_karan_adriana_lima_3.jpg" class="pull-left"></a>
							</span>  -->
				<span class="revieworder_text">
					<p>
						<span>Veawe Network</span>
					</p>
					<p class="revieworderdetails">Lorem Ipsum is simply duof type
						and scrambled it to make a</p>
					<p class="revieworderdetails">Lorem Ipsum is simply duoto make
						a</p>
					<p class="networkdetails rupee">
						<span> <span style="margin-right: 3px;">India</span>
						</span>
					</p>
					<p class="networkdetails rupee">
						<span> <span style="margin-right: 3px;">Hyderabad</span> <span></span>
							5000038
						</span>
					</p>
					<p>
						<span><a ng-href="#">Mobile: 9945788034</a></span>
					</p>
				</span>
			</div>
		</div>
		<!-- left pane -->

	</div>

</div>


<script type="text/javascript">
	jQuery(document).ready(function() {
		//collapsible management
		jQuery('.collapsible').collapsible({
		// defaultOpen: 'nav-section1,nav-section3'
		});
	});
</script>
