<!--body-->
<div class="container minimum_height">
	<div class="row">
		<!-- left-pane -->
		<div class="span3">
			<div class="underline">
				<span ui-if="!iambrand" class="leftpane_entity">Boutique </span> <span
					ui-if="iambrand" class="leftpane_entity">Brand </span>
			</div>
			<div class="divi2"></div>
			<ul class="thumbnails">
				<li class="span3">
					<div>
						<span> <a ui-if="isMyProfile" ng-href="#profile"> <img
								alt="" ng-src={{profilepic.thumbnail_url}}
								class="pull-left leftpane_profile_img"></a> <a
							ui-if="!isMyProfile" ng-href="#/{{profileid}}/profile"> <img
								alt="" ng-src={{profilepic.thumbnail_url}}
								class="pull-left leftpane_profile_img"></a>
						</span> <span> <a ui-if="isMyProfile" ng-href="#profile"
							class="leftpane_entity_name">{{entityname}}</a> <a
							ui-if="!isMyProfile" ng-href="#/{{profileid}}/profile"
							class="leftpane_entity_name">{{entityname}}</a>
						</span>
					</div>
				</li>
			</ul>
			<div class="leftpane_subheading">FILTERS</div>
			<div class="divi2"></div>
			<div>
				<div ng-show="isMyProfile && !iambrand">
					<span class="leftpane_filter_name">BRAND</span> <input type="text"
						class="span3" placeholder="Brand name"
						ng-model="searchlinesheets.brandname"
						ng-change="searchlinesheetsfn()" />
				</div>
				<span class="leftpane_filter_name">SEASON</span> <input type="text"
					class="span3" placeholder="Season name"
					ng-model="searchlinesheets.linesheetname"
					ng-change="searchlinesheetsfn()" />
			</div>
			<div>
				<div class="divi2"></div>
				<div ng-show="searchdeliverydate == 'daterange'">
					<span class="leftpane_filter_name">Date range</span> <br> <input
						type="text" class="spanpricerange-leftpane"
						ng-change="searchlinesheetsfn()" placeholder="Enter from date"
						ng-model="fromdate" ui-date /> - <input type="text"
						class="spanpricerange-leftpane" ng-change="searchlinesheetsfn()"
						placeholder="Enter to date" ng-model="todate" ui-date />
				</div>
				<div class="divi2"></div>

				<div>
					<span class="leftpane_filter_name">Price range</span> <br> <input
						type="number" class="spanpricerange-leftpane"
						ng-model="searchlinesheets.fromprice"
						ng-change="searchlinesheetsfn()" placeholder="From price" /> - <input
						type="number" class="spanpricerange-leftpane"
						ng-model="searchlinesheets.toprice"
						ng-change="searchlinesheetsfn()" placeholder="To price" />

				</div>
				<div class="divi2"></div>
				<span class="leftpane_filter_name">CATEGORY</span>
			</div>
			<div>
				<div checkbox-tree ng-model="searchFilter"
					ng-change="searchlinesheetsfn()"></div>
			</div>
		</div>
		<!-- left-pane -->
		<!-- right pane -->
		<div class="span9">

			<!-- header pane -->
			<div style="border-bottom: 1px solid black;">
				<span class="left rightpane_subHeading"> Lines </span> <span
					class="right"> <a ng-href="#{{backButton}}"
					class="rightpane_back_btn">Back</a></span>
			</div>
			<div style="border-bottom: 1px solid black; margin-bottom: 10px;">
				<span class="left right_pane_info"> Find lines using the
					filters </span> <span class="right" ui-if="isMyProfile && iambrand">
					<a data-toggle="modal" ng-href="#Createlinesheet"
					class="rightpane_add_btn">Create line</a>
				</span>
			</div>
			<!-- header pane -->

			<div>
				<div ng-show="gettingstylesheets">
					<img src="img/ajax-loadersmall.gif" style="float: left;"> <br>
				</div>

				<ul class="thumbnails">
					<li ng-repeat="linesheet in linesheets">
						<div class="rgt-thumb-relative">
							<img ng-src="{{linesheet.gallerypic}}" class="style-images">
							<div class="masklayer">
								<h1 class="editdel" ui-if="isMyProfile && iambrand">
									<a ng-click="deletelinesheet(linesheet.galleryid)"
										title="Delete"><i class="icon-trash icon-white"></i></a> <a
										ng-click="editlinesheet(linesheet.galleryid, linesheet.galleryname, linesheet.category, linesheet.deliverydate)"
										title="Edit"><i class="icon-edit icon-white"></i></a>
								</h1>
								<!-- <h1 class="linesheet-brandname">{{linesheet.brandname}}</h1>
								<h1 class="linesheet-season-name">
									<i>{{linesheet.galleryname}}</i>
								</h1> -->
								<p class="linesheet-delivery-date">
									<u>Delivery Date</u>
								</p>
								<p class="date">
									<i>{{linesheet.deliverydate}}</i>
								</p>
								<p>
									<a ui-if="isMyProfile" class="view"
										ng-href="#/styles?id={{linesheet.galleryid}}&&cat={{linesheet.category}}">
										View </a> <a ui-if="!isMyProfile" class="view"
										ng-href="#/{{profileid}}/styles?id={{linesheet.galleryid}}&&cat={{linesheet.category}}">
										View </a>
								</p>

							</div>
						</div>
						<div class="linesheet-designer">
							<h1 class="designer">{{linesheet.brandname}}</h1>
						</div>
						<div class="linesheet-season">
							<h1 class="season">{{linesheet.galleryname}}</h1>
						</div>
					</li>
				</ul>
				<div get-more="getmorelinesheets()">
					<div ng-show="gettingmorelinesheets">
						<center>
							<img src="img/ajax-loadersmall.gif"><br>
						</center>
					</div>
					<div ng-show="nomoredataavailable1">End of data</div>
				</div>
			</div>
		</div>
	</div>
	<!--body-->
	<!-- modal -->
	<div class="modal  hide" id="Createlinesheet">
		<form name="addform">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"></button>
				<h4 class="subHeading_no_underline">Create Line sheet</h4>
			</div>
			<div class="modal-body">
				<span class="leftpane_filter_name">SEASON</span>
				<div>
					<!-- <input type="text" ng-model="linesheetname" class="span4"
						placeholder="Enter linesheet season" /> -->
					<select id="e10" class="populate span4" ng-model="linesheetname"
						required>
						<option value="">-- Choose Season --</option>
						<option value="Spring Summer 2012">Spring Summer 2012</option>
						<option value="Fall Winter 2012">Fall Winter 2012</option>
						<option value="Spring Summer 2013">Spring Summer 2013</option>
						<option value="Fall Winter 2013">Fall Winter 2013</option>
						<option value="Spring Summer 2014">Spring Summer 2014</option>
						<option value="Fall Winter 2014">Fall Winter 2014</option>
						<option value="Spring Summer 2015">Spring Summer 2015</option>
						<option value="Fall Winter 2015">Fall Winter 2015</option>
						<option value="Spring Summer 2016">Spring Summer 2016</option>
						<option value="Fall Winter 2016">Fall Winter 2016</option>
					</select>

				</div>
				<!-- 				<span class="leftpane_filter_name">Year</span>
				<div>
					 <input type="number"  class="span4" placeholder="Year"
	                                name="seasonyear" maxlength="4" required ng:pattern="/^\s*(\-|\+)?(\d+|(\d*(\.\d*)))\s*$/"
	                                min="1900" max="2030" ng-minlength="4" />
						
				</div> -->
				<span class="leftpane_filter_name">Category</span>
				<div>
					<select id="e1" class="populate span4" ng-model="linesheetcat"
						required
						ng-options="cat.productlinename as cat.productlinename group by cat.category for cat in defaultcategories">
						<option value="">-- Choose Category --</option>
					</select>
				</div>
				<div>
					<ul class="nav nav-horizontal left">
						<li><span class="left" ng-show="isMyProfile"> <input
								type="radio" name="Date" checked value="true"
								ng-model="immediate"> Immediates <input type="radio"
								name="Date" value="false" ng-model="immediate"> Delivery
								date
						</span></li>
					</ul>
				</div>
				<div>
					<input type="text" class="span4" placeholder="Enter delivery date"
						ng-model="deliverydate" ui-date ng-hide="immediate == 'true'" />
				</div>
			</div>
			<div class="modal-footer">
				<a href="#" class="btn" data-dismiss="modal">Close</a>
				<button class="btn btn-inverse" data-dismiss="modal"
					ng-disabled="addform.$invalid" ng-click="createlinesheet()">
					Create linesheet</button>
			</div>
		</form>
	</div>
	<!-- modal -->
	<div ui-modal class="modal  hide" ng-model="showEditLinesheet"
		id="Editlinesheet">
		<form name="editform">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"></button>
				<h4 class="subHeading_no_underline">Edit Line sheet</h4>
			</div>
			<div class="modal-body">
				<div>
					<input type="text" ng-model="editlinesheetname" class="span4"
						required ng-minlength="3" ng-maxlength="20"
						placeholder="Enter linesheet season" />
				</div>
				<div class="divi2"></div>
				<div>
					<select id="e1" class="populate span4" ng-model="editlinesheetcat"
						ng-disabled=true
						ng-options="cat.productlinename as cat.productlinename group by cat.category for cat in defaultcategories">
					</select>
				</div>
				<div class="divi2"></div>
				<div>
					<ul class="nav nav-horizontal left">
						<li><span class="left" ng-show="isMyProfile"> <input
								type="radio" name="Date" checked value="true"
								ng-model="editimmediate"> Immediates <input type="radio"
								name="Date" value="false" ng-model="editimmediate">
								Delivery date
						</span></li>
					</ul>
				</div>
				<div class="divi2"></div>
				<div>
					<input type="text" class="span4" placeholder="Enter delivery date"
						required ng-model="editdeliverydate" ui-date
						ng-hide="editimmediate == 'true'" />
				</div>
			</div>
			<div class="modal-footer">
				<a href="#" class="btn" data-dismiss="modal">Close</a>
				<button class="btn btn-inverse" ng-disabled="editform.$invalid"
					ng-click="updatelinesheet()">Edit linesheet</button>
			</div>
		</form>
	</div>
	<!-- modal -->