        .btn-primary {
  background-color: #0074cc !important;
  *background-color: #0055cc !important;
  background-repeat: repeat-x !important;
   border-left-color: #0055cc;
    border-right-color: #0055cc;
    border-top-color: #0055cc;
    border-bottom-color: #003580;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25) !important;
 background-image: none;
    filter: none;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] {
  background-color: #0055cc !important;
  *background-color: #004ab3 !important;
}

.btn-primary:active,
.btn-primary.active {
  background-color: #004099 \9 !important;
}



.small_brandprofile , .small_boutiqueprofile
{
color: black;
font:normal 14px Verdana;
text-transform:uppercase;
border-bottom:solid 1px rgba(0, 0, 0, 1);
width:130px;
}

.notification-list-item {
	height:60px;
    color: #666;
    padding: 6px;
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #fff;
    position: relative;
    cursor: pointer;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
	width:300px;
	
}
.notification-list-item:first-child {
    border-top: none;
}

.notification-list-item:last-child {
    border-bottom: none;
}

.bubble
		{
		  background: #e02424;  		
		  position: absolute;
		  right: 14px;
		  top:-2px;
		  padding: 2px 5px;
		  color: #fff;
		  font: bold .6em Tahoma, Arial, Helvetica;
		  -moz-border-radius: 3px;
		  -webkit-border-radius: 3px;
		  border-radius: 3px;
		}
.unread-ntf{font-weight:bold;width:280px;
}
.read-ntf{font-weight:normal;width:280px;
}

