<!--body-->
<div class="container minumum_height">
    <div class="row">
        <!-- left pannel -->
        <div class="span8">
            <span class="left">
                <h4 class="subHeading_no_underline">
                    Video Campaign</h4>
            </span><span id="span1"><span class="right"><a href="{{backButton}}" class="add_edit adjust_height">
                Back to Video Campaign</a></span></span>
            <div class="divi2 topborderline">
            </div>
            <div id="player">
            </div>
        </div>
        <!-- left pannel -->
        <!-- right pannel -->
        <div class="span4">
            <div>
                <h4 class="subHeading_advertisement">
                    Related Videos</h4>
                <div class="divi2">
                </div>
                <ul class="nav nav-tab nav-stacked">
                    <li ng-repeat="video in videos">
                        <div class="advertisementfeed">
                            <div class="brand_image">
                                <a href="#/{{video.videolistitemid}}">
                                    <img alt="" src="{{video.videothumbnail}}" class="pull-left"></a></div>
                            <div class="videos_text">
                                <h3>
                                    <a href="#/{{video.videolistitemid}}" title="">{{video.videoname}}</a></h3>
                                <p>
                                    {{video.videodescription}}</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <!-- right pannel -->
    </div>
</div>
<!--body-->
