<!--body-->
<div class="container minimum_height">
	<div class="row">
		<!-- left-pane -->
		<div class="span3">
			<div class="underline">
				<span ui-if="!iambrand" class="leftpane_entity">Boutique </span> <span
					ui-if="iambrand" class="leftpane_entity">Brand </span>
			</div>
			<div class="divi2"></div>
			<ul class="thumbnails">
				<li class="span3">
					<div>
						<span> <a ui-if="isMyProfile" ng-href="#profile"> <img
								alt="" ng-src={{profilepic.thumbnail_url}}
								class="pull-left leftpane_profile_img"></a> <a
							ui-if="!isMyProfile" ng-href="#/{{profileid}}/profile"> <img
								alt="" ng-src={{profilepic.thumbnail_url}}
								class="pull-left leftpane_profile_img"></a>
						</span> <span> <a ui-if="isMyProfile" ng-href="#profile"
							class="leftpane_entity_name">{{entityname}}</a> <a
							ui-if="!isMyProfile" ng-href="#/{{profileid}}/profile"
							class="leftpane_entity_name">{{entityname}}</a>
						</span>
					</div>
				</li>
			</ul>
			
			
		</div>
		<!-- left-pane -->
		<!-- right pane -->
		<div class="span9">

			<!-- header pane -->
			<div style="border-bottom: 1px solid black;">
				<span class="left rightpane_subHeading">Create Line Sheet</span> <span
					class="right"> <a ng-href="#{{backButton}}"
					class="rightpane_back_btn">Back</a></span>
			</div>
			
			<!-- header pane -->

			<div>
				<form novalidate  name="form">
				<br>
			<label>Designer Name</label>
			
			 <input type="text" ng-model="entity.email" class="span5"  maxlength="50" name="uEmail" required ng-pattern="/^[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,4}$/"
              ui-validate="{oldemail:emailchanged}" 	placeholder="Designer Name">
			  <span ng-show="form.uEmail.$dirty && form.uEmail.$invalid">
              <span ng-show="form.uEmail.$error.required" style="font-family: 'Lato', sans-serif; font-weight: 300;color:red;" class="validation_msg">Required</span>
              <span ng-show="form.uEmail.$error.pattern" style="font-family: 'Lato', sans-serif; font-weight: 300;color:red;" class="validation_msg">Invalid</span>
              <span ng-show="form.uEmail.$error.oldemail" style="font-family: 'Lato', sans-serif; font-weight: 300;color:red;" class="validation_msg">This email is already
              registered</span>
              </span>
				
				
				 <label>Season Name</label>
				 
				 <select id="e10" class="populate span5" ng-model="linesheetname"
						required>
						<option value="">-- Choose Season --</option>
						<option value="Spring Summer 2012">Spring Summer 2012</option>
						<option value="Fall Winter 2012">Fall Winter 2012</option>
						<option value="Spring Summer 2013">Spring Summer 2013</option>
						<option value="Fall Winter 2013">Fall Winter 2013</option>
						<option value="Spring Summer 2014">Spring Summer 2014</option>
						<option value="Fall Winter 2014">Fall Winter 2014</option>
						<option value="Spring Summer 2015">Spring Summer 2015</option>
						<option value="Fall Winter 2015">Fall Winter 2015</option>
						<option value="Spring Summer 2016">Spring Summer 2016</option>
						<option value="Fall Winter 2016">Fall Winter 2016</option>
					</select>
				  
				 <label>Category</label>
					<select id="e1" class="populate span5" ng-model="linesheetcat"
						required
						ng-options="cat.productlinename as cat.productlinename group by cat.category for cat in defaultcategories">
						<option value="">-- Choose Category --</option>
					</select>
			 <label>Type</label>
				<select id="e1" class="populate span5" ng-model="linesheetcat"
						required
						ng-options="cat.productlinename as cat.productlinename group by cat.category for cat in defaultcategories">
						<option value="">-- Choose Type --</option>
					</select>
				          
				
				
			<button type="submit" ng-disabled="form.$invalid"
                                data-loading-text="Please wait..." ng-click="addEntity($event)" class="btn btn-inverse pull-right">Create Linesheet</button>
		</form>

				
				
			</div>
		</div>
	</div>
	<!--body-->
	
