<!--body-->
<div class="container minimum_height">
	<div class="row">
		<!-- left-pane -->
		<div class="span3">
			<div class="underline">
				<span ui-if="!iambrand" class="leftpane_entity">Boutique </span> <span
					ui-if="iambrand" class="leftpane_entity">Brand </span>
			</div>
			<div class="divi2"></div>
			<ul class="thumbnails">
				<li class="span3">
					<div>
						<span> <a ui-if="isMyProfile" ng-href="#profile"> <img
								alt="" ng-src={{profilepic.thumbnail_url}}
								class="pull-left leftpane_profile_img"></a> <a
							ui-if="!isMyProfile" ng-href="#/{{profileid}}/profile"> <img
								alt="" ng-src={{profilepic.thumbnail_url}}
								class="pull-left leftpane_profile_img"></a>
						</span> <span> <a ui-if="isMyProfile" ng-href="#profile"
							class="leftpane_entity_name">{{entityname}}</a> <a
							ui-if="!isMyProfile" ng-href="#/{{profileid}}/profile"
							class="leftpane_entity_name">{{entityname}}</a>
						</span>
					</div>
				</li>
			</ul>
			<div class="leftpane_subheading">FILTERS</div>
			<div class="divi2"></div>
			<div>
				<div ng-show="isMyProfile && !iambrand">
					<span class="leftpane_filter_name">BRAND</span> <input type="text"
						class="span3" placeholder="Brand name"
						ng-model="searchlinesheets.brandname"
						ng-change="searchlinesheetsfn()" />
				</div>
				<span class="leftpane_filter_name">SEASON</span> <input type="text"
					class="span3" placeholder="Season name"
					ng-model="searchlinesheets.linesheetname"
					ng-change="searchlinesheetsfn()" />
			</div>
			<div>
				<div class="divi2"></div>
				<div ng-show="searchdeliverydate == 'daterange'">
					<span class="leftpane_filter_name">Date range</span> <br> <input
						type="text" class="spanpricerange-leftpane"
						ng-change="searchlinesheetsfn()" placeholder="Enter from date"
						ng-model="fromdate" ui-date /> - <input type="text"
						class="spanpricerange-leftpane" ng-change="searchlinesheetsfn()"
						placeholder="Enter to date" ng-model="todate" ui-date />
				</div>
				<div class="divi2"></div>

				<div>
					<span class="leftpane_filter_name">Price range</span> <br> <input
						type="number" class="spanpricerange-leftpane"
						ng-model="searchlinesheets.fromprice"
						ng-change="searchlinesheetsfn()" placeholder="From price" /> - <input
						type="number" class="spanpricerange-leftpane"
						ng-model="searchlinesheets.toprice"
						ng-change="searchlinesheetsfn()" placeholder="To price" />

				</div>
				<div class="divi2"></div>
				<span class="leftpane_filter_name">CATEGORY</span>
			</div>
			<div>
				<div checkbox-tree ng-model="searchFilter"
					ng-change="searchlinesheetsfn()"></div>
			</div>
		</div>
		<!-- left-pane -->
		<!-- right pane -->
		<div class="span9">

			<!-- header pane -->
			<div style="border-bottom: 1px solid black;">
				<span class="left rightpane_subHeading"> Lines </span> <span
					class="right"> <a ng-href="#{{backButton}}"
					class="rightpane_back_btn">Back</a></span>
			</div>
			<div style="border-bottom: 1px solid black; margin-bottom: 10px;">
				<span class="left right_pane_info"> Find lines using the
					filters </span> <span class="right" ui-if="isMyProfile && iambrand">
					<a data-toggle="modal" ng-href="#Createlinesheet"
					class="rightpane_add_btn">Create line</a>
				</span>
			</div>
			<!-- header pane -->

			<div>
				<div ng-show="gettingstylesheets">
					<img src="img/ajax-loadersmall.gif" style="float: left;"> <br>
				</div>

				<ul class="thumbnails">
					<li ng-repeat="linesheet in linesheets">
						<div class="rgt-thumb-relative">
							<img ng-src="{{linesheet.gallerypic}}" class="style-images">
							<div class="masklayer">
								<h1 class="editdel" ui-if="isMyProfile && iambrand">
									<a ng-click="deletelinesheet(linesheet.galleryid)"
										title="Delete"><i class="icon-trash icon-white"></i></a> <a
										ng-click="editlinesheet(linesheet.galleryid, linesheet.galleryname, linesheet.category, linesheet.deliverydate)"
										title="Edit"><i class="icon-edit icon-white"></i></a>
								</h1>
								<!-- <h1 class="linesheet-brandname">{{linesheet.brandname}}</h1>
								<h1 class="linesheet-season-name">
									<i>{{linesheet.galleryname}}</i>
								</h1> -->
								<p class="linesheet-delivery-date">
									<u>Delivery Date</u>
								</p>
								<p class="date">
									<i>{{linesheet.deliverydate}}</i>
								</p>
								<p>
									<a ui-if="isMyProfile" class="view"
										ng-href="#/styles?id={{linesheet.galleryid}}&&cat={{linesheet.category}}">
										View </a> <a ui-if="!isMyProfile" class="view"
										ng-href="#/{{profileid}}/styles?id={{linesheet.galleryid}}&&cat={{linesheet.category}}">
										View </a>
								</p>

							</div>
						</div>
						<div class="linesheet-designer">
							<h1 class="designer">{{linesheet.brandname}}</h1>
						</div>
						<div class="linesheet-season">
							<h1 class="season">{{linesheet.galleryname}}</h1>
						</div>
					</li>
				</ul>
				<div get-more="getmorelinesheets()">
					<div ng-show="gettingmorelinesheets">
						<center>
							<img src="img/ajax-loadersmall.gif"><br>
						</center>
					</div>
					<div ng-show="nomoredataavailable1">End of data</div>
				</div>
			</div>
		</div>
	</div>
	<!--body-->
