<!--body-->
<div class="container minumum_height">
    <div class="row">
        <!-- left pannel -->
        <div class="span12">
            <div>
                <span class="left">
                    <h4 class="subHeading_no_underline">
                        Add Collections</h4>
                </span><span id="span_btns" class="right"><a href="#{{backButton}}" class="add_edit adjust_height">
                    Back</a></span>
                <div class="divi2 topborderline">
                </div>
            </div>
            <div>
                <!-- data pannel -->
                <div>
                    <form novalidate class="form-horizontal css-form" name="form" id="fileupload" action="server/php/"
                    method="POST" enctype="multipart/form-data">
                    <div class="control-group pull-left">
                        <label class="control-label">
                            Category</label>
                        <div class="controls">
                            <select id="Select1" class="span4" ng-model="collection.categorytype" ng-init="collection.categorytype = categories[0]"
                                ng-options="category.categorytype for category in categories">
                            </select>
                        </div>
                        <div class="divi2">
                        </div>
                        <label class="control-label">
                            Description</label>
                        <div class="controls">
                            <textarea class="span4" id="Textarea1" placeholder="Description" rows="5" ng-model="collection.description"
                                name="uDescription" ng-maxlength="200" required></textarea>
                            <div ng-show="form.uDescription.$dirty && form.uDescription.$invalid">
                                <span ng-show="form.uDescription.$error.required" class="validation_msg">Description
                                    is Required</span> <span ng-show="form.uDescription.$error.maxlength" class="validation_msg">
                                        Description Not To Exceed 200 Characters</span>
                            </div>
                        </div>
                        <div class="divi2">
                        </div>
                        <label class="control-label">
                            Privacy</label>
                        <div class="controls">
                            <select id="Select2" class="span4" ng-model="collection.privacytype" ng-init="collection.privacytype = privacyset[0]"
                                ng-options="privacy.privacytype for privacy in privacyset">
                            </select>
                        </div>
                        <div class="divi2">
                        </div>
                        <!-- The table listing the files available for upload/download -->
                        <table role="presentation" class="table table-striped">
                            <tbody class="files" data-toggle="modal-gallery" data-target="#modal-gallery">
                            </tbody>
                        </table>
                        <div class="row fileupload-buttonbar">
                            <div class="span-add">
                                <!-- The fileinput-button span is used to style the file input field as button -->
                                <span class="btn btn-success fileinput-button"><i class="icon-plus icon-white"></i><span>
                                    Add files...</span>
                                    <input type="file" name="files[]" multiple>
                                </span>
                                <button type="submit" class="btn btn-primary start">
                                    <i class="icon-upload icon-white"></i><span>Start upload</span>
                                </button>
                                <button type="reset" class="btn btn-warning cancel">
                                    <i class="icon-ban-circle icon-white"></i><span>Cancel upload</span>
                                </button>
                                <button type="button" class="btn btn-danger delete">
                                    <i class="icon-trash icon-white"></i><span>Delete</span>
                                </button>
                                <input type="checkbox" class="toggle">
                                <button type="button" class="btn btn-primary pull-right" ng-disabled="form.$invalid" ng-click="AddCollection(collection)">
                                    <i class=""></i><span>Save & exit</span>
                                </button>
                            </div>
                            <!-- The global progress information -->
                            <div class="span5 fileupload-progress fade">
                                <!-- The global progress bar -->
                                <div class="progress progress-success progress-striped active" role="progressbar"
                                    aria-valuemin="0" aria-valuemax="100">
                                    <div class="bar" style="width: 0%;">
                                    </div>
                                </div>
                                <!-- The extended global progress information -->
                                <div class="progress-extended">
                                    &nbsp;</div>
                            </div>
                        </div>
                        <!-- The loading indicator is shown during file processing -->
                        <div class="fileupload-loading">
                        </div>
                    </div>
                    </form>
                </div>
                <!-- data pannel -->
            </div>
        </div>
        <!-- left pannel -->
        <!-- right pannel -->
        <!--   <div class="span3">
            <h4 class="subHeading_advertisement">
                LineSheet</h4>
            <div class="divi2">
            </div>
            <ul class="thumbnails">
                <li class="span3" ng-repeat="linesheet in linesheets | limitTo:4">
                    <div>
                        <a href="#/{{linesheet.linesheetlistitemid}/profile">
                            <img alt="" ng-src="{{linesheet.linesheetcoverpic}}" class="pull-left"></a>
                        <a href="#/{{linesheet.linesheetlistitemid}}/profile" class="brandname_title">{{linesheet.linesheetseason}}</a>
                    </div>
                </li>
            </ul>
            <div>
                <h4 class="subHeading_advertisement">
                    Styles</h4>
                <div class="divi2">
                </div>
                <ul class="nav nav-tab nav-stacked">
                    <li ng-repeat="style in styles">
                        <div class="advertisementfeed">
                            <div class="brand_image">
                                <a href="#/{{style.stylelistitemid}}">
                                    <img alt="" ng-src="{{style.stylecoverpic}}" class="pull-left"></a></div>
                            <div class="advertisement_text">
                                <h3>
                                    <a href="#/{{trend.trendlistitemID}}" title="">{{style.stylename}}</a></h3>
                                <p>
                                    {{style.stylename}}</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>-->
        <!-- right pannel -->
    </div>
</div>
<script id="template-upload" type="text/x-tmpl">
{% for (var i=0, file; file=o.files[i]; i++) { %}
    <tr class="template-upload fade">
        <td class="preview"><span class="fade"></span></td>
        <td class="name"><span>{%=file.name%}</span></td>
        <td class="size"><span>{%=o.formatFileSize(file.size)%}</span></td>
        {% if (file.error) { %}
            <td class="error" colspan="2"><span class="label label-important">{%=locale.fileupload.error%}</span> {%=locale.fileupload.errors[file.error] || file.error%}</td>
        {% } else if (o.files.valid && !i) { %}
            <td>
                <div class="progress progress-success progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0"><div class="bar" style="width:0%;"></div></div>
            </td>
            <td class="start">{% if (!o.options.autoUpload) { %}
                <button class="btn btn-primary">
                    <i class="icon-upload icon-white"></i>
                    <span>{%=locale.fileupload.start%}</span>
                </button>
            {% } %}</td>
        {% } else { %}
            <td colspan="2"></td>
        {% } %}
        <td class="cancel">{% if (!i) { %}
            <button class="btn btn-warning">
                <i class="icon-ban-circle icon-white"></i>
                <span>{%=locale.fileupload.cancel%}</span>
            </button>
        {% } %}</td>
    </tr>
{% } %}
</script>
<!-- The template to display files available for download -->
<script id="template-download" type="text/x-tmpl">
{% for (var i=0, file; file=o.files[i]; i++) { %}
    <tr class="template-download fade">
        {% if (file.error) { %}
            <td></td>
            <td class="name"><span>{%=file.name%}</span></td>
            <td class="size"><span>{%=o.formatFileSize(file.size)%}</span></td>
            <td class="error" colspan="2"><span class="label label-important">{%=locale.fileupload.error%}</span> {%=locale.fileupload.errors[file.error] || file.error%}</td>
        {% } else { %}
            <td class="preview">{% if (file.thumbnail_url) { %}
                <a href="{%=file.url%}" title="{%=file.name%}" rel="gallery" download="{%=file.name%}"><img src="{%=file.thumbnail_url%}"></a>
            {% } %}</td>
            <td class="name">
                <a href="{%=file.url%}" title="{%=file.name%}" rel="{%=file.thumbnail_url&&'gallery'%}" download="{%=file.name%}">{%=file.name%}</a>
            </td>
            <td class="size"><span>{%=o.formatFileSize(file.size)%}</span></td>
            <td colspan="2"></td>
        {% } %}
        <td class="delete">
            <button class="btn btn-danger" data-type="{%=file.delete_type%}" data-url="{%=file.delete_url%}">
                <i class="icon-trash icon-white"></i>
                <span>{%=locale.fileupload.destroy%}</span>
            </button>
            <input type="checkbox" name="delete" value="1">
        </td>
    </tr>
{% } %}
</script>
<script type="text/javascript">
    var $jq = jQuery.noConflict();
	</script>
<!-- The jQuery UI widget factory, can be omitted if jQuery UI is already included -->
<script src="lib/fileupload/vendor/jquery.ui.widget.js"></script>
<!-- The Templates plugin is included to render the upload/download listings -->
<script src="lib/fileupload/tmpl.js"></script>
<!-- The Load Image plugin is included for the preview images and image resizing functionality -->
<script src="lib/fileupload/load-image.min.js"></script>
<!-- The Canvas to Blob plugin is included for image resizing functionality -->
<script src="lib/fileupload/canvas-to-blob.min.js"></script>
<!-- Bootstrap JS and Bootstrap Image Gallery are not required, but included for the demo -->
<script src="lib/fileupload/bootstrap-image-gallery.min.js"></script>
<!-- The Iframe Transport is required for browsers without support for XHR file uploads -->
<script src="lib/fileupload/jquery.iframe-transport.js"></script>
<!-- The basic File Upload plugin -->
<script src="lib/fileupload/jquery.fileupload.js"></script>
<!-- The File Upload file processing plugin -->
<script src="lib/fileupload/jquery.fileupload-fp.js"></script>
<!-- The File Upload user interface plugin -->
<script src="lib/fileupload/jquery.fileupload-ui.js"></script>
<!-- The localization script -->
<script src="lib/fileupload/locale.js"></script>
<!-- The main application script -->
<script src="lib/fileupload/main.js"></script>
<!-- The XDomainRequest Transport is included for cross-domain file deletion for IE8+ -->
<!--body-->
