<?xml version="1.0" encoding="UTF-8"?>
<beans 	xmlns="http://www.springframework.org/schema/beans" 
  		xmlns:security="http://www.springframework.org/schema/security"
  		xmlns:p="http://www.springframework.org/schema/p"  
  		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
  		xsi:schemaLocation="http://www.springframework.org/schema/beans 
          	http://www.springframework.org/schema/beans/spring-beans.xsd 
          	http://www.springframework.org/schema/security 
          	http://www.springframework.org/schema/security/spring-security.xsd"> 
	
	<security:http pattern="/css/**" security="none"/>
	<security:http pattern="/img/**" security="none"/>
	<security:http pattern="/js/**" security="none"/>
	<security:http pattern="/lib/**" security="none"/>
	<security:http pattern="/brand_Registration.jsp" security="none" />
	<security:http pattern="/boutique_Registration.jsp" security="none" />
	
	<security:http pattern="/blog.jsp" security="none" />
	<security:http pattern="/Netvogue.jsp" security="none" />
	<security:http pattern="/brands.jsp" security="none" />
	<security:http pattern="/retailers.jsp" security="none" />
	<security:http pattern="/apply.jsp" security="none" />
	<security:http pattern="/terms.jsp" security="none" />
	<security:http pattern="/privacy.jsp" security="none" />
	<security:http pattern="/resetPassword" security="none" />
	<security:http pattern="/bl/response" security="none" />
	
	
	
	<security:http pattern="/favicon.ico" security="none" />
	
	
	<security:http pattern="/confirmRegisteration/**" security="none" />
	<security:http pattern="/forgotpassword.jsp" security="none" />
	
	
	<security:http pattern="/*/unsubscribe/**" security="none" />
		 
	<security:http auto-config="true" >	
		<security:custom-filter ref="captchaCaptureFilter" before="FORM_LOGIN_FILTER"/>
		<security:custom-filter ref="captchaVerifierFilter" after="FORM_LOGIN_FILTER"/>
		
		<security:intercept-url pattern="/Netvogue.jsp" access="IS_AUTHENTICATED_ANONYMOUSLY" />
		<security:intercept-url pattern="/forgotpassword.jsp" access="IS_AUTHENTICATED_ANONYMOUSLY" />
		<security:intercept-url pattern="/boutique_Registration.jsp" access="IS_AUTHENTICATED_ANONYMOUSLY" />
		<security:intercept-url pattern="/boutique/*" access="IS_AUTHENTICATED_ANONYMOUSLY" />
		<security:intercept-url pattern="/brand_Registration.jsp" access="IS_AUTHENTICATED_ANONYMOUSLY" />
		<security:intercept-url pattern="/brand/*" access="IS_AUTHENTICATED_ANONYMOUSLY" />
		
		<!-- <security:intercept-url pattern="/home.htm" access="ROLE_BOUTIQUE,ROLE_BRAND"/>
		<security:intercept-url pattern="/templates/**" access="ROLE_BOUTIQUE,ROLE_BRAND"/>
 		<security:intercept-url pattern="/**" access="ROLE_BOUTIQUE,ROLE_BRAND"/>  -->
		<!-- Security related to Boutiques --> 
 		<security:intercept-url pattern="/*/boutique/**" access="ROLE_BOUTIQUE"/>
		
		<!-- Form Login and Logout configuration -->
		<security:form-login 	login-page="/Netvogue.jsp" default-target-url="/home.htm" 
														authentication-failure-url="/Netvogue.jsp?login_error=true"/>
		<security:logout 		logout-url="/userLogout" logout-success-url="/" invalidate-session="true"/>
	</security:http>
	
	<!-- For capturing CAPTCHA fields -->
	<bean id="captchaCaptureFilter" class="org.netvogue.server.webmvc.filter.CaptchaCaptureFilter" />
	
	<!-- For verifying CAPTCHA fields -->
	<!-- Private key is assigned by the reCATPCHA service -->
	<bean id="captchaVerifierFilter" class="org.netvogue.server.webmvc.filter.CaptchaVerifierFilter" 
				p:useProxy="false" 
				p:proxyPort="" 
				p:proxyHost=""
				p:failureUrl="/Netvogue.jsp?login_error=true"
				p:captchaCaptureFilter-ref="captchaCaptureFilter"
				p:privateKey="6Lf_mdESAAAAAJecV8B5FvEj_JIysuV4dGOG-MF8"/>
	
	<!-- Declare an authentication-manager to use a custom userDetailsService -->
	<security:authentication-manager>
		<security:authentication-provider user-service-ref="NetvogueUserDetailsService">
           <security:password-encoder hash="sha">
                <security:salt-source user-property="salt"/>
           </security:password-encoder>
        </security:authentication-provider>
	</security:authentication-manager>
	
	<!--  <bean id="NetvogueUserDetailsService" class="org.netvogue.server.webmvc.security.NetvogueUserDetailsServiceImpl"/> -->
	
	<bean id="NetvogueUserDetailsService" class="org.netvogue.server.webmvc.security.MongoUserDetailsService">
		<constructor-arg ref="restInvoker" />
		<constructor-arg ref="customerServiceContext" />
	</bean>
	
</beans>